<div 
  x-show="$store.xEventCalendarDetail.show && $store.xEventCalendarDetail.sectionID == '{{ section.id }}'"
  x-cloak 
  class="event-calendar-popup flex items-end md:items-center fixed top-0 left-0 right-0 bottom-0 z-[60] bg-[#acacac] bg-opacity-30"
  {% if request.design_mode %}x-init="$store.xEventCalendarDetail.handleEventSelect()"{% endif %}
>
  <div
    x-show="$store.xEventCalendarDetail.show" 
    class="w-full mx-auto md:w-3/4 lg:w-3/5 max-w-[650px] pb-5 pt-10 md:pt-14 md:pb-14 relative md:pl-2.5 md:pr-2.5 lg:ml-auto lg:mr-auto bg-[rgba(var(--background-color),1)]{% if settings.edges_type == 'rounded_corners' %} rounded-[10px]{% endif %}"
    x-transition:enter="transition-all ease-in-out duration-500"
    x-transition:enter-start="opacity-0 transform translate-y-1/3"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    x-transition:leave="transition-all ease-in-out duration-500"
    x-transition:leave-end="opacity-0 transform translate-y-1/3"
    @click.away="$store.xEventCalendarDetail.close()"
  >
    <button 
      class="absolute cursor-pointer z-10 top-1 right-2 lg:top-3 md:right-8 rtl:right-auto rtl:left-2 rtl:md:left-8 pb-3 pt-3 pl-4 pr-4 h-11 w-11" 
      aria-label="button-close"
      @click="$store.xEventCalendarDetail.close()" 
    >
      {% render 'icon-alls', icon: 'icon-close' %}
    </button>
    
    <div class="pl-5 pr-5 lg:pr-10 lg:pl-10 relative bg-[rgba(var(--background-color),1)] overflow-y-auto overflow-x-hidden scrollbar-body max-h-[calc(85vh-96px)] md:max-h-[80vh]">
      <div 
        x-data='{ 
          item: JSON.parse(JSON.stringify(Alpine.store("xEventCalendarDetail").eventDetail)),
          setItem() {
            this.item = JSON.parse(JSON.stringify(Alpine.store("xEventCalendarDetail").eventDetail))
          }
        }'
        x-effect="setItem()"
      >
        <div class="relative">
          <h2 class="text-[rgba(var(--colors-heading))] text-center p-break-words" x-text="item.title">
          </h2>
          
          <div 
            class="relative text-center mt-3.5 flex gap-1.5 flex-wrap grow justify-center" 
            x-data="xEventCalendar(false)"
          >
            <template x-cloak x-if="item.offer_tickets && item.ticket_link">
              <a
                :href="item.ticket_link"
                class="button border button--{{ section.id }} flex flex-row rtl:flex-row-reverse empty:hidden !pl-5 !pr-5 md:pl-6 md:pr-6 pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal"
                @click="open = !open"
                :class="(item.ticket_button_label_style == 'primary') ? 'button-solid': (item.ticket_button_label_style == 'secondary' ? 'button-outline': 'button-text-link')"
              >
                <template x-if="item.ticket_button_label_style == 'text-link'">
                  <div class="relative block-text-button overflow-hidden">
                    <span x-text="item.ticket_button_label" class="button-text btn-text-link-effect-1 relative top-0 is-focus-button:opacity-0"></span>
                    <span x-text="item.ticket_button_label" class="button-text btn-text-link-effect-2 absolute top-full left-0 is-focus-button:opacity-0"></span>
                  </div>
                </template>
                <template x-if="item.ticket_button_label_style != 'text-link'">
                  <span x-text="item.ticket_button_label"></span>
                </template>
              </a>
            </template>
            <template x-cloak x-if="item.offer_tickets && !item.ticket_link">
              <div
                class="button border button--{{ section.id }} flex flex-row rtl:flex-row-reverse empty:hidden !pl-5 !pr-5 md:pl-6 md:pr-6 pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal opacity-60 cursor-not-allowed"
                @click="open = !open"
                :class="(item.ticket_button_label_style == 'primary') ? 'button-solid': (item.ticket_button_label_style == 'secondary' ? 'button-outline': 'button-text-link')"
              >
                <template x-if="item.ticket_button_label_style == 'text-link'">
                  <div class="relative block-text-button overflow-hidden">
                    <span x-text="item.ticket_button_label" class="button-text btn-text-link-effect-1 relative top-0 is-focus-button:opacity-0"></span>
                    <span x-text="item.ticket_button_label" class="button-text btn-text-link-effect-2 absolute top-full left-0 is-focus-button:opacity-0"></span>
                  </div>
                </template>
                <template x-if="item.ticket_button_label_style != 'text-link'">
                  <span x-text="item.ticket_button_label"></span>
                </template>
              </div>
            </template>
            <div 
              class="relative inline-block"
              @click.away="open = false"
            >
              <div 
                class="button button--{{ section.id }} hover:cursor-pointer flex flex-row rtl:flex-row-reverse relative border empty:hidden pl-6 pr-6 pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal"
                @click="open = !open"
                :class="(item.show_button_style == 'primary') ? 'button-solid': (item.show_button_style == 'secondary' ? 'button-outline': 'button-text-link')"
              >
                <template x-if="item.show_button_style == 'text-link'">
                  <div class="relative block-text-button overflow-hidden">
                    <span x-text="item.button_label_add_calendar" class="button-text btn-text-link-effect-1 relative top-0 is-focus-button:opacity-0"></span>
                    <span x-text="item.button_label_add_calendar" class="button-text btn-text-link-effect-2 absolute top-full left-0 is-focus-button:opacity-0"></span>
                  </div>
                </template>
                <template x-if="item.show_button_style != 'text-link'">
                  <span x-text="item.button_label_add_calendar"></span>
                </template>
                <span class="w-2.5 relative transition-none duration-200 inline-block ml-1.5 rtl:ml-0 rtl:mr-1.5 self-center" :class="open ? 'rotate-180' : 'top-[1px]'">
                  {% render 'icon-alls', icon: 'icon-caret' %}
                </span>
              </div>
              <div 
                class="atcb-list left-0 w-full flex flex-col gap-y-4 md:max-w-[15rem] absolute top-full z-20 bg-[rgba(var(--background-color))] shadow-md pt-5 pb-5 pl-5 pr-5" 
                x-cloak 
                x-show="open" 
                role="list"
              >
                <button 
                  class="atcb-list-item text-left rtl:text-right relative cursor-pointer" 
                  role="link" 
                  data-option-number="1" 
                  id="atcb-btn-1-apple" 
                  aria-label="{{ 'sections.event-calendar.apple' | t }}"
                  @click="addToCal('apple'); open = false"
                >
                  <span class="atcb-text inline-block button-link hover-text-link">{{ 'sections.event-calendar.apple' | t }}</span>
                </button>
                <button 
                  class="atcb-list-item text-left rtl:text-right relative cursor-pointer" 
                  role="link" 
                  data-option-number="2" 
                  id="atcb-btn-1-google" 
                  aria-label="{{ 'sections.event-calendar.google' | t }}"
                  @click="addToCal('google'); open = false"
                >
                  <span class="atcb-text inline-block button-link hover-text-link">{{ 'sections.event-calendar.google' | t }}</span>
                </button>
                <button 
                  class="atcb-list-item text-left rtl:text-right relative cursor-pointer" 
                  role="link" 
                  data-option-number="3" 
                  id="atcb-btn-1-outlookcom" 
                  aria-label="{{ 'sections.event-calendar.outlook' | t }}"
                  @click="addToCal('outlook'); open = false"
                >
                  <span class="atcb-text inline-block button-link hover-text-link">{{ 'sections.event-calendar.outlook' | t }}</span>
                </button>
                <button 
                  class="atcb-list-item text-left rtl:text-right relative cursor-pointer" 
                  role="link" 
                  data-option-number="4" 
                  id="atcb-btn-1-yahoo" 
                  aria-label="{{ 'sections.event-calendar.yahoo' | t }}"
                  @click="addToCal('yahoo'); open = false"
                >
                  <span class="atcb-text inline-block button-link hover-text-link">{{ 'sections.event-calendar.yahoo' | t }}</span>
                </button>
                <button 
                  class="atcb-list-item text-left rtl:text-right relative cursor-pointer" 
                  role="link" 
                  data-option-number="4" 
                  id="atcb-btn-1-ical" 
                  aria-label="{{ 'sections.event-calendar.ical' | t }}"
                  @click="addToCal('ical'); open = false"
                >
                  <span class="atcb-text inline-block button-link hover-text-link">{{ 'sections.event-calendar.ical' | t }}</span>
                </button>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-y-2 border-t pt-7 mt-7 mb-7" :class="item.show_end_date ? 'lg:flex-col' : 'lg:flex-row'">
            <div x-show="item.date || item.time" x-cloak class="flex flex-wrap pl-5 rtl:pl-0 rtl:pr-5 relative">
              <span class="w-4 inline-block absolute left-0 rtl:left-auto rtl:right-0">{% render 'icon-alls', icon: 'icon-clock' %}</span>
              <span x-text="`${item.date}`"></span>
              <span class="ml-2" x-text="` @ ${item.timeStart}`"></span>
              <span x-show="item.show_end_date" class="ml-1"> - </span>
              <template x-if="item.show_end_time">
                <span class="ml-1">
                  <span> - </span>
                  <span class="ml-1" x-text="` ${item.timeEnd}`"></span>
                </span>
              </template>
              <template x-if="item.show_end_date">
                <span class="ml-1">
                  <span x-text="`${item.end_date}`"></span><span class="ml-1" x-text="` @ ${item.timeEnd}`"></span>
                </span>
              </template>
            </div>
           
            <div x-show="item.location" x-cloak class="flex-1 grow flex pl-5 rtl:pl-0 rtl:pr-5 relative" :class="item.show_end_date ? 'lg:flex-col' : 'lg:ml-14'">
              <span class="w-4 inline-block absolute left-0 rtl:left-auto rtl:right-0">{%- render 'icon-alls', icon: 'icon-location-1' -%}</span>
              <span x-text="item.location"></span>
            </div>
          </div>
          <div class="relative">
            <div id="ImageBanner" class="overflow-hidden{% if settings.edges_type == 'rounded_corners' %} rounded-[10px]{% endif %}">
              <template x-if="item.location">
                <div x-data="xMap(item.location)" class="relative h-80" x-intersect="loadMap(item.location);" x-effect="$store.xEventCalendarDetail.show == false && removeMap()"> 
                  <iframe src="" class="w-full h-full" title="Map"></iframe>
                </div>
              </template>
              <div 
                class="relative w-full overflow-hidden h-80{% if settings.edges_type == 'rounded_corners' %} rounded-[10px]{% endif %}"
                x-show="item.location == '' && item.image" 
              >
                {% # theme-check-disable ImgLazyLoading %}
                <img
                  x-show="item.image"
                  x-bind:src="`${ item.image }`"
                  class="top-0 right-0 left-0 bottom-0 object-cover h-full w-full image-hover" 
                  {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                  width="150"
                  height="150"
                  alt=""
                />
                {% # theme-check-enable ImgLazyLoading %}
                <div class="bg-[#c9c9c9] absolute top-0 left-0 w-full h-full" x-show="!item.image">{%- render 'icon-placeholder', icon: 'icon-product', class: 'w-full h-full' %}</div>
              </div>
            </div>
          </div>
          <div id="EventDescription-{{ section.id }}" class="mt-7 rte">
          </div>
          <div x-show="item.location && item.image" class="relative w-full overflow-hidden h-80{% if settings.edges_type == 'rounded_corners' %} rounded-[10px]{% endif %}">
            {% # theme-check-disable ImgLazyLoading %}
            <img
              x-show="item.image"
              x-bind:src="`${ item.image }`"
              class="top-0 right-0 left-0 bottom-0 object-cover h-full w-full image-hover" 
              {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
              width="150"
              height="150"
              alt=""
            />
            {% # theme-check-enable ImgLazyLoading %}
            <div class="bg-[#c9c9c9] absolute top-0 left-0 w-full h-full" x-show="!item.image">{%- render 'icon-placeholder', icon: 'icon-product', class: 'w-full h-full' %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>