<div class="feature-icon-item relative feature-icon-{{ block.id }} justify-center w-1/3 lg:w-1/6 flex-1 min-w-[83px] text-{{ block.settings.content_alignment }} rtl:text-{% if block.settings.content_alignment == 'center' %}center{% elsif block.settings.content_alignment == 'start' %}right{% else %}left{% endif %}{% if block.settings.border_column == 'column' %} border-2 border-dashed{% endif %}{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}">
  <div class="pl-3 pr-3 pt-3 pb-3">
    {% if icon != 'none' %}
      {% unless custom_image == blank and custom_icon == blank and another_icon == blank and icon == 'another_icon' %}
        <div class="flex justify-{{ block.settings.content_alignment }}">
          <span class="inline-block relative size-icon-{{ blockID }} color-icon--{{ block.id }}">
            {% if custom_image != blank %}
              {% # theme-check-disable ImgLazyLoading %}
              <img 
                src="{{ custom_image | image_url: width: icon_size }}"
                alt="{{ custom_image.alt | escape }}"
                {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %} 
                width="{{ custom_image.width }}"
                height="{{ custom_image.height }}"
                style="object-position: {{ custom_image.presentation.focal_point }}"
                class="object-cover absolute top-0 left-0 w-full h-full"
              >
              {% # theme-check-enable ImgLazyLoading %}
            {% else %}
              {% if custom_icon == blank %}
                {% if another_icon != blank and icon == 'another_icon' %}
                  {% render 'icon-new-alls', icon: another_icon %}
                {% else %}
                  {% render 'icon-labels-bags', icon: icon %}
                {% endif %}
              {% else %}
                {{ custom_icon }}
              {% endif %}
            {% endif %}
          </span>
        </div>
      {% endunless %}
    {% endif %}
    <div class="mt-2.5 text-{{ block.settings.content_alignment }} rtl:text-{% if block.settings.content_alignment == 'center' %}center{% elsif block.settings.content_alignment == 'start' %}right{% else %}left{% endif %}">
      {% if title != blank %}
        <p class="empty:hidden p-break-words title--{{ blockID }} text-[rgba(var(--colors-heading))] leading-tight">
          {% if link %}
            <a class="hover:text-[rgba(var(--colors-text-link))] text-[rgba(var(--colors-heading))]" href="{{ link }}"{% if open_new_window %} target="_blank"{% endif %}>{{ title | escape }}</a>
          {% else %}
            {{ title | escape }}
          {% endif %}
        </p>
      {% endif %}
      {% if text != blank %}
        {% liquid
          assign mtf_data = false
          if text contains 'custom.'
            assign split_text = text | newline_to_br | strip_newlines | replace: '<br />', '<br/> ' | replace: '<br/ >', '<br/> ' | replace: '<br/>', '<br/> ' | replace: '<p>', ' <p>' | split: ' '
            for mtf_text in split_text
              if mtf_text contains 'custom.'
                assign key_metafield = mtf_text | remove: " " | remove: "<p>" | remove: "</p>" | remove: "<strong>" | remove: "</strong>"
                assign option_key_metafield = key_metafield | split: '.'
                assign option_value_metafield = product.selected_or_first_available_variant.metafields[option_key_metafield.first][option_key_metafield.last] | metafield_tag
                assign option_value_metafield_product = product.metafields[option_key_metafield.first][option_key_metafield.last] | metafield_tag
                if option_value_metafield != blank 
                  assign text = text | replace: key_metafield, option_value_metafield
                elsif option_value_metafield_product != blank
                  assign text = text | replace: key_metafield, option_value_metafield_product
                else
                  assign text = text | replace: mtf_text, ''
                endif
                assign mtf_data = true
              endif
            endfor
          endif
        %}
        <div class="rte p-break-words text-[rgb(var(--colors-text))]{% if mtf_data %} featured-icon-{{ section.id }}{% endif %}">
          {{ text }}
        </div>
      {% endif %}
    </div>
  </div>
</div>