{% liquid
  assign search_type =  'query,' | append: settings.search_type 
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
%}
<div 
  x-data="xModalSearch('{{ search_type }}','{{ settings.search_desktop_maximun_results }}',{{ settings.search_mobile_maximun_results }}, '{{ 'templates.search.product_type_default' | t }}')" 
  class="x-container-header-search justify-left max-w-5xl header-search sm:flex items-center justify-center lg:mr-0.5 items-center [grid-area:search]"
  @click.away="showSuggest = false; openResults = false;"
>
  {%- if settings.predictive_search_enabled -%}
    <div class="relative max-w-4xl w-full" data-loading-text="{{ 'accessibility.loading' | t }}">
  {%- endif -%}
  
  <div class="max-w-[62rem] mx-auto w-full border border-solid {% if settings.edges_type == 'rounded_corners' %} header-inline-search-box mr-2 {% endif %} pl-5 pr-2 rtl:pr-5 rtl:pl-2">
    <div class="relative field pr-5 lg:pr-0 flex{% unless settings.search_refined %} pl-5 lg:pl-0{% endunless %}">
    {% comment %}
      {% if settings.search_refined %}
        <div class="md:relative search-categories flex items-center w-1/4">
          <div 
            class="flex shrink min-w-0 w-full {% if is_rtl %} border-l ml-2 pl-3.5{% else %} border-r mr-2 pr-3.5{% endif %}"
            x-data="{ 
              open: false
            }" 
            @keyup.escape="open = false">
            <button 
              @click.prevent="open = ! open;"
              class="relative flex items-center justify-between shrink min-w-0 w-full py-1{% if is_rtl %} text-right{% else %} text-left{% endif %} cursor-pointer hover-text-link duration-200 transition"
              aria-expanded="false" 
              aria-controls="CategoriesList" 
              aria-describedby="CategoriesHeading">
              <span class="line-clamp-1 p-break-words" x-text="productTypeSelected"></span>
              <span class="opacity-60 relative w-2.5 h-2.5 flex{% if is_rtl %} left-0{% else %} right-0{% endif %}" :class="open && ' -rotate-180'">
                {% render 'icon-alls', icon: 'icon-caret' %}
              </span>
            </button>
            <div 
              x-show="open" 
              @click.away="open = false" 
              x-cloak
            >
              <div class="absolute z-[60] pt-6 pb-7{% if is_rtl %} right-0{% else %} left-0{% endif %} top-[calc(100%+12px)] lg:bottom-auto background-header shadow-[0_0_6px_-4px_rgba(var(--colors-text))]">
                <ul 
                  role="list" 
                  class="w-full md:w-auto md:min-w-[15rem] pl-7 pr-7{% if is_rtl %} right-0{% else %} left-0{% endif %} max-h-[15rem] overflow-y-auto scrollbar-body scrollbar-visible">
                  <li 
                    tabindex="0"
                    class="cursor-pointer py-1 duration-200 transition text-[rgb(var(--colors-text-header))]" 
                    @click="setProductType('{{ 'templates.search.product_type_default' | t }}', 'product_type'); open = false">
                    <p
                      class="nav-link inline-block hover-text-link relative p-break-words"
                      :class="productTypeSelected == '{{ 'templates.search.product_type_default' | t }}' && 'border-b link-active'"
                      href="#"
                      data-no-instant>
                      {{ 'templates.search.product_type_default' | t }}
                    </p>
                  </li>
                  {% for product_type in shop.types %}
                    {% if product_type != blank %}
                      <li 
                        tabindex="0"
                        class="product-type-item cursor-pointer py-1 duration-200 transition text-[rgb(var(--colors-text-header))]" 
                        @keyup.enter="setProductType(`{{ product_type }}`, 'product_type');"
                        @click="setProductType(`{{ product_type }}`, 'product_type'); open = false">
                        <p
                          class="nav-link inline-block hover-text-link relative p-break-words"
                          :class="productTypeSelected == `{{ product_type }}` && 'border-b effect-inline'"
                          href="#"
                          data-no-instant>
                          {{ product_type }}
                        </p>
                      </li>
                    {% endif %}
                  {%- endfor -%}
                </ul>
              </div>
            </div>
            <input type="hidden" name="product_type" id="product_type" value="product_type:" data-disclosure-input tabindex="-1"/>
          </div>
        </div>
      {% endif %}
      {% endcomment %}
      <form id="header-form-search-{{ section.id }}" class="{% if settings.search_refined %}w-2/4{% else %}w-full{% endif %}" action="{{ routes.search_url }}" method="get" role="search">
        {% style %}
          .input-search::placeholder {
            {% if settings.search_prompts_font == "search_prompts_font_text" %}
              font-family: var(--font-body-family);
            {% else %}
              font-family: var(--font-heading-family);
            {% endif %}
          }
        {% endstyle %}
        <input 
          x-data="xSearchPrompts($el, ['{{ settings.search_prompts_1 }}', '{{ settings.search_prompts_2 }}', '{{ settings.search_prompts_3 }}'], {% if settings.search_prompts_mobile %}true{% else %}false{% endif %})"
          id="header-search-in-modal"
          class="peer input-search focus-visible:outline-none{% if settings.search_refined %} py-3{% else %} py-4{% endif %}{% if is_rtl %} pl-[4.5rem] {% if settings.search_refined %}pr-4 lg:pr-2{% endif %} lg:pl-20 text-right{% else %} pr-[4.5rem] {% if settings.search_refined %}pl-4 lg:pl-2{% endif %} lg:pr-20 text-left{% endif %} w-full appearance-none relative outline-none bg-transparent placeholder:text-current placeholder:opacity-60{% if settings.edges_type == 'rounded_corners' %} rounded-full{% endif %}"
          type="search"
          name="q"
          value=""
          x-on:keyup="keyUp()"
          @keydown.tab="showSuggest = false; openResults = false;"
          @focus="focusForm()"
          placeholder="{{ 'general.search.search' | t }}"
        >
        <input type="hidden" name="options[prefix]" value="last">
        <button 
          class="btn-search absolute none_border w-7 h-7 p-1 top-1/2 -translate-y-1/2 opacity-60 bg-none text-current{% if is_rtl %} lg:left-2{% if settings.search_refined %} left-2{% else %} left-7{% endif %}{% else %} lg:right-2{% if settings.search_refined %} right-2{% else %} right-7{% endif %}{% endif %}"
          aria-label="{{ 'general.search.search' | t }}">
          {%- render 'icon-alls', icon: 'icon-search', animation_class: 'icon-animation' -%}
        </button>
        {% if settings.show_speech_search %}
          <button class="search__speech absolute cursor-pointer w-7 h-7 p-1{% if is_rtl %}{% if settings.search_refined %} left-10{% else %} left-16{% endif %} lg:left-12{% else %}{% if settings.search_refined %} right-10{% else %} right-16{% endif %} lg:right-12{% endif %} top-1/2 -translate-y-1/2 opacity-60 bg-none text-current" x-data="xSpeechSearch($el)" x-init="initSpeechSearch()" x-show="show">
            {% render 'icon-alls', icon: 'icon-voice' %}
          </button>
          <script src="{{ 'speech-search.js' | asset_url }}" defer></script>
        {% endif %}
        {%- if settings.predictive_search_enabled -%}
          {% style %}
            #header-search-result {
              width: calc(var(--page-width));
              max-width: calc(100vw - 45px);
            }
          {% endstyle %}
          <div 
            x-intersect.once="$store.xHelper.centerElement($el)"
            :class="openResults ? 'visible' : 'invisible'"
            id="header-search-result" class="md:max-h-96 z-50 w-full absolute left-0 {% if is_rtl %} rtl{% endif %}" tabindex="-1" data-predictive-search x-html="result" x-show="loading == false" 
            style="top: calc(100% + {{ section.settings.padding_bottom }}px / 2)"
          >
            <div class="predictive-search__loading-state">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
          {% if settings.search_recomendation != blank or settings.popular_product_search != blank %}
            {% style %}
            #header-suggest-search {
              width: calc(var(--page-width));
              max-width: calc(100vw - 45px);
            }
          {% endstyle %}
            <div 
              x-intersect.once="$store.xHelper.centerElement($el)"
              id="header-suggest-search" class="md:max-h-96 z-50 w-full absolute left-0 {% if is_rtl %} rtl{% endif %}" 
              tabindex="-1" 
              data-predictive-search 
              x-cloak 
              :class="showSuggest ? 'visible' : 'invisible'"
              style="top: calc(100% + {{ section.settings.padding_bottom }}px / 2)"
            >
              {%- 
                render 'suggest-search', 
                search_recomendation: settings.search_recomendation, 
                popular_product_search: settings.popular_product_search 
              -%}
            </div>
          {% endif %}
        {%- endif -%}
      </form>
    </div>
  </div>
  {%- if settings.predictive_search_enabled -%}
    </div>
  {%- endif -%}
</div>
{% comment %} <!-- Mobile Search Bar (Visible Below Header on Small Screens) -->
<div class="md:hidden w-full mb-2 ">
  <div 
    x-data="xModalSearch('{{ search_type }}','{{ settings.search_desktop_maximun_results }}',{{ settings.search_mobile_maximun_results }}, '{{ 'templates.search.product_type_default' | t }}')" 
    class="x-container-header-search justify-left max-w-5xl header-search w-full items-center pb-header"
    @click.away="showSuggest = false; openResults = false;"
  >
    {%- if settings.predictive_search_enabled -%}
      <div class="relative max-w-4xl w-full" data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
    
    <div class="max-w-[62rem] mx-auto w-full border border-solid {% if settings.edges_type == 'rounded_corners' %}rounded-full{% endif %} pl-5 pr-2 rtl:pr-5 rtl:pl-2">
      <div class="relative field pr-5 lg:pr-0 flex{% unless settings.search_refined %} pl-5 lg:pl-0{% endunless %}">
        <form id="header-form-search-mobile-{{ section.id }}" class="{% if settings.search_refined %}w-3/4{% else %}w-full{% endif %}" action="{{ routes.search_url }}" method="get" role="search">
          <input 
            x-data="xSearchPrompts($el, ['{{ settings.search_prompts_1 }}', '{{ settings.search_prompts_2 }}', '{{ settings.search_prompts_3 }}'], {% if settings.search_prompts_mobile %}true{% else %}false{% endif %})"
            id="header-search-in-modal"
            class="peer input-search focus-visible:outline-none{% if settings.search_refined %} py-3{% else %} py-4{% endif %}{% if is_rtl %} pl-[4.5rem] {% if settings.search_refined %}pr-4 lg:pr-2{% endif %} lg:pl-20 text-right{% else %} pr-[4.5rem] {% if settings.search_refined %}pl-4 lg:pl-2{% endif %} lg:pr-20 text-left{% endif %} w-full appearance-none relative outline-none bg-transparent placeholder:text-current placeholder:opacity-60{% if settings.edges_type == 'rounded_corners' %} rounded-full{% endif %}"
            type="search"
            name="q"
            value=""
            x-on:keyup="keyUp()"
            @keydown.tab="showSuggest = false; openResults = false;"
            @focus="focusForm()"
            placeholder="{{ 'general.search.search' | t }}"
          >
          <button 
            class="btn-search absolute none_border w-7 h-7 p-1 top-1/2 -translate-y-1/2 opacity-60 bg-none text-current{% if is_rtl %} lg:left-2{% if settings.search_refined %} left-2{% else %} left-7{% endif %}{% else %} lg:right-2{% if settings.search_refined %} right-2{% else %} right-7{% endif %}{% endif %}"
            aria-label="{{ 'general.search.search' | t }}">
            {%- render 'icon-alls', icon: 'icon-search', animation_class: 'icon-animation' -%}
          </button>
        </form>

        {% if settings.show_speech_search %}
          <button class="search__speech absolute cursor-pointer w-7 h-7 p-1{% if is_rtl %}{% if settings.search_refined %} left-10{% else %} left-16{% endif %} lg:left-12{% else %}{% if settings.search_refined %} right-10{% else %} right-16{% endif %} lg:right-12{% endif %} top-1/2 -translate-y-1/2 opacity-60 bg-none text-current" x-data="xSpeechSearch($el)" x-init="initSpeechSearch()" x-show="show">
            {% render 'icon-alls', icon: 'icon-voice' %}
          </button>
          <script src="{{ 'speech-search.js' | asset_url }}" defer></script>
        {% endif %}
      </div>
    </div>

    {%- if settings.predictive_search_enabled -%}
      </div>
    {%- endif -%}
  </div>
</div> {% endcomment %}


<style>
  .py-4{
padding-top:8px;
padding-bottom:8px;
}
</style>
