{% comment %}
    Renders a block logo

    Accepts:
    - enable_footer: {Boolean} Show on the footer
    - currency_selector: {Boolean} Show currency selector
    - locale_selector: {Boolean} Show language selector
    Usage:
    {% render 'multi-selectors' %}
{% endcomment %}
{% liquid 
  if enable_footer
    assign direction = 'multi-selectors flex flex-col lg:flex-row lg:items-center lg:justify-center md:flex-row'
  else
    unless mobile
      assign direction = 'multi-selectors flex flex-col lg:flex-row lg:items-center lg:justify-center'
    else
      assign direction = 'multi-selectors w-full flex flex-row-reverse justify-between'
    endunless
  endif
%}
{% if toolbar_location == 'announcement_bar' %}
  {% style %}
    #x-announcement .options-text-color {
      {% if section.settings.text_color != blank and section.settings.text_color.alpha != 0.0 %}
        color: {{ section.settings.text_color }};
      {% else %}
        color: rgb(var(--colors-text));
      {% endif %}
    }
    .dark #x-announcement .options-text-color {
      {% if section.settings.text_color_dark != blank and section.settings.text_color_dark.alpha != 0.0 %}
        color: {{ section.settings.text_color_dark }};
      {% else %}
        color: rgb(var(--colors-text));
      {% endif %}
    }
    @media (min-width: 1024px) {
      #x-announcement .options-text-color:hover {
        color: rgb(var(--colors-text-link));
      }
    }
    #x-announcement .underline-color {
      border-bottom-color: rgb(var(--colors-line-and-border-base));
    }
  {% endstyle %}
{% endif %}
{%- form 'localization', class: direction -%}
  {%- if locale_selector -%}
    <div 
      class="text-normal relative inline-flex lg:inline-block{% if enable_footer %} justify-center{% endif %}"
      x-data="{ open: false }" 
      @keyup.escape="open = false"
    >
      <button 
        @click.prevent="open = ! open;{% if section.setting.header_show_language_selector %} $store.xHeaderMenu.hideMenu($el);{% endif %}"
        class="toolbar-button relative pt-2.5 pb-2.5{% unless enable_footer %} lg:pl-5 rtl:lg:pr-5{% endunless %} pr-5 rtl:pr-0 rtl:pl-5 cursor-pointer hover-text-link duration-200 transition"
        aria-expanded="false" aria-controls="LanguageList"
      >
        <span>{{ form.current_locale.endonym_name | replace: '(', '&#x200E;(' | replace: ')', ')&#x200E;' }}</span>
        <span class="absolute w-2.5	h-2.5 top-1/2 -translate-y-1/2 flex right-0 rtl:right-auto rtl:left-0" :class="open && ' -rotate-180'">{% render 'icon-alls', icon: 'icon-caret' %}</span>
      </button>
      <div x-show="open" @click.away="open = false" x-cloak>
        {% unless mobile %}
          <ul 
            {% if enable_footer %} 
              x-transition:enter="transition-all ease-in-out duration-500"
              x-transition:enter-start="opacity-0 transform translate-y-4"
              x-transition:enter-end="opacity-100 transform translate-y-0"
              x-transition:leave="transition-all ease-in-out duration-500"
              x-transition:leave-end="opacity-0 transform translate-y-4"
            {% else %}
              x-transition:enter="transition-all ease-in-out duration-500"
              x-transition:enter-start="opacity-0 transform -translate-y-4"
              x-transition:enter-end="opacity-100 transform translate-y-0"
              x-transition:leave="transition-all ease-in-out duration-500"
              x-transition:leave-end="opacity-0 transform -translate-y-4"
            {% endif %}
            x-show="open"
            role="list" 
            x-data="xLocalizationForm" 
            class="locale-options scrollbar-body w-max py-3 px-5 absolute left-0 bottom-full z-50 shadow-md max-h-64 overflow-y-auto background-header{% if enable_footer %} background-footer bottom-9{% else %} bottom-0{% unless mobile %} lg:bottom-auto{% endunless %}{% endif %}"
          >
            {% for locale in form.available_locales %}
              <li class="cursor-pointer py-1 duration-200 transition{% if enable_footer %} sticky-footer{% else %} text-[rgb(var(--colors-text-header))]{% endif %}">
                <a class="nav-link hover-text-link relative{% if locale.iso_code == form.current_locale.iso_code %} border-b underline-color effect-inline{% else %} options-text-color{% endif %}"
                  href="#"
                  data-no-instant
                  @click="submit('{{ locale.iso_code }}', 'locale_selector')"
                >
                  <span class="disclosure-list__label">{{ locale.endonym_name | replace: '(', '&#x200E;(' | replace: ')', ')&#x200E;' }}</span>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {% else %}
          {% style %}
            .locale-options-mobile-nav {
              max-width: 544px;
            }
            .locale-options-mobile-nav li {
              padding-top: 16px;
              padding-bottom: 16px;
              padding-left: 20px;
              padding-right: 20px;
              font-size: {{ settings.text_base_size | times: 0.00875 }}rem; 
            }
          {% endstyle %}
          <ul 
            role="list" 
            x-data="xLocalizationForm" 
            class="locale-options locale-options-mobile-nav scrollbar-body w-[calc(100vw-32px)] flex flex-col absolute right-0 rtl:right-auto rtl:left-0 bottom-full z-50 shadow-md max-h-[400px] overflow-y-auto background-header{% if enable_footer %} background-footer bottom-9{% else %} bottom-0{% unless mobile %} lg:bottom-auto{% endunless %}{% endif %}"
          >
            {% for locale in form.available_locales %}
              <li class="cursor-pointer pt-2 pb-2 pl-5 pr-5 border-b duration-200 transition{% if enable_footer %} sticky-footer{% else %} text-[rgb(var(--colors-text-header))]{% endif %}">
                <a 
                  class="nav-link hover-text-link relative{% if locale.iso_code == form.current_locale.iso_code %} border-b underline-color effect-inline{% else %} options-text-color{% endif %}"
                  href="#"
                  data-no-instant
                  @click="submit('{{ locale.iso_code }}', 'locale_selector')"
                >
                  <span class="disclosure-list__label">{{ locale.endonym_name | replace: '(', '&#x200E;(' | replace: ')', ')&#x200E;' }}</span>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {% endunless %}
      </div>
      <input type="hidden" name="locale_code" id="locale_selector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
    </div>
  {%- endif -%}
  {%- if currency_selector -%}
    <div 
      x-data="xLocalizationForm" 
      class="country-selector max-w-max text-normal relative inline-flex lg:inline-block{% if enable_footer %} justify-center{% endif %}"
      @keyup.escape="openCountry = false"
    >
      <button 
        @click.prevent="loadCountry($el); {% if section.setting.header_show_currency_selector %} $store.xHeaderMenu.hideMenu($el);{% endif %}"
        class="toolbar-button relative py-2.5 rtl:pr-0 rtl:pl-5 pr-5 rtl:md:pr-5 lg:pl-5 cursor-pointer {% if enable_footer %} md:pl-6{% endif %} hover-text-link duration-200 transition"
        aria-expanded="false" aria-controls="CurrencyList"
      >
        <span>
          {% if settings.stack_currency_enable %}
            {% liquid
              assign list_contains = ''
              assign displayed_countries = '||'
              for country in localization.available_countries 
                assign market_currency = '||' | append: country.market.id | append: country.currency.iso_code | append: country.currency.symbol | append: "||"
                if displayed_countries contains market_currency
                  assign list_contains = list_contains | append: market_currency 
                endif
                assign displayed_countries = displayed_countries | append: country.market.id | append: country.currency.iso_code | append: country.currency.symbol | append: "||"
              endfor
            %}
            {% if list_contains contains localization.country.currency.iso_code and list_contains contains localization.country.currency.symbol and list_contains contains localization.country.market.id %}
              {{ localization.country.market.handle }} &#x200E;({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})&#x200E;
            {% else %}
              {{ localization.country.name }} &#x200E;({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})&#x200E;
            {% endif %}
          {% else %}
            {{ localization.country.name }} &#x200E;({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})&#x200E;
          {% endif %}
        </span>
        <span x-show="!loading" class="absolute w-2.5 h-2.5 top-1/2 -translate-y-1/2 flex right-0 rtl:right-auto rtl:left-0" :class="openCountry && '-rotate-180'">{% render 'icon-alls', icon: 'icon-caret' %}</span>
        <span x-show="loading" class="absolute w-3 h-3 top-[calc(50%-6px)] flex right-0 rtl:right-auto rtl:left-0 animate-spin" x-cloak>{% render 'icon-alls', icon: 'icon-loading' %}</span>
      </button>
      {% unless mobile %}
        <div class="country-options w-max py-3 px-5 absolute left-0 bottom-full z-[51] scrollbar-body shadow-md max-h-64 overflow-y-auto{% if enable_footer != true and logo_above == false %} right-0{% endif %} background-header{% if enable_footer %} background-footer sticky-footer bottom-9{% else %} bottom-0 text-[rgb(var(--colors-text-header))]{% unless mobile %} lg:bottom-auto{% endunless %}{% endif %}" 
          {% if enable_footer %} 
            x-transition:enter="transition-all ease-in-out duration-500"
            x-transition:enter-start="opacity-0 transform translate-y-4"
            x-transition:enter-end="opacity-100 transform translate-y-0"
            x-transition:leave="transition-all ease-in-out duration-500"
            x-transition:leave-end="opacity-0 transform translate-y-4"
          {% else %}
            x-transition:enter="transition-all ease-in-out duration-500"
            x-transition:enter-start="opacity-0 transform -translate-y-4"
            x-transition:enter-end="opacity-100 transform translate-y-0"
            x-transition:leave="transition-all ease-in-out duration-500"
            x-transition:leave-end="opacity-0 transform -translate-y-4"
          {% endif %}
          x-show="openCountry" @click.away="openCountry = false" x-cloak>
        </div>
      {% else %}
        {% style %}
          .country-options-mobile-nav {
            max-width: 544px;
          }
          .country-options-mobile-nav ul {
            display: flex;
            flex-direction: column;
          }
          .country-options-mobile-nav ul li {
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 20px;
            padding-right: 20px;
            border-bottom-width: 1px;
            font-size: {{ settings.text_base_size | times: 0.00875 }}rem;
          }
        {% endstyle %}
        <div class="country-options country-options-mobile-nav w-[calc(100vw-32px)] absolute{% if locale_selector %} left-0 rtl:right-0 rtl:left-auto{% else %} right-0 rtl:left-0 rtl:right-auto{% endif %} bottom-full z-[51] scrollbar-body shadow-md max-h-[400px] overflow-y-auto{% if enable_footer != true and logo_above == false %} right-0{% endif %} background-header{% if enable_footer %} background-footer sticky-footer bottom-9{% else %} bottom-0 text-[rgb(var(--colors-text-header))]{% unless mobile %} lg:bottom-auto{% endunless %}{% endif %}" x-show="openCountry" @click.away="openCountry = false" x-cloak>
        </div>
      {% endunless %}
      <input id="currency_selector" type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
    </div>
  {%- endif -%}
{%- endform -%}
<script src="{{ 'locales-form.js' | asset_url }}" defer></script>