{% unless layout == 'vertical' %}
  {%- if settings.social_twitter_link != blank -%}
    <li>
      <a href="{{ settings.social_twitter_link }}" target="blank" aria-label="{{ 'general.social.links.twitter' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-twitter', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%} 
  {%- if settings.social_facebook_link != blank -%}
    <li>
      <a href="{{ settings.social_facebook_link }}" target="blank" aria-label="{{ 'general.social.links.facebook' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-facebook', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li>
      <a href="{{ settings.social_pinterest_link }}" target="blank" aria-label="{{ 'general.social.links.pinterest' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-pinterest', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li>
      <a href="{{ settings.social_instagram_link }}" target="blank" aria-label="{{ 'general.social.links.instagram' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-instagram', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li>
      <a href="{{ settings.social_tiktok_link }}" target="blank" aria-label="{{ 'general.social.links.tiktok' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-tiktok', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li>
      <a href="{{ settings.social_tumblr_link }}" target="blank" aria-label="{{ 'general.social.links.tumblr' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-tumblr', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li>
      <a href="{{ settings.social_snapchat_link }}" target="blank" aria-label="{{ 'general.social.links.snapchat' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-snapchat', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li>
      <a href="{{ settings.social_youtube_link }}" target="blank" aria-label="{{ 'general.social.links.youtube' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-youtube', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li>
      <a href="{{ settings.social_vimeo_link }}" target="blank" aria-label="{{ 'general.social.links.vimeo' | t }}" class="flex disable-effect hover-text-link w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-vimeo', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    <li>
      <a href="{{ settings.social_linkedin_link }}" target="blank" aria-label="{{ 'general.social.links.linkedin' | t }}" class="flex disable-effect hover-text-link  w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-linkedin', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_line_link != blank -%}
    <li>
      <a href="{{ settings.social_line_link }}" target="blank" aria-label="{{ 'general.social.links.line' | t }}" class="flex disable-effect hover-text-link  w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-media', icon: 'icon-line', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.email_address != blank -%}
    <li>
      <a href="mailto:{{ settings.email_address }}" class="flex disable-effect hover-text-link  w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-alls', icon: 'icon-email', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
  {%- if settings.phone_number != blank -%}
    <li>
      <a href="tel:{{ settings.phone_number }}" class="flex disable-effect hover-text-link  w-11 h-11 pt-3 pr-3 pb-3 pl-3{% if footer %} border border-solid rounded-full{% endif %}">
        {%- render 'icon-alls', icon: 'icon-phone', animation_class: animation_class -%}
      </a>
    </li>
  {%- endif -%}
{% else %}
  {%- if settings.social_twitter_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_twitter_link }}" target="blank" aria-label="{{ 'general.social.links.twitter' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-twitter', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_twitter_link }}" target="blank" aria-label="{{ 'general.social.links.twitter' | t }}" class="self-center">Twitter</a>
    </li>
  {%- endif -%} 
  {%- if settings.social_facebook_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_facebook_link }}" target="blank" aria-label="{{ 'general.social.links.facebook' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-facebook', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_facebook_link }}" target="blank" aria-label="{{ 'general.social.links.facebook' | t }}" class="self-center">Facebook</a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_pinterest_link }}" target="blank" aria-label="{{ 'general.social.links.pinterest' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-pinterest', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_pinterest_link }}" target="blank" aria-label="{{ 'general.social.links.pinterest' | t }}" class="self-center">Pinterest</a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_instagram_link }}" target="blank" aria-label="{{ 'general.social.links.instagram' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-instagram', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_instagram_link }}" target="blank" aria-label="{{ 'general.social.links.instagram' | t }}" class="self-center">Instagram</a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_tiktok_link }}" target="blank" aria-label="{{ 'general.social.links.tiktok' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-tiktok', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_tiktok_link }}" target="blank" aria-label="{{ 'general.social.links.tiktok' | t }}" class="self-center">Tiktok</a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_tumblr_link }}" target="blank" aria-label="{{ 'general.social.links.tumblr' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-tumblr', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_tumblr_link }}" target="blank" aria-label="{{ 'general.social.links.tumblr' | t }}" class="self-center">Tumblr</a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_snapchat_link }}" target="blank" aria-label="{{ 'general.social.links.snapchat' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-snapchat', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_snapchat_link }}" target="blank" aria-label="{{ 'general.social.links.snapchat' | t }}" class="self-center">Snapchat</a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_youtube_link }}" target="blank" aria-label="{{ 'general.social.links.youtube' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-youtube', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_youtube_link }}" target="blank" aria-label="{{ 'general.social.links.youtube' | t }}" class="self-center">Youtube</a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_vimeo_link }}" target="blank" aria-label="{{ 'general.social.links.vimeo' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-vimeo', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_vimeo_link }}" target="blank" aria-label="{{ 'general.social.links.vimeo' | t }}" class="self-center">Vimeo</a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_linkedin_link }}" target="blank" aria-label="{{ 'general.social.links.linkedin' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-linkedin', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_linkedin_link }}" target="blank" aria-label="{{ 'general.social.links.linkedin' | t }}" class="self-center">Linkedin</a>
    </li>
  {%- endif -%}
  {%- if settings.social_line_link != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="{{ settings.social_line_link }}" target="blank" aria-label="{{ 'general.social.links.line' | t }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-media', icon: 'icon-line', animation_class: animation_class -%}
      </a>
      <a href="{{ settings.social_line_link }}" target="blank" aria-label="{{ 'general.social.links.line' | t }}" class="self-center">LINE</a>
    </li>
  {%- endif -%}
  {%- if settings.email_address != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="mailto:{{ settings.email_address }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-alls', icon: 'icon-email', animation_class: animation_class -%}
      </a>
      <a href="mailto:{{ settings.email_address }}" class="self-center">Email</a>
    </li>
  {%- endif -%}
  {%- if settings.phone_number != blank -%}
    <li class="flex flex-row disable-effect hover-text-link">
      <a href="tel:{{ settings.phone_number }}" class="flex w-11 h-11 pt-3 pb-3 pr-4 pl-0 rtl:pl-4 rtl:pr-0">
        {%- render 'icon-alls', icon: 'icon-phone', animation_class: animation_class -%}
      </a>
      <a href="tel:{{ settings.phone_number }}" class="self-center">Phone</a>
    </li>
  {%- endif -%}
{% endunless %}