
{% liquid
  assign desktop_width = block.settings.desktop_width
  assign mobile_width = block.settings.mobile_width
  if desktop_width != 'fit'
    assign desktop_width = desktop_width | times: 1
  endif
  if mobile_width != 'fit'
    assign mobile_width = mobile_width | times: 1
  endif
%}
{%- style -%} 
  .corner--{{ block.id }} {
    border-radius: {{ block.settings.corner_image }}px;
  }
  .splide__list > .flexible-area-text-with-icon:has(.width-{{ block.id }}) {
    max-width: unset;
    width: 100%;
  }
  .size-icon-{{ block.id }} {
    width: {{ block.settings.icon_size }}px;
    height: {{ block.settings.icon_size }}px;
  }
  .flexible-area-text-with-icon:has(.width-{{ block.id }}) {
    {% if mobile_width == 'fit' %}
      width: fit-content;
      max-width: unset;
    {% elsif mobile_width < 100 %}
      width: calc({{ mobile_width }}% - 100px);
      flex-grow: 1;
      max-width: {{ mobile_width }}%;
    {% else %}
      width: 100%;
      max-width: 100%;
    {% endif %}
  }
  @media (min-width: 768px) {
    .flexible-area-text-with-icon:has(.width-{{ block.id }}) {
      {% if desktop_width == 'fit' %}
        width: fit-content;
        max-width: unset;
      {% elsif desktop_width < 100 %}
        width: calc({{ desktop_width }}% - 100px);
        flex-grow: 1;
        max-width: {{ desktop_width }}%;
      {% else %}
        width: 100%;
        max-width: 100%;
      {% endif %}
    }
  }
  .color-icon--{{ block.id }} {
    {% if block.settings.color_icon_light.alpha != 0.0 %}
      color: {{ block.settings.color_icon_light }};
    {% else %}
      color: {{ settings.secondary_text }};
    {% endif %}
  }
  .dark .color-icon--{{ block.id }} {
    {% if block.settings.color_icon_dark.alpha != 0.0 %}
      color: {{ block.settings.color_icon_dark }};
    {% else %}
      color: rgb(var(--colors-text));
    {% endif %}
  }
  .flexible-area-block:has(.content-alignment-{{ block.id }}) {
    {% if block.settings.mobile_content_alignment == 'adapt' %}
      text-align: left;
    {% else %}
      text-align: {{ block.settings.mobile_content_alignment }};
    {% endif %}
  }
  .flexible-area-group .flexible-area-block:has(.content-alignment-{{ block.id }}) {    
    {% if block.settings.mobile_content_alignment == 'center' %}
      margin-left: auto;
      margin-right: auto;
    {% elsif block.settings.mobile_content_alignment == 'left' or block.settings.mobile_content_alignment == 'adapt' %}
    {% else %}
      margin-left: auto;
      margin-right: unset
    {% endif %}
  }
  @media screen and (min-width: 768px) {   
    .flexible-area-block:has(.content-alignment-{{ block.id }}) {
      {% if block.settings.content_alignment == 'adapt' %}
        text-align: left;
      {% else %}
        text-align: {{ block.settings.content_alignment }};
      {% endif %}
    }
    .flexible-area-group .flexible-area-block:has(.content-alignment-{{ block.id }}) {
      {% if block.settings.content_alignment == 'center' %}
        margin-left: auto;
        margin-right: auto;
      {% elsif block.settings.content_alignment == 'left' or block.settings.content_alignment == 'adapt' %}
      {% else %}
        margin-left: auto;
        margin-right: unset
      {% endif %}
    }
  }
{% endstyle %}
<div data-width="{{ desktop_width }}" data-width-mobile="{{ mobile_width }}" class="x-theme-block-icon w-full item-block flex {% if block.settings.mobile_content_alignment == 'adapt' %}item-group-content-alignment-mobile{% endif %} {% if block.settings.content_alignment == 'adapt' %}item-group-content-alignment{% endif %} content-alignment-{{ block.id }} h-full width-{{ block.id }}">
  <div class="w-full flex justify-{{ block.settings.mobile_content_alignment }} md:justify-{{ block.settings.content_alignment }} items-{{ block.settings.content_position }}">
    <div class="{% if block.settings.icon_position == "above" %}flex-col{% endif %} flex">
      {%- unless block.settings.icon == "none" -%}
        {% unless block.settings.custom_icon == blank and block.settings.another_icon == blank and block.settings.icon == 'another_icon' and block.settings.custom_image == blank %}
          <div class="{% if block.settings.icon_position == "above" %}w-full{% else %}w-fit{% endif %}">
            <span class="inline-block color-icon--{{ block.id }} size-icon-{{ block.id }} {% if block.settings.icon_position == "above" %}content-alignment-{{ block.id }}{% endif %} flex-shrink-0">
              {% if block.settings.custom_image != blank %}
                {% # theme-check-disable ImgLazyLoading %}
                <img 
                  src="{{ block.settings.custom_image | image_url: width: block.settings.icon_size }}"
                  alt="{{ block.settings.custom_image.alt | escape }}"
                  {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                  width="{{ block.settings.custom_image.width }}"
                  height="{{ block.settings.custom_image.height }}"
                  style="object-position: {{ block.settings.custom_image.presentation.focal_point }}"
                  class="object-cover size-icon-{{ block.id }} corner--{{ block.id }}"
                >
                {% # theme-check-enable ImgLazyLoading %}
              {% else %}
                {% if block.settings.custom_icon == blank %}
                  {% if block.settings.another_icon != blank and block.settings.icon == 'another_icon' %}
                    {% render 'icon-new-alls', icon: block.settings.another_icon %}
                  {% else %}
                    {% render 'icon-labels-bags', icon: block.settings.icon %}
                  {% endif %}
                {% else %}
                  {{ block.settings.custom_icon }}
                {% endif %}
              {% endif %}
            </span>
          </div>
        {%- endunless -%}
      {%- endunless -%}
      {% liquid
        assign base_size_heading = settings.heading_base_size | times: 0.0225 

        assign text_size = block.settings.text_size | times: settings.text_base_size | times: 0.0000875
        assign size_title = block.settings.heading_size | times: 0.005 | times: base_size_heading
      %}
      {%- style -%}
        .heading-{{ block.id }} {
          font-size: {{ size_title | times: 0.8 }}rem;
        }
        .text-{{ block.id }} { 
          font-size: {{ text_size | times: 0.9 }}rem; 
          {% if block.settings.text_color_light.alpha != 0.0 %}
            --colors-text: {{ block.settings.text_color_light.red }},{{ block.settings.text_color_light.green }},{{ block.settings.text_color_light.blue }};
          {% else %}
            --colors-text: {{ settings.colors_text.red }},{{ settings.colors_text.green }},{{ settings.colors_text.blue }};
          {%- endif -%}
          {% if block.settings.text_link_color_light.alpha != 0.0 %}
            --colors-text-link: {{ block.settings.text_link_color_light.red }}, {{ block.settings.text_link_color_light.green }}, {{ block.settings.text_link_color_light.blue }};
          {% else %}
            --colors-text-link: {{ settings.colors_text_link.red }}, {{ settings.colors_text_link.green }}, {{ settings.colors_text_link.blue }};
          {% endif %}
        }
        .dark .text-{{ block.id }} {
          {% if block.settings.text_color_dark.alpha != 0.0 %}
            --colors-text: {{ block.settings.text_color_dark.red }},{{ block.settings.text_color_dark.green }},{{ block.settings.text_color_dark.blue }};
          {% else %}
            --colors-text: {{ settings.colors_dark_text.red }},{{ settings.colors_dark_text.green }},{{ settings.colors_dark_text.blue }};
          {% endif %}
          {% if block.settings.text_link_color_dark.alpha != 0.0 %}
            --colors-text-link: {{ block.settings.text_link_color_dark.red }}, {{ block.settings.text_link_color_dark.green }}, {{ block.settings.text_link_color_dark.blue }};
          {% else %}
            --colors-text-link: {{ settings.colors_dark_text_link.red }}, {{ settings.colors_dark_text_link.green }}, {{ settings.colors_dark_text_link.blue }};
          {% endif %}
        }        
        .heading-{{ block.id }} { 
          {% if block.settings.heading_color_light.alpha != 0.0 %}
            --colors-heading: {{ block.settings.heading_color_light.red }},{{ block.settings.heading_color_light.green }},{{ block.settings.heading_color_light.blue }};
          {% else %}
            --colors-heading: {{ settings.colors_heading.red }},{{ settings.colors_heading.green }},{{ settings.colors_heading.blue }};
          {%- endif -%}
          {% if block.settings.heading_highlight_color_light != blank and block.settings.heading_highlight_color_light.alpha != 0.0 %}
            --color-highlight: {{ block.settings.heading_highlight_color_light }};
          {% else %}
            --color-highlight: {{ settings.colors_heading_highlight }};
          {% endif %}
        }
        .dark .heading-{{ block.id }} {
          {% if block.settings.heading_color_dark.alpha != 0.0 %}
            --colors-heading: {{ block.settings.heading_color_dark.red }},{{ block.settings.heading_color_dark.green }},{{ block.settings.heading_color_dark.blue }};
          {% else %}
            --colors-heading: {{ settings.colors_dark_heading.red }},{{ settings.colors_dark_heading.green }},{{ settings.colors_dark_heading.blue }};
          {% endif %}
          {% if block.settings.heading_highlight_color_dark != blank and block.settings.heading_highlight_color_dark.alpha != 0.0 %}
            --color-highlight: {{ block.settings.heading_highlight_color_dark }};
          {% else %}
            --color-highlight: {{ settings.colors_dark_heading_highlight }};
          {% endif %}
        }
        @media screen and (min-width: 768px) {
          .text-{{ block.id }} { 
            font-size: {{ text_size }}rem; 
          }
          .heading-{{ block.id }} {
            font-size: {{ size_title }}rem;
          }
        }
      {%- endstyle -%}
      <div class="text-{{ block.id }} {% if block.settings.icon_position == "above" %}pt-2{% else %}pl-2{% endif %}">
        {% if block.settings.title != blank %}
          <p class="h3 empty:hidden heading-{{ block.id }} {% if block.settings.mobile_content_alignment == 'adapt' %}item-group-content-alignment-mobile{% endif %} {% if block.settings.content_alignment == 'adapt' %}item-group-content-alignment{% endif %} content-alignment-{{ block.id }} text-[rgba(var(--colors-heading))] leading-tight">
            {% if block.settings.title_link %}
              <a class="hover:text-[rgba(var(--colors-text-link))]" href="{{ block.settings.title_link }}"{% if block.settings.open_new_window %} target="_blank"{% endif %}>
                {% render 'heading-highlight',
                  headingId: block.id,
                  heading: block.settings.title,
                  highlight_type: block.settings.highlight_type,
                  color_heading_highlight_dark: section.settings.color_heading_highlight_dark,
                  color_heading_highlight_light: section.settings.color_heading_highlight_light
                %}
              </a>
            {% else %}
              {% render 'heading-highlight',
                headingId: block.id,
                heading: block.settings.title,
                highlight_type: block.settings.highlight_type,
                color_heading_highlight_dark: section.settings.color_heading_highlight_dark,
                color_heading_highlight_light: section.settings.color_heading_highlight_light
              %}
            {% endif %}
          </p>
        {% endif %}
        {% if block.settings.text != blank %}
          <div class="{% if block.settings.mobile_content_alignment == 'adapt' %}item-group-content-alignment-mobile{% endif %} {% if block.settings.content_alignment == 'adapt' %}item-group-content-alignment{% endif %} content-alignment-{{ block.id }} rte text-[rgb(var(--colors-text))]">
            {{ block.settings.text }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.featured-product.blocks.text_with_icon.name",
  "class": "flexible-area-text-with-icon flexible-area-block splide__slide x-splide-slide",
  "settings": [
    {
      "type": "select",
      "id": "desktop_width",
      "label": "t:sections.flexible-area.blocks.item-group.settings.desktop_width",
      "options": [
        {
          "label": "16%",
          "value": "16"
        },
        {
          "label": "20%",
          "value": "20"
        },
        {
          "label": "25%",
          "value": "25"
        },
        {
          "label": "30%",
          "value": "30"
        },
        {
          "label": "50%",
          "value": "50"
        },
        {
          "label": "66%",
          "value": "66"
        },
        {
          "label": "70%",
          "value": "70"
        },
        {
          "label": "75%",
          "value": "75"
        },
        {
          "label": "80%",
          "value": "80"
        },
        {
          "label": "83%",
          "value": "83"
        },
        {
          "label": "100%",
          "value": "100"
        }
      ],
      "default": "100"
    },
    {
      "type": "select",
      "id": "mobile_width",
      "label": "t:sections.flexible-area.blocks.item-group.settings.mobile_width",
      "options": [
        {
          "label": "50%",
          "value": "50"
        },
        {
          "label": "100%",
          "value": "100"
        }
      ],
      "default": "100"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.flexible-area.blocks.item-group.settings.adapt_item_group_alignment"
        }
      ],
      "default": "adapt",
      "label": "t:sections.quick-links.settings.alignment.label",
      "info": "t:sections.flexible-area.blocks.item-group.settings.adapt_item_group_alignment_info"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.flexible-area.blocks.item-group.settings.adapt_item_group_alignment"
        }
      ],
      "default": "adapt",
      "label": "t:sections.quick-links.settings.mobile_alignment.label",
      "info": "t:sections.flexible-area.blocks.item-group.settings.adapt_item_group_alignment_info"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_position.options__11.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_position.options__12.label"
        }
      ],
      "label": "t:sections.all.content_position.label",
      "default": "center"
    },
    {
      "type": "select",
      "id": "icon_position",
      "options": [
        {
          "value": "above",
          "label": "t:sections.multicolumn.settings.icon_position.options__1.label"
        },
        {
          "value": "next",
          "label": "t:sections.multicolumn.settings.icon_position.options__2.label"
        }
      ],
      "default": "above",
      "label": "t:sections.multicolumn.settings.icon_position.label"
    },
    {
      "type": "select",
      "id": "icon",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.icon.options.none"
        },
        {
          "value": "another_icon",
          "label": "t:sections.all.icon.another_icon_label"
        },
                {
          "value": "faq",
          "label": "t:sections.all.icon.options.faq"
        },
        {
          "value": "activity",
          "label": "t:sections.all.icon.options.activity"
        },
        {
          "value": "archive",
          "label": "t:sections.all.icon.options.archive"
        },
        {
          "value": "arrow-down-cricle",
          "label": "t:sections.all.icon.options.arrow-down-cricle"
        },
        {
          "value": "arrow-left",
          "label": "t:sections.all.icon.options.arrow-left"
        },
        {
          "value": "arrow-left-circle",
          "label": "t:sections.all.icon.options.arrow-left-circle"
        },
        {
          "value": "arrow-right",
          "label": "t:sections.all.icon.options.arrow-right"
        },
        {
          "value": "arrow-right-circle",
          "label": "t:sections.all.icon.options.arrow-right-circle"
        },
        {
          "value": "arrow-up-circle",
          "label": "t:sections.all.icon.options.arrow-up-circle"
        },
        {
          "value": "chevron-left",
          "label": "t:sections.all.icon.options.chevron-left"
        },
        {
          "value": "trending-down",
          "label": "t:sections.all.icon.options.trending-down"
        },
        {
          "value": "tv",
          "label": "t:sections.all.icon.options.tv"
        },
        {
          "value": "trending-up",
          "label": "t:sections.all.icon.options.trending-up"
        },
        {
          "value": "zap",
          "label": "t:sections.all.icon.options.zap"
        },
        {
          "value": "1st-medal",
          "label": "t:sections.all.icon.options.1st-medal"
        },
        {
          "value": "award",
          "label": "t:sections.all.icon.options.award"
        },
        {
          "value": "bicycle",
          "label": "t:sections.all.icon.options.bicycle"
        },
        {
          "value": "box",
          "label": "t:sections.all.icon.options.box"
        },
        {
          "value": "briefcase",
          "label": "t:sections.all.icon.options.briefcase"
        },
        {
          "value": "blink",
          "label": "t:sections.all.icon.options.blink"
        },
        {
          "value": "calendar",
          "label": "t:sections.all.icon.options.calendar"
        },
        {
          "value": "camera",
          "label": "t:sections.all.icon.options.camera"
        },
        {
          "value": "chat-bubble",
          "label": "t:sections.all.icon.options.chat-bubble"
        },
        {
          "value": "check-mark",
          "label": "t:sections.all.icon.options.check-mark"
        },
        {
          "value": "clock",
          "label": "t:sections.all.icon.options.clock"
        },
        {
          "value": "cloud-rain",
          "label": "t:sections.all.icon.options.cloud-rain"
        },
        {
          "value": "coffee",
          "label": "t:sections.all.icon.options.coffee"
        },
        {
          "value": "coin",
          "label": "t:sections.all.icon.options.coin"
        },
        {
          "value": "credit-card",
          "label": "t:sections.all.icon.options.credit-card"
        },
        {
          "value": "delivery-truck",
          "label": "t:sections.all.icon.options.delivery-truck"
        },
        {
          "value": "dollar-sign",
          "label": "t:sections.all.icon.options.dollar-sign"
        },
        {
          "value": "dna",
          "label": "t:sections.all.icon.options.dna"
        },
        {
          "value": "dark-mode",
          "label": "t:sections.all.icon.options.dark-mode"
        },
        {
          "value": "earth",
          "label": "t:sections.all.icon.options.earth"
        },
        {
          "value": "eye",
          "label": "t:sections.all.icon.options.eye"
        },
        {
          "value": "feather",
          "label": "t:sections.all.icon.options.feather"
        },
        {
          "value": "fire",
          "label": "t:sections.all.icon.options.fire"
        },
        {
          "value": "flower",
          "label": "t:sections.all.icon.options.flower"
        },
        {
          "value": "free-delivery",
          "label": "t:sections.all.icon.options.free-delivery"
        },
        {
          "value": "gift",
          "label": "t:sections.all.icon.options.gift"
        },
        {
          "value": "globe",
          "label": "t:sections.all.icon.options.globe"
        },
        {
          "value": "heart",
          "label": "t:sections.all.icon.options.heart"
        },
        {
          "value": "help",
          "label": "t:sections.all.icon.options.help"
        },
        {
          "value": "hot-sale",
          "label": "t:sections.all.icon.options.hot-sale"
        },
        {
          "value": "iron",
          "label": "t:sections.all.icon.options.iron"
        },
        {
          "value": "information",
          "label": "t:sections.contact-form.settings.infomation.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.all.icon.options.leaf"
        },
        {
          "value": "lock",
          "label": "t:sections.all.icon.options.lock"
        },
        {
          "value": "light-mode",
          "label": "t:sections.all.icon.options.light-mode"
        },
        {
          "value": "map-pin",
          "label": "t:sections.all.icon.options.map-pin"
        },
        {
          "value": "megaphone",
          "label": "t:sections.all.icon.options.megaphone"
        },
        {
          "value": "message-text",
          "label": "t:sections.all.icon.options.message-text"
        },
        {
          "value": "music",
          "label": "t:sections.all.icon.options.music"
        },
        {
          "value": "moon",
          "label": "t:sections.all.icon.options.moon"
        },
        {
          "value": "packages",
          "label": "t:sections.all.icon.options.packages"
        },
        {
          "value": "pants",
          "label": "t:sections.all.icon.options.pants"
        },
        {
          "value": "percent",
          "label": "t:sections.all.icon.options.percent"
        },
        {
          "value": "piggy-bank",
          "label": "t:sections.all.icon.options.piggy-bank"
        },
        {
          "value": "plane",
          "label": "t:sections.all.icon.options.plane"
        },
        {
          "value": "planet",
          "label": "t:sections.all.icon.options.planet"
        },
        {
          "value": "question-mark",
          "label": "t:sections.all.icon.options.question-mark"
        },
        {
          "value": "rocket",
          "label": "t:sections.all.icon.options.rocket"
        },
        {
          "value": "rulers",
          "label": "t:sections.all.icon.options.rulers"
        },
        {
          "value": "scissors",
          "label": "t:sections.all.icon.options.scissors"
        },
        {
          "value": "settings",
          "label": "t:sections.all.icon.options.settings"
        },
        {
          "value": "shirt",
          "label": "t:sections.all.icon.options.shirt"
        },
        {
          "value": "shop-alt",
          "label": "t:sections.all.icon.options.shop-alt"
        },
        {
          "value": "shopping-bag",
          "label": "t:sections.all.icon.options.shopping-bag"
        },
        {
          "value": "shopping-cart",
          "label": "t:sections.all.icon.options.shopping-cart"
        },
        {
          "value": "smile",
          "label": "t:sections.all.icon.options.smile"
        },
        {
          "value": "star",
          "label": "t:sections.all.icon.options.star"
        },
        {
          "value": "sun",
          "label": "t:sections.all.icon.options.sun"
        },
        {
          "value": "support",
          "label": "t:sections.all.icon.options.support"
        },
        {
          "value": "tag",
          "label": "t:sections.all.icon.options.tag"
        },
        {
          "value": "telephone",
          "label": "t:sections.all.icon.options.telephone"
        },
        {
          "value": "truck",
          "label": "t:sections.all.icon.options.truck"
        },
        {
          "value": "wallet",
          "label": "t:sections.all.icon.options.wallet"
        },
        {
          "value": "washing",
          "label": "t:sections.all.icon.options.washing"
        },
        {
          "value": "water",
          "label": "t:sections.all.icon.options.water"
        },
        {
          "value": "yoga",
          "label": "t:sections.all.icon.options.yoga"
        }
      ],
      "default": "heart",
      "label": "t:sections.all.icon.label"
    },
    {
      "type": "text",
      "id": "another_icon",
      "label": "t:sections.all.icon.another_icon_label",
      "info": "t:sections.all.icon.another_icon_info",
      "visible_if": "{{ block.settings.icon == 'another_icon' }}"
    },
    {
      "type": "image_picker",
      "id": "custom_image",
      "label": "t:sections.multicolumn.blocks.column.settings.custom_image",
      "visible_if": "{{ block.settings.icon != 'none' }}"
    },
    {
      "type": "html",
      "id": "custom_icon",
      "label": "t:sections.all.icon.custom_icon",
      "info": "t:sections.all.icon.custom_icon_info",
      "visible_if": "{{ block.settings.icon != 'none' }}"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.multicolumn.settings.icon_size.label",
      "default": 45,
      "visible_if": "{{ block.settings.icon != 'none' }}"
    },
    {
      "type": "range",
      "id": "corner_image",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.image-with-text.settings.corner_radius.label",
      "default": 0,
      "info": "t:sections.flexible-area.blocks.text-with-icon.corner_radius.info",
      "visible_if": "{{ block.settings.icon != 'none' }}"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Column",
      "label": "t:sections.all.text.heading",
      "info": "t:settings_schema.typography.settings.heading_highlight_type.info"
    },
    {
      "type": "select",
      "id": "highlight_type",
      "default": "underline",
      "label": "t:settings_schema.typography.settings.heading_highlight_type.label",
      "options": [
        {
          "value": "underline",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__1.label"
        },
        {
          "value": "font_highlight",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__3.label"
        }
      ]
    },
    {
      "type": "url",
      "id": "title_link",
      "label": "t:sections.all.text.heading_link"
    },
    {
      "type": "checkbox",
      "id": "open_new_window",
      "default": false,
      "label": "t:sections.all.open_new_window.label"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.text.heading_size",
      "default": 100
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Add details on availability, style, or even provide a review.</p>",
      "label": "t:sections.all.text.text"
    },
    {
			"type": "range",
			"id": "text_size",
			"min": 50,
			"max": 200,
			"unit": "%",
			"step": 10,
			"default": 100,
			"label": "t:sections.all.text.text_size"
		},
    {
      "type": "header",
      "content": "t:settings_schema.colors.name"
    },
    {
      "type": "color",
      "id": "heading_color_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.text.color_heading_light"
    },
    {
      "type": "color",
      "id": "heading_highlight_color_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.text.color_heading_highlight_light"
    },
    {
      "type": "color",
      "id": "text_color_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.text.color"
    },
    {
      "type": "color",
      "id": "text_link_color_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:settings_schema.colors.colors_text_link_light"
    },
    {
      "type": "color",
      "id": "color_icon_light",
      "label": "t:sections.all.text.color_icon",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "heading_color_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.text.color_heading_dark"
    },
    {
      "type": "color",
      "id": "heading_highlight_color_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.text.color_heading_highlight_dark"
    },
    {
      "type": "color",
      "id": "text_color_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.text.color_dark"
    },   
    {
      "type": "color",
      "id": "text_link_color_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:settings_schema.colors.colors_text_link_dark"
    },
    {
      "type": "color",
      "id": "color_icon_dark",
      "label": "t:sections.all.text.color_icon_dark",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.blocks.text_with_icon.name",
      "category": "t:categories.basics"
    }
  ]
}
{% endschema %}