<!doctype html>
<html class="no-js full-height{% if settings.lang_direction contains request.locale.iso_code %} rtl{% endif %}" lang="{{ request.locale.iso_code }}"{% if settings.lang_direction contains request.locale.iso_code %} dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">
    
    {%- render 'meta-tags' -%}
    {%- render 'font-face' -%}
    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
    {%- render 'css-variables' -%}
    {%- render 'theme-mode-control' -%}

    {{ content_for_header }}
  </head>

  <body class="flex flex-col h-full min-h-[100vh] scrollbar-body overflow-x-hidden text-[{{ settings.text_base_size | times: 0.007875 }}rem] md:text-[{{ settings.text_base_size | times: 0.00875 }}rem]" x-data :class="$store.xPopup.open && 'overflow-hidden padding-scrollbar'">
    <a class="skip-to-content absolute -z-10 button button-solid hidden lg:block pt-2.5 pb-2.5 pl-6 pr-6 lg:pt-3 lg:pb-3 mt-0.5 ml-0.5 leading-normal justify-center cursor-pointer focus-visible:z-60" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class=" flex-grow">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.Eurus = {
        sliderScript: '{{ 'splide4.1.3.js' | asset_url }}',
        cart_quantity_error_html: '{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}',
        loadedScript: []
      };
    </script>

    {%- if request.design_mode -%}
      <script src="{{ 'theme-editor-alpine-custom.js' | asset_url }}" defer></script>
      <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
    {%- endif -%}
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'vendors.js' | asset_url }}" defer></script>
  </body>
</html>
