<style>
   .fullwidth-double-banner {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }

  .fullwidth-banner-block,
  .fullwidth-banner-block-1,
  .fullwidth-banner-block-2 {
    flex: 1 1 50%;
    display: block;
    height: 199.165px;
  }

  .fullwidth-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }


.mobile-only {
  display: none;
}


@media (max-width: 767px) {
  {% comment %} .desktop-only {
    display: none !important;
  } {% endcomment %}
  .mobile-only {
    display: block !important;
  }
}


  @media (max-width: 768px) {
    .fullwidth-double-banner {
      flex-direction: column;
      margin-bottom: 20px;
    }

    .fullwidth-banner-block,
    .fullwidth-banner-block-1,
    .fullwidth-banner-block-2 {
      flex: 1 1 100%;
      height: 115.33px;
    }

    .fullwidth-banner-block-2 {
      margin-bottom: 20px; /* Extra spacing for second block on mobile */
    }
  }
</style>

<div class="fullwidth-double-banner">
  {% for block in section.blocks %}
    {% if block.settings.image %}
      <div class="fullwidth-banner-block fullwidth-banner-block-{{ forloop.index }}">
        <a href="{{ block.settings.link }}" class="fullwidth-banner-link">
          
      <picture>
         {% if block.settings.mobile_image %}
          <source 
            media="(max-width: 767px)"
            srcset="{{ block.settings.mobile_image | image_url: width: 800 }}">
        {% endif %}

       <img
          class="fullwidth-banner-image desktop-only"
          src="{{ block.settings.image | image_url: width: 1200 }}"
          alt="{{ block.settings.image.alt | escape }}"
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.height }}"
          loading="lazy"
        >
          
      </picture>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Full Width Double Banner",
  "tag": "section",
  "class": "shopify-section--fullwidth-double-banner",
  "max_blocks": 2,
  "settings": [],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Banner Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Full Width Double Banner",
      "category": "Custom",
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}
