{%-liquid
  assign border_image = section.settings.image_corner_radius | minus: 0
  assign position = 'top-1/2 -translate-y-1/2'
  assign position_after = 'top-1/2 -translate-y-1/2'
  if section.settings.layout_comparison == "vertical"
    assign position = 'left-1/2 -translate-x-1/2'
    assign position_after = 'left-1/2 -translate-x-1/2'
  endif

  if section.settings.heading_before_image_position == 'top'
    assign position = 'top-6'
    if section.settings.layout_comparison == "vertical"
      assign position = 'left-6'
    endif
  endif
  if section.settings.heading_before_image_position == 'bottom'
    assign position = 'bottom-6'
    if section.settings.layout_comparison == "vertical"
      assign position = 'right-6'
    endif
  endif
  if section.settings.heading_after_image_position == 'top'
    assign position_after = 'top-6'
    if section.settings.layout_comparison == "vertical"
      assign position_after = 'left-6'
    endif
  endif
  if section.settings.heading_after_image_position == 'bottom'
    assign position_after = 'bottom-6'
    if section.settings.layout_comparison == "vertical"
      assign position_after = 'right-6'
    endif
  endif
      
  assign rounded_corners = false

  if section.settings.label_edges_type == 'rounded_corners'
    assign rounded_corners = true
  else
    assign rounded_corners = false
  endif

  if section.settings.adapt_radius
    if settings.edges_type == 'rounded_corners'
      assign rounded_corners = true
    else
      assign rounded_corners = false
    endif 
  endif
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
-%}
{%- style -%}
  {% if section.settings.layout_comparison == "vertical" %}
    .image-comparison .vertical.before-after__slider {
      cursor: row-resize;
      -webkit-appearance: slider-vertical;
      -moz-appearance: slider-vertical;
      appearance: slider-vertical;
      writing-mode: lr;
      opacity: 0;
    }
  {% endif %}
  :root, *:before {
    {% if section.settings.layout_comparison == "vertical" %}
      --compare_{{ section.id }}: 0;
      --compare_vertical_{{ section.id }}: 0%;
    {%- else -%}
      --compare_{{ section.id }}: 100%;
      --compare_vertical_{{ section.id }}: 0;
    {%- endif -%}
  }
  .main-img-{{ section.id }} {
    clip-path: inset(var(--compare_vertical_{{ section.id }}) 0px 0px var(--compare_{{ section.id }}));
  }
  {%- if section.settings.image != blank -%} 
    .mobile-{{ section.id }}-natural {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%; 
    }
  {%- endif -%}
  .border-radius-{{ section.id }} {
    {% unless section.settings.adapt_radius %}
      border-radius: {{ border_image }}px;
    {% else %}
      {% if settings.edges_type == 'rounded_corners' %}
        border-radius: 10px;
      {% endif %}
    {% endunless %}
  }
  .heading-before-{{ section.id }} {
    font-size: {{ section.settings.heading_base_size_before_image | times: 0.01 | times: settings.text_base_size | times: 0.00875 | times: 0.9 }}rem
  }
  .heading-after-{{ section.id }} {
    font-size: {{ section.settings.heading_base_size_after_image | times: 0.01 | times: settings.text_base_size | times: 0.00875 | times: 0.9 }}rem
  }
  .heading-before-{{ section.id }},
  .heading-after-{{ section.id }} {
    {%- if section.settings.heading_color.alpha != 0.0 -%}
      color: {{ section.settings.heading_color }};
    {%- else -%}
      color: rgba(var(--colors-button-text));
    {%- endif -%}
    {%- if section.settings.background_color.alpha != 0.0 -%}
      background: {{ section.settings.background_color }};
    {%- else -%}
      background: rgba(var(--colors-button));
    {%- endif -%}
  }
  .dark .heading-before-{{ section.id }},
  .dark .heading-after-{{ section.id }} {
    {%- if section.settings.heading_color_dark.alpha != 0.0 -%}
      color: {{ section.settings.heading_color_dark }};
    {%- else -%}
      color: rgba(var(--colors-button-text));
    {%- endif -%}
    {%- if section.settings.background_color_dark.alpha != 0.0 -%}
      background: {{ section.settings.background_color_dark }};
    {%- else -%}
      background: rgba(var(--colors-button));
    {%- endif -%}
  }
  .ic--{{ section.id }} {
    {% if section.settings.text_background_light.alpha != 0.0 %}
      background: {{ section.settings.text_background_light }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
    {% endif %}
  }
  .dark .ic--{{ section.id }} {
    {% if section.settings.text_background_dark.alpha != 0.0 %}
      background: {{ section.settings.text_background_dark }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
    {% endif %}
  }
  
  @media screen and (min-width: 768px) {
    {%- if section.settings.image != blank -%} 
      .desktop-{{ section.id }}-natural {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%; 
      } 
    {%- endif -%}
    .heading-before-{{ section.id }} {
      font-size: {{ section.settings.heading_base_size_before_image | times: 0.01 | times: settings.text_base_size | times: 0.00875 }}rem
    }
    .heading-after-{{ section.id }} {
      font-size: {{ section.settings.heading_base_size_after_image | times: 0.01 | times: settings.text_base_size | times: 0.00875 }}rem
    }
  }
{%- endstyle -%}
{% render 'section-divider' %}
<div 
  class="pt-[{{ section.settings.top_padding_mobile }}px] md:pt-[{{ section.settings.top_padding }}px] pb-[{{ section.settings.bottom_padding_mobile }}px] md:pb-[{{ section.settings.bottom_padding }}px]
    {%- if section.settings.full_width %}{% if section.settings.padding_full_width %} md:pl-5 md:pr-5{% else %} md:pl-0 md:pr-0{% endif %}{% else %} x-pgw page-width{% endif %}{% if section.settings.full_width_mobile %} full-width-mobile{% else %} pr-5 pl-5{% endif %}" 
>
  {%- if section.settings.heading != blank -%}
    {%- liquid 
      assign heading_size = section.settings.heading_base_size | times: settings.heading_base_size | times: 0.000225
    -%}
    {%- style -%} 
      .heading-{{ section.id }} {
        font-size: {{ heading_size | times: 0.6 }}rem; 
      }
      @media screen and (min-width: 768px) {
        .heading-{{ section.id }}{ font-size: {{ heading_size }}rem; }
      }
    {%- endstyle -%}
    <div class="{% if section.settings.full_width %}px-5 md:px-0{% endif %}">
      <div class="pt-2 pb-2 mb-6">
        {% render 'heading-highlight',
          headingId: section.id,
          heading: section.settings.heading,
          highlight_type: section.settings.highlight_type,
          class: 'h2 block leading-tight text-center',
          heading_tag: section.settings.heading_tag,
          animation_heading: true
        %}
      </div>
    </div>
  {%- endif -%}
  <div class="image-comparison text-[rgb(var(--colors-text))] flex flex-col md:flex-row border-radius-{{ section.id }} {{ section.settings.image_alignment_mobile }} {{ section.settings.image_alignment }}">
    <div class="ic-image promotion w-full{% if section.blocks.size > 0 %} md:w-1/2{% endif %} flex overflow-hidden border-radius-{{ section.id }}" x-data='xImageComparison("{{ section.id }}", "{{ section.settings.layout_comparison }}")'>
      <div 
        x-ref="image"
        class="promotion w-full relative md:h-auto min-h-[100%]{% if section.settings.desktop_height == "natural" %}{% if section.settings.image != blank %} md:h-0 desktop-{{ section.id }}-natural{% else %} md:promotion:h-[650px]{% endif %}{% else %} md:promotion:h-[{{ section.settings.desktop_height }}] md:promotion:pb-0{% endif -%}
          {%- if section.settings.mobile_height == "natural" %}{% if section.settings.image != blank %} h-0 mobile-{{ section.id }}-natural{% else %} h-[550px]{% endif %}{% else %} h-[{{ section.settings.mobile_height }}] md:h-auto{% endif -%}
        "
      >
        <div 
          class="w-full h-full{% if section.settings.mobile_height == 'natural' %} absolute top-0 left-0 bottom-0{% else %} relative{% endif %}{% if section.settings.desktop_height == "natural" %} md:absolute md:top-0 md:left-0 md:bottom-0{% else %} md:promotion:relative{% endif %}"
        >
          <div class="main-img-{{ section.id }} border-radius-{{ section.id }} w-full overflow-hidden h-full z-20 relative pointer-events-none select-none">
            {% if section.settings.heading_after_image != blank %}
              <p class="heading-after-{{ section.id }}{% if rounded_corners %} rounded-[10px]{% endif %} px-8 py-4 absolute z-10 w-max max-w-[calc(100%-48px)] {{ position_after }}{% if section.settings.layout_comparison == "vertical" %} bottom-6{% else %} right-6{%- endif %}">
                {{ section.settings.heading_after_image }}
              </p>
             {%- endif %}
            {%- capture size_image -%}
              {%- if section.blocks.size > 0 -%}
                (min-width: 768px){% if section.settings.full_width %} 50vw{% else %} {{ settings.page_width | divided_by: 2 }}px{% endif %}, 100vw
              {%- else -%}
                (min-width: 768px){% if section.settings.full_width %} 100vw{% else %} {{ settings.page_width }}px{% endif %}, 100vw
              {%- endif -%}
            {%- endcapture -%}
            {% if section.settings.image_after != blank %}
              {% # theme-check-disable ImgLazyLoading %}
              <parallax-image class="h-full w-full{% if section.settings.image_mobile_after != blank %} hidden md:block{% else %} block{% endif %}">
                <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                  <img
                    class="h-full w-full object-cover pointer-events-none select-none border-radius-{{ section.id }} animate-Xpulse skeleton-image"
                    srcset="{{ section.settings.image_after | image_url: width: 450 }} 450w,
                    {{ section.settings.image_after | image_url: width: 750 }} 750w,
                    {{ section.settings.image_after | image_url: width: 900 }} 900w,
                    {{ section.settings.image_after | image_url: width: 1100 }} 1100w,
                    {{ section.settings.image_after | image_url: width: 1500 }} 1500w,
                    {{ section.settings.image_after | image_url: width: 1780 }} 1780w,
                    {{ section.settings.image_after | image_url: width: 2000 }} 2000w,
                    {{ section.settings.image_after | image_url: width: 3000 }} 3000w,
                    {{ section.settings.image_after | image_url: width: 3840 }} 3840w,
                    {{ section.settings.image_after | image_url }} {{ section.settings.image_after.width }}w"
                    src="{{ section.settings.image_after | image_url: width: 3840 }}"
                    alt="{{ section.settings.image_after.alt | escape }}"
                    {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                    onload="this.closest('.skeleton-image')?.classList.remove('animate-Xpulse', 'skeleton-image');"
                    sizes="{{ size_image }}"
                    width="{{ section.settings.image_after.width }}"
                    height="{{ section.settings.image_after.height }}"
                    style="object-position: {{ section.settings.image_after.presentation.focal_point }}"
                  >
                </parallax-movement>
              </parallax-image>
              {% # theme-check-enable ImgLazyLoading %}
            {% else %}
              {% liquid
                assign class_image_mobile = 'absolute w-full h-full bg-[#C9C9C9] text-[#acacac] md:block'
                if section.settings.image_mobile_after != blank
                  assign class_image_mobile = 'absolute w-full h-full bg-[#C9C9C9] text-[#acacac] hidden md:block'
                endif
              %}
              {{ 'image' | placeholder_svg_tag: class_image_mobile }}
            {% endif %}
            {%- if section.settings.image_mobile_after != blank -%}
              {% # theme-check-disable ImgLazyLoading %}
              <parallax-image class="block h-full w-full md:hidden">
                <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                  <img
                    srcset="{{ section.settings.image_mobile_after | image_url: width: 375 }} 375w,
                    {{ section.settings.image_mobile_after | image_url: width: 450 }} 450w,
                    {{ section.settings.image_mobile_after | image_url: width: 750 }} 750w,
                    {{ section.settings.image_mobile_after | image_url: width: 900 }} 900w,
                    {{ section.settings.image_mobile_after | image_url: width: 1100 }} 1100w,
                    {{ section.settings.image_mobile_after | image_url: width: 1500 }} 1500w"
                    sizes="100vw"
                    src="{{ section.settings.image_mobile_after | image_url: width: 750 }}"
                    alt="{{ section.settings.image_mobile_after.alt | escape }}"
                    class="object-cover h-full w-full animate-Xpulse skeleton-image"
                    {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                    onload="this.closest('.skeleton-image')?.classList.remove('animate-Xpulse', 'skeleton-image');"
                    width="{{ section.settings.image_mobile_after.width }}"
                    height="{{ section.settings.image_mobile_after.height }}"
                    style="object-position: {{ section.settings.image_mobile_after.presentation.focal_point }}"
                  />
                </parallax-movement>
              </parallax-image>
              {% # theme-check-enable ImgLazyLoading %}
            {%- endif %}
          </div>
          <div class="absolute top-0 z-10 border-radius-{{ section.id }} h-full w-full overflow-hidden pointer-events-none select-none">
            {% if section.settings.heading_before_image != blank %}
              <p
                class="heading-before-{{ section.id }}{% if rounded_corners %} rounded-[10px]{% endif %} px-8 py-4 absolute z-10 w-max max-w-[calc(100%-48px)] {{ position }}{% if section.settings.layout_comparison == "vertical" %} top-6{% else %} left-6{%- endif %}"
              >
                {{ section.settings.heading_before_image }}
              </p>
            {%- endif %}
            {% if section.settings.image != blank %}
              {% # theme-check-disable ImgLazyLoading %}
              <parallax-image class="h-full w-full{% if section.settings.image_mobile != blank %} hidden md:block{% else %} block{% endif %}">
                <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                  <img
                    class="h-full {% if section.settings.layout_comparison == "vertical" %}w-full{% else %}w-[calc(100%-1px)]{% endif %} pointer-events-none select-none object-cover border-radius-{{ section.id }} animate-Xpulse skeleton-image"
                    srcset="{{ section.settings.image | image_url: width: 450 }} 450w,
                    {{ section.settings.image | image_url: width: 750 }} 750w,
                    {{ section.settings.image | image_url: width: 900 }} 900w,
                    {{ section.settings.image | image_url: width: 1100 }} 1100w,
                    {{ section.settings.image | image_url: width: 1500 }} 1500w,
                    {{ section.settings.image | image_url: width: 1780 }} 1780w,
                    {{ section.settings.image | image_url: width: 2000 }} 2000w,
                    {{ section.settings.image | image_url: width: 3000 }} 3000w,
                    {{ section.settings.image | image_url: width: 3840 }} 3840w,
                    {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                    src="{{ section.settings.image | image_url: width: 3840 }}"
                    alt="{{ section.settings.image.alt | escape }}"
                    {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                    onload="this.closest('.skeleton-image')?.classList.remove('animate-Xpulse', 'skeleton-image');"
                    sizes="{{ size_image }}"
                    width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}"
                    style="object-position: {{ section.settings.image.presentation.focal_point }}"
                  >
                 </parallax-movement>
              </parallax-image>
              {% # theme-check-enable ImgLazyLoading %}
            {% else %}
              {% liquid
                assign class_image_mobile = 'absolute w-full h-full bg-[#C9C9C9] text-[#acacac] md:block'
                if section.settings.image_mobile != blank
                  assign class_image_mobile = 'absolute w-full h-full bg-[#C9C9C9] text-[#acacac] hidden md:block'
                endif
              %}
              {{ 'image' | placeholder_svg_tag: class_image_mobile }}
            {% endif %}
            {%- if section.settings.image_mobile != blank -%}
              {% # theme-check-disable ImgLazyLoading %}
              <parallax-image class="block h-full w-full md:hidden">
                <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                  <img
                    srcset="{{ section.settings.image_mobile | image_url: width: 375 }} 375w,
                    {{ section.settings.image_mobile | image_url: width: 450 }} 450w,
                    {{ section.settings.image_mobile | image_url: width: 750 }} 750w,
                    {{ section.settings.image_mobile | image_url: width: 900 }} 900w,
                    {{ section.settings.image_mobile | image_url: width: 1100 }} 1100w,
                    {{ section.settings.image_mobile | image_url: width: 1500 }} 1500w"
                    sizes="100vw"
                    src="{{ section.settings.image_mobile | image_url: width: 750 }}"
                    alt="{{ section.settings.image_mobile.alt | escape }}"
                    class="object-cover h-full {% if section.settings.layout_comparison == "vertical" %}w-full{% else %}w-[calc(100%-1px)]{% endif %} md:hidden animate-Xpulse skeleton-image"
                    {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                    onload="this.closest('.skeleton-image')?.classList.remove('animate-Xpulse', 'skeleton-image');"
                    width="{{ section.settings.image_mobile.width }}"
                    height="{{ section.settings.image_mobile.height }}"
                    style="object-position: {{ section.settings.image_mobile.presentation.focal_point }}"
                  />
                </parallax-movement>
              </parallax-image>
              {% # theme-check-enable ImgLazyLoading %}
            {%- endif %}
          </div>
          <input x-on:focus="disableScroll($el)" @init-run.window="resizeWindow($el)" x-intersect.once="setMinMaxInput($el)" x-intersect.full.once="animateValue($el)" x-on:input.change="load($event)" type="range" min="0" max="100" step="0.1" 
            value="{% if section.settings.layout_comparison == 'vertical' %}{{ 100 | minus: section.settings.default_scroll_position }}{% else %}{{ section.settings.default_scroll_position }}{% endif %}"
            class="before-after__slider ltr{% if section.settings.layout_comparison == "vertical" %} vertical{% endif %}" 
            orient="{{ section.settings.layout_comparison }}" aria-label="range"
          />
          <div
            class="button-comparison absolute select-none z-20 {% if section.settings.layout_comparison == "vertical" %} left-0 w-full h-px{% else %} top-0 -translate-x-1/2 h-full{%- endif %}"
            style="top: var(--compare_vertical_{{ section.id }}); left: var(--compare_{{ section.id }});"
          >
            <span class="select-none p-1 absolute rounded-full top-1/2 -translate-y-1/2 bg-transparent left-1/2 -translate-x-1/2{% if section.settings.layout_comparison == "vertical" %} rotate-90{%- endif %}">
              {% render 'icon-alls', icon: 'icon-comparison' %}
            </span>
            <span class="select-none absolute h-full top-0 left-1/2 -translate-x-1/2 bg-white block {% if section.settings.layout_comparison == "vertical" %} w-full{% else %} w-px{% endif %}"></span>
          </div>
        </div>
        <div class="x-block-images-before absolute z-[45] top-0 left-0 h-full w-full" style="{% if section.settings.layout_comparison == "vertical" %}height: calc(var(--compare_vertical_{{ section.id }}) - 50px);{% else %}width: calc(var(--compare_{{ section.id }}) - 50px){% endif %}"></div>
        <div class="x-block-images-after absolute z-[45] bottom-0 right-0 h-full w-full"style="{% if section.settings.layout_comparison == "vertical" %}height: calc(100% - var(--compare_vertical_{{ section.id }}) - 50px);{% else %}width: calc(100% - var(--compare_{{ section.id }}) - 50px){% endif %}"></div>
      </div>
    </div>
    {% if section.blocks.size > 0 %}
      <div class="ic-content ic--{{ section.id }} w-full md:w-1/2 flex items-{{ section.settings.text_position -}}
        {%- if section.settings.image_alignment == 'md:flex-row-reverse' %} md:justify-end{% endif -%}
        {%- if section.settings.image_alignment == 'md:flex-row' %} rtl:md:justify-end{% endif %}"
      >
        <div class="w-full md:max-w-xl pt-3 pb-3 pl-5 pr-5 md:pt-10 md:pb-10{% if section.settings.image_alignment == 'md:flex-row' %} lg:pl-24 lg:pr-11{% else %} lg:pr-24 lg:pl-11{% endif %}">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'heading' -%}
                {%- liquid
                  assign base_size_heading = settings.heading_base_size | times: 0.0225
                  assign size_heading = block.settings.heading_base_size | times: 0.01 | times: base_size_heading
                  assign size_heading_mobile = size_heading | times: 0.6
                -%}
                {%- style -%}
                  .heading-size--{{ block.id }} {
                    font-size: {{ size_heading_mobile }}rem;
                  }
                  .color-text-{{ block.id }} {
                    --colors-text: var(--colors-text-secondary);
                    --colors-heading: var(--colors-heading-secondary);
                    {% if block.settings.heading_light.alpha != 0.0 %}
                      --colors-heading: {{ block.settings.heading_light.red }}, {{ block.settings.heading_light.green }}, {{ block.settings.heading_light.blue }};
                    {% endif %}
                    {% if block.settings.text_light.alpha != 0.0 %}
                      --colors-text: {{ block.settings.text_light.red }}, {{ block.settings.text_light.green }}, {{ block.settings.text_light.blue }};
                    {% endif %}
                  }
                  .dark .color-text-{{ block.id }} {
                    --colors-text: var(--colors-text-secondary);
                    --colors-heading: var(--colors-heading-secondary);
                    {% if block.settings.heading_dark.alpha != 0.0 %}
                      --colors-heading: {{ block.settings.heading_dark.red }}, {{ block.settings.heading_dark.green }}, {{ block.settings.heading_dark.blue }};
                    {% endif %}
                    {% if block.settings.text_dark.alpha != 0.0 %}
                      --colors-text: {{ block.settings.text_dark.red }}, {{ block.settings.text_dark.green }}, {{ block.settings.text_dark.blue }};
                    {% endif %}
                  }
                  @media (min-width: 768px) {
                    .heading-size--{{ block.id }} {
                      font-size: {{ size_heading }}rem;
                    }
                  }
                {%- endstyle -%}
                <div class="x-block-header color-text-{{ block.id }} text-[rgb(var(--colors-text))] w-full mt-4 text-{{ section.settings.text_alignment }}"{{ block.shopify_attributes }}>
                  {% if block.settings.subheading != blank %}
                    <p class="font-medium">{{ block.settings.subheading | escape }}</p>
                  {% endif %}
                  {% if block.settings.heading != blank %}
                    <{{ block.settings.heading_tag }} class=" heading-{{ block.id }} ">
                      {% render 'heading-highlight',
                        headingId: block.id,
                        heading: block.settings.heading,
                        highlight_type: block.settings.highlight_type,
                        color_heading_highlight_dark: block.settings.color_heading_highlight_dark,
                        color_heading_highlight_light: block.settings.color_heading_highlight_light,
                        class: 'h2 block mt-2 mb-1.5 md:mt-2.5 md:mb-3',
                        heading_tag: block.settings.heading_tag,
                        heading_size: true
                      %}
                    </{{ block.settings.heading_tag }}>
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <div class="rte">
                      {{ block.settings.text }}
                    </div>
                  {% endif %}
                </div>
              {%- when 'button' -%}
                {% if block.settings.button_label != blank %}
                  {% style %}
                    .button-{{ block.id }}, .button-{{ block.id }} *:before {
                      {% if block.settings.button_light.alpha != 0.0 %}
                        --colors-button: {{ block.settings.button_light.red }}, {{ block.settings.button_light.green }}, {{ block.settings.button_light.blue }};
                      {% endif %}
                      {% if block.settings.button_text_light.alpha != 0.0 %}
                        --colors-button-text: {{ block.settings.button_text_light.red }}, {{ block.settings.button_text_light.green }}, {{ block.settings.button_text_light.blue }};
                      {% endif %}
                      {% if block.settings.button_hover_light.alpha != 0.0 %}
                        --colors-button-hover: rgb({{ block.settings.button_hover_light.red }}, {{ block.settings.button_hover_light.green }}, {{ block.settings.button_hover_light.blue }});
                      {% endif %}
                      {% if block.settings.button_text_hover_light.alpha != 0.0 %}
                        --colors-button-text-hover: {{ block.settings.button_text_hover_light.red }}, {{ block.settings.button_text_hover_light.green }}, {{ block.settings.button_text_hover_light.blue }};
                      {% endif %}
                      {% if block.settings.secondary_button_text_light.alpha != 0.0 %}
                        --colors-secondary-button: {{ block.settings.secondary_button_text_light.red }}, {{ block.settings.secondary_button_text_light.green }}, {{ block.settings.secondary_button_text_light.blue }};
                        --colors-line-secondary-button: {{ block.settings.secondary_button_text_light.red }}, {{ block.settings.secondary_button_text_light.green }}, {{ block.settings.secondary_button_text_light.blue }};
                        --background-secondary-button: transparent;
                      {% endif %}
                      {% if block.settings.secondary_button_light.alpha != 0.0 %}
                        --background-secondary-button: {{ block.settings.secondary_button_light.red }}, {{ block.settings.secondary_button_light.green }}, {{ block.settings.secondary_button_light.blue }};
                        --colors-line-secondary-button: {{ block.settings.secondary_button_light.red }}, {{ block.settings.secondary_button_light.green }}, {{ block.settings.secondary_button_light.blue }};
                      {% endif %}
                      {% if block.settings.colors_text_link.alpha != 0.0 %}
                        --colors-text-link: {{ block.settings.colors_text_link.red }}, {{ block.settings.colors_text_link.green }}, {{ block.settings.colors_text_link.blue }};
                      {% endif %}
                    }
                    .dark .button-{{ block.id }}, .dark .button-{{ block.id }} *:before {
                      {% if block.settings.button_dark.alpha != 0.0 %}
                        --colors-button: {{ block.settings.button_dark.red }}, {{ block.settings.button_dark.green }}, {{ block.settings.button_dark.blue }};
                      {% else %}  
                        --colors-button: {{ settings.colors_dark_button.red }}, {{ settings.colors_dark_button.green }}, {{ settings.colors_dark_button.blue }};
                      {% endif %}
                      {% if block.settings.button_text_dark.alpha != 0.0 %}
                        --colors-button-text: {{ block.settings.button_text_dark.red }}, {{ block.settings.button_text_dark.green }}, {{ block.settings.button_text_dark.blue }};
                      {% else %} 
                        --colors-button-text: {{ settings.colors_dark_button_text.red }}, {{ settings.colors_dark_button_text.green }}, {{ settings.colors_dark_button_text.blue }}; 
                      {% endif %}
                      {% if block.settings.button_hover_dark.alpha != 0.0 %}
                        --colors-button-hover: rgb({{ block.settings.button_hover_dark.red }}, {{ block.settings.button_hover_dark.green }}, {{ block.settings.button_hover_dark.blue }});
                      {% else %}  
                        --colors-button-hover: rgb({{ settings.colors_dark_button_hover.red }}, {{ settings.colors_dark_button_hover.green }}, {{ settings.colors_dark_button_hover.blue }});
                      {% endif %}
                      {% if block.settings.button_text_hover_dark.alpha != 0.0 %}
                        --colors-button-text-hover: {{ block.settings.button_text_hover_dark.red }}, {{ block.settings.button_text_hover_dark.green }}, {{ block.settings.button_text_hover_dark.blue }};
                      {% else %}  
                        --colors-button-text-hover: {{ settings.colors_dark_button_text_hover.red }}, {{ settings.colors_dark_button_text_hover.green }}, {{ settings.colors_dark_button_text_hover.blue }};
                      {% endif %}
                      {% if block.settings.secondary_button_text_dark.alpha != 0.0 %}
                        --colors-secondary-button: {{ block.settings.secondary_button_text_dark.red }}, {{ block.settings.secondary_button_text_dark.green }}, {{ block.settings.secondary_button_text_dark.blue }};
                        --colors-line-secondary-button: {{ block.settings.secondary_button_text_dark.red }}, {{ block.settings.secondary_button_text_dark.green }}, {{ block.settings.secondary_button_text_dark.blue }};
                        --background-secondary-button: transparent;
                      {% else %}  
                        --colors-secondary-button: {{ settings.colors_button_secondary.red }}, {{ settings.colors_button_secondary.green }}, {{ settings.colors_button_secondary.blue }};
                        --colors-line-secondary-button: {{ settings.colors_button_secondary.red }}, {{ settings.colors_button_secondary.green }}, {{ settings.colors_button_secondary.blue }};
                      {% endif %}
                      {% if block.settings.secondary_button_dark.alpha != 0.0 %}
                        --background-secondary-button: {{ block.settings.secondary_button_dark.red }}, {{ block.settings.secondary_button_dark.green }}, {{ block.settings.secondary_button_dark.blue }};
                        --colors-line-secondary-button: {{ block.settings.secondary_button_dark.red }}, {{ block.settings.secondary_button_dark.green }}, {{ block.settings.secondary_button_dark.blue }};
                      {% elsif settings.background_dark_button_secondary.alpha != 0.0 %}  
                        --background-secondary-button: {{ settings.background_dark_button_secondary.red }}, {{ settings.background_dark_button_secondary.green }}, {{ settings.background_dark_button_secondary.blue }};
                        --colors-line-secondary-button: {{ settings.background_dark_button_secondary.red }}, {{ settings.background_dark_button_secondary.green }}, {{ settings.background_dark_button_secondary.blue }};
                      {% else %}
                        --background-secondary-button: transparent;
                      {% endif %}
                      {% if block.settings.colors_text_link_dark.alpha != 0.0 %}
                        --colors-text-link: {{ block.settings.colors_text_link_dark.red }}, {{ block.settings.colors_text_link_dark.green }}, {{ block.settings.colors_text_link_dark.blue }};
                      {% else %}
                        --colors-text-link: {{ settings.colors_dark_text_link.red }}, {{ settings.colors_dark_text_link.green }}, {{ settings.colors_dark_text_link.blue }};
                      {% endif %}
                    }
                  {% endstyle %}
                  <div class="button-{{ block.id }} flex justify-{{ section.settings.text_alignment }} mb-9 md:mb-4{% if block.settings.show_button_style == 'text-link' %} mt-2 md:mt-5{% else %} mt-4 md:mt-8{% endif %}"{{ block.shopify_attributes }}>
                    {% if block.settings.button_link == blank %}
                      <div class="button{% if block.settings.show_button_style == 'secondary' %} button-outline{% elsif block.settings.show_button_style == 'text-link' %} button-text-link {% else %} button-solid{% endif %} leading-normal empty:hidden text-center pl-7 pr-7 pt-2.5 pb-2.5 md:pl-8 md:pr-8 md:pt-3 md:pb-3 opacity-70 disable-btn-animation hover:cursor-not-allowed">
                        {% render 'button-label', button_label: block.settings.button_label, show_button_style: block.settings.show_button_style %}
                      </div>
                    {% else %}
                      <a class="button{% if block.settings.show_button_style == 'secondary' %} button-outline{% elsif block.settings.show_button_style == 'text-link' %} button-text-link {% else %} button-solid{% endif %} leading-normal empty:hidden text-center pl-7 pr-7 pt-2.5 pb-2.5 md:pl-8 md:pr-8 md:pt-3 md:pb-3" href="{{ block.settings.button_link }}"{% if block.settings.open_new_window %} target="_blank"{% endif %}>
                        {% render 'button-label', button_label: block.settings.button_label, show_button_style: block.settings.show_button_style %}
                      </a>
                    {% endif %}
                  </div>
                {% endif %}
            {% endcase %}
          {%- endfor -%}
        </div>
      </div>
    {% endif %}
  </div>
</div>
<script src="{{ 'image-comparison.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "t:sections.image-comparison.name",
  "class": "section section-image-comparison x-section",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.user_guide_link.section_and_blocks.image_comparison"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Image comparison",
      "label": "t:sections.all.text.heading",
      "info": "t:settings_schema.typography.settings.heading_highlight_type.info"
    },
    {
      "type": "select",
      "id": "highlight_type",
      "default": "underline",
      "label": "t:settings_schema.typography.settings.heading_highlight_type.label",
      "options": [
        {
          "value": "underline",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__1.label"
        },
        {
          "value": "font_highlight",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__3.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "heading_base_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.text.heading_size",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "t:sections.all.text.heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout_comparison",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.featured-collection.settings.slider_style.options__1"
        },
        {
          "value": "vertical",
          "label": "t:sections.featured-collection.settings.slider_style.options__2"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.promotion-grid.blocks.promotion.settings.header.content"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "options": [
        {
          "value": "450px",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "550px",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "650px",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "750px",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.image-with-text.settings.height.options__5.label"
        },
        {
          "value": "100vh",
          "label": "t:settings_schema.cart.settings.cart_drawer_size_mobile.fullscreen.label"
        }
      ],
      "default": "550px",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "250px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__1.label"
        },
        {
          "value": "300px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__2.label"
        },
        {
          "value": "400px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__3.label"
        },
        {
          "value": "500px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.image-with-text.settings.height.options__5.label"
        },
        {
          "value": "100vh",
          "label": "t:settings_schema.cart.settings.cart_drawer_size_mobile.fullscreen.label"
        }
      ],
      "default": "400px",
      "label": "t:sections.image-with-text.settings.mobile_height.label"
    },
    {
      "type": "checkbox",
      "id": "adapt_radius",
      "label": "t:sections.slideshow.settings.enable_adapt",
      "default": true
    },
    {
      "type": "range",
      "id": "image_corner_radius",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "t:sections.image-with-text.settings.corner_radius.label",
      "default": 0,
      "visible_if": "{{ section.settings.adapt_radius == false }}"
    },
    {
      "type": "select",
      "id": "label_edges_type",
      "options": [
        {
          "value": "square",
          "label": "t:settings_schema.products.square"
        },
        {
          "value": "rounded_corners",
          "label": "t:settings_schema.buttons.rounded_corners"
        }
      ],
      "default": "square",
      "label": "t:sections.image-comparison.settings.label_edges_type",
      "visible_if": "{{ section.settings.adapt_radius == false }}"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison.settings.before_image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-comparison.settings.image.img_desktop.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.promotion-banner.settings.image_mobile.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "text",
      "id": "heading_before_image",
      "label": "t:sections.image-comparison.settings.before_label"
    },
    {
      "type": "range",
      "id": "heading_base_size_before_image",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.text.heading_size",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_before_image_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-comparison.settings.heading_image_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-comparison.settings.heading_image_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-comparison.settings.heading_image_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-comparison.settings.heading_image_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison.settings.after_image"
    },
    {
      "type": "image_picker",
      "id": "image_after",
      "label": "t:sections.image-comparison.settings.image.img_desktop.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "image_picker",
      "id": "image_mobile_after",
      "label": "t:sections.promotion-banner.settings.image_mobile.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "text",
      "id": "heading_after_image",
      "label": "t:sections.image-comparison.settings.after_label"
    },
    {
      "type": "range",
      "id": "heading_base_size_after_image",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.text.heading_size",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_after_image_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-comparison.settings.heading_image_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-comparison.settings.heading_image_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-comparison.settings.heading_image_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-comparison.settings.heading_image_position.label"
    },
    {
      "type": "range",
      "id": "default_scroll_position",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.image-comparison.settings.default_scroll_position.label",
      "default": 50
    },
    {
      "type": "select",
      "id": "text_position",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_position.options__11.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_position.options__12.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-with-text.settings.text_position.label",
      "info": "t:settings_schema.cart.settings.cart_page_layout.info"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.testimonials.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:settings_schema.colors.name"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.all.text.color_heading_light",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.image-comparison.settings.background_color.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_background_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.background.background_color_light"
    },
    {
      "type": "color",
      "id": "heading_color_dark",
      "label": "t:sections.all.text.color_heading_dark",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "label": "t:sections.image-comparison.settings.background_color_dark.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_background_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.background.background_color_dark"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "options": [
        {
          "value": "md:flex-row",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "md:flex-row-reverse",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ],
      "default": "md:flex-row",
      "label": "t:sections.testimonials.author_image.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "padding_full_width",
      "default": false,
      "label": "t:sections.all.padding.padding_full_width.label",
      "info": "t:sections.all.padding.padding_full_width.info",
      "visible_if": "{{ section.settings.full_width }}"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "top_padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "select",
      "id": "image_alignment_mobile",
      "options": [
        {
          "value": "flex-col",
          "label": "t:sections.image-with-text.settings.image_alignment_mobile.options__1.label"
        },
        {
          "value": "flex-col-reverse",
          "label": "t:sections.image-with-text.settings.image_alignment_mobile.options__2.label"
        }
      ],
      "default": "flex-col",
      "label": "t:sections.testimonials.author_image.label"
    },
    {
      "type": "checkbox",
      "id": "full_width_mobile",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "top_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.all.text.heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Example subheading",
          "label": "t:sections.all.text.subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Image comparison",
          "label": "t:sections.all.text.heading",
          "info": "t:settings_schema.typography.settings.heading_highlight_type.info"
        },
        {
          "type": "select",
          "id": "highlight_type",
          "default": "underline",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.label",
          "options": [
            {
              "value": "underline",
              "label": "t:settings_schema.typography.settings.heading_highlight_type.option__1.label"
            },
            {
              "value": "font_highlight",
              "label": "t:settings_schema.typography.settings.heading_highlight_type.option__3.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "heading_base_size",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "t:sections.all.text.heading_size",
          "default": 100
        },
        {
          "type": "select",
          "id": "heading_tag",
          "default": "h2",
          "label": "t:sections.all.text.heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.all.text.text"
        },
        {
          "type": "color",
          "id": "heading_light",
          "label": "t:sections.all.text.color_heading_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_heading_highlight_light",
          "label": "t:sections.all.text.color_heading_highlight_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_light",
          "label": "t:sections.all.text.color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "heading_dark",
          "label": "t:sections.all.text.color_heading_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_heading_highlight_dark",
          "label": "t:sections.all.text.color_heading_highlight_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_dark",
          "label": "t:sections.all.text.color_dark",
          "default": "rgba(0,0,0,0)"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:settings_schema.colors.colors_button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.all.button.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            },
            {
              "value": "text-link",
              "label": "t:settings_schema.colors.colors_text_link"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        },
        {
          "type": "color",
          "id": "button_light",
          "label": "t:sections.all.button.primary_button_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_light",
          "label": "t:sections.all.button.primary_button_text_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_hover_light",
          "label": "t:sections.all.button.primary_button_hover_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_hover_light",
          "label": "t:sections.all.button.primary_button_hover_text_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_light",
          "label": "t:sections.all.button.secondary_button_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_text_light",
          "label": "t:sections.all.button.secondary_button_text_light",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "colors_text_link",
          "default": "rgba(0,0,0,0)",
          "label": "t:settings_schema.colors.colors_text_link_light"
        },
        {
          "type": "color",
          "id": "button_dark",
          "label": "t:sections.all.button.primary_button_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_dark",
          "label": "t:sections.all.button.primary_button_text_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_hover_dark",
          "label": "t:sections.all.button.primary_button_hover_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "button_text_hover_dark",
          "label": "t:sections.all.button.primary_button_hover_text_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_dark",
          "label": "t:sections.all.button.secondary_button_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_text_dark",
          "label": "t:sections.all.button.secondary_button_text_dark",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "colors_text_link_dark",
          "default": "rgba(0,0,0,0)",
          "label": "t:settings_schema.colors.colors_text_link_dark"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-comparison.name",
      "category": "t:categories.storytelling"
    }
  ]
}
{% endschema %}
