<div class="x-pgw page-width px-5 ml-auto mr-auto text-center pt-[{{ section.settings.top_padding_mobile }}px] md:pt-[{{ section.settings.top_padding }}px] pb-[{{ section.settings.bottom_padding_mobile }}px] md:pb-[{{ section.settings.bottom_padding }}px]">
  <h1 class="h2 mb-2">{{ 'customer.reset_password.title' | t }}</h1>
  <p class="mb-8 md:mb-11">{{ 'customer.reset_password.subtext' | t }}</p>
  {%- form 'reset_customer_password' -%}
    <div class="relative mr-auto ml-auto mb-3 max-w-[570px]">
      <input
        id="password"
        class="w-full input border px-5 lg:px-8 pt-5 pb-1 md:pt-5 md:pb-2 focus:outline-none focus:border-current bg-transparent placeholder:opacity-0{% if form.errors contains 'password' %} border-[rgba(var(--color-error))] focus:border-[rgba(var(--color-error))]{% endif %}{% if settings.edges_type == 'rounded_corners' %} !rounded-md{% else %} rounded-none{% endif %}"
        type="password"
        name="customer[password]"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password' | t }}"
      >
      <label
        class="absolute top-1/2 left-5 lg:left-8 -translate-y-1/2 input_focus:text-xs input_focus:top-3.5 input_not_empty:top-3.5 input_not_empty:text-xs"
        for="password"
      >
        {{ 'customer.reset_password.password' | t }}
      </label>
    </div>
    {%- if form.errors contains 'password' -%}
      <small id="password-error" class="form__message block text-left mt-3 mb-3 text-normal mr-auto ml-auto max-w-[570px]">
        <span>{% render 'icon-alls', icon: 'icon-error', enable_customer_page: true %}</span>
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
      </small>
    {%- endif -%}
    <div class="relative mr-auto ml-auto max-w-[570px]">
      <input
        id="password_confirmation"
        class="w-full input border px-5 lg:px-8 pt-5 pb-1 md:pt-5 md:pb-2 focus:outline-none focus:border-current bg-transparent placeholder:opacity-0{% if form.errors contains 'password_confirmation' %} border-[rgba(var(--color-error))] focus:border-[rgba(var(--color-error))]{% endif %}{% if settings.edges_type == 'rounded_corners' %} !rounded-md{% else %} rounded-none{% endif %}{% if settings.lang_direction contains request.locale.iso_code %} text-right{% endif %}"
        type="password"
        name="customer[password_confirmation]"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
      >
      <label
        class="absolute top-1/2 rtl:right-5 rtl:lg:right-8 rtl:left-auto rtl:lg:left-auto left-5 lg:left-8 -translate-y-1/2 input_focus:text-xs input_focus:top-3.5 input_not_empty:top-3.5 input_not_empty:text-xs"
        for="password_confirmation"
      >
        {{ 'customer.reset_password.password_confirm' | t }}
      </label>
    </div>
    {%- if form.errors contains 'password_confirmation' -%}
      <small id="password_confirmation-error" class="form__message block text-left mt-3 text-normal mr-auto ml-auto max-w-[570px]">
        <span>{% render 'icon-alls', icon: 'icon-error', enable_customer_page: true %}</span>
        {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
      </small>
    {%- endif -%}
    <button class="button button-solid w-full block mr-auto ml-auto max-w-[570px] pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal mt-6 mb-5">
      {% assign button_label = 'customer.reset_password.submit' | t %}
      <span class="flex items-center justify-center">
        {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
      </span>
    </button>
  {%- endform -%}
</div>
{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "top_padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 52
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "range",
      "id": "top_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 44
    },
    {
      "type": "range",
      "id": "bottom_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 44
    }
  ]
}
{% endschema %}
