<style type="text/css">
  .password-logo {
    max-width: {{ section.settings.logo_max_width }}px;
  }
</style>
<div class="background-header color-text-header">
  <div class="x-pgw page-width mx-auto flex flex-col px-5 pt-5 pb-6 p-break-words md:grid md:grid-cols-[1.5fr_1.5fr_1fr] items-center md:justify-between md:gap-12 md:pt-8 md:pb-8 md:pl-20 md:pr-20">
    {%- if section.settings.logo != blank -%}
      {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
      {% # theme-check-disable ImgLazyLoading %}
      <img
        src="{{ section.settings.logo | image_url: width: section.settings.logo.width }}"
        alt="{{ logo_alt }}"
        sizes="{{ section.settings.logo_max_width }}px"
        srcset="{{ section.settings.logo | image_url: width: 50 }} 50w,
          {{ section.settings.logo | image_url: width: 100 }} 100w,
          {{ section.settings.logo | image_url: width: 150 }} 150w,
          {{ section.settings.logo | image_url: width: 200 }} 200w,
          {{ section.settings.logo | image_url: width: 250 }} 250w,
          {{ section.settings.logo | image_url: width: 300 }} 300w,
          {{ section.settings.logo | image_url: width: 400 }} 400w,
          {{ section.settings.logo | image_url: width: 500 }} 500w,
          {{ section.settings.logo | image_url: width: 600 }} 600w"
        width="{{ section.settings.logo.width }}"
        height="{{ section.settings.logo.height }}"
        class="password-logo"
      />
      {% # theme-check-enable ImgLazyLoading %}
    {%- else -%}
      <h1 class="color-text-header text-center{% if settings.lang_direction contains request.locale.iso_code %} md:text-right{% else %} md:text-left{% endif %} h2 mt-3 mb-3">{{ shop.name }}</h1>
    {%- endif -%}
    {%- if shop.password_message != blank -%}
      <div>
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    <password-modal class="justify-end col-start-3 col-end-3 mt-6 md:mt-0">
      <div 
        x-data="{ 
          open: false,
          closePopup() {
            this.open = !this.open; $store.xPopup.open = false;
          },
          openPopup() {
            this.open = !this.open; $store.xPopup.close();
          }
        }">
        <button id="OpenPopupPassword" class="button-link pb-1 effect-inline cursor-pointer relative" aria-haspopup="dialog" @click="openPopup(); $store.xModal.setActiveElement('OpenPopupPassword')">
          <span class="underlined-link block lg:hover:text-[rgb(var(--colors-text-link))]">
            <span class="w-4 h-4 inline-block mr-2">{% render 'icon-alls', icon: 'icon-padlock' %}</span>
            {{ 'general.password_page.login_password_button' | t }}
          </span>
          <span class="hidden" aria-hidden="true">
            <span class="w-5 h-5 inline-block">{% render 'icon-alls', icon: 'icon-close' %}</span>
          </span>
        </button>
        <div
          id="PopupPassword"
          class="fixed top-0 left-0 right-0 bottom-0 justify-center items-center z-50 bg-[rgba(var(--background-color))]"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
          x-show="open"
          x-cloak
          @keyup.escape="$store.xModal.removeFocus(); closePopup();"
        >
          <div class="flex flex-col items-center justify-center w-full h-full px-5 py-16 md:px-12" tabindex="-1"
            x-intersect.full="$store.xModal.focus('PopupPassword', 'ClosePopupPassword')">
            <button 
              type="button"
              id="ClosePopupPassword"
              class="button button-action rounded-full flex items-center justify-center absolute cursor-pointer top-10{% if settings.lang_direction contains request.locale.iso_code %} left-10{% else %} right-10{% endif %} p-0 h-11 w-11 underline text-[rgb(var(--colors-text))]" 
              aria-label="{{ 'accessibility.close' | t }}"
              @click="closePopup();">
              <span class="w-4 h-4 inline-block">{% render 'icon-alls', icon: 'icon-close' %}</span>
            </button>
            <h2 class="text-large mb-12 color-text-header" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="flex p-1.5 border border-solid rounded-[var(--border-radius)]">
                <div class="relative flex-1 md:w-80{% if form.errors %} password-field--error{% endif %}">
                  <input
                    type="password"
                    name="password"
                    id="Password"
                    class="w-full input px-5 lg:px-8 pt-5 pb-1 md:pt-4 md:pb-2 focus:outline-none focus:border-none border-none bg-transparent placeholder:opacity-0{% if settings.edges_type == 'rounded_corners' %} !rounded-md{% else %} rounded-none{% endif %}{% if settings.lang_direction contains request.locale.iso_code %} text-right{% endif %}"
                    autocomplete="current-password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  >
                  <label
                  class="absolute duration-200 top-1/2{% if settings.lang_direction contains request.locale.iso_code %} right-5 lg:right-8{% else %} left-5 lg:left-8{% endif %} -translate-y-1/2 input_focus:text-xs input_focus:top-2 input_not_empty:top-2 input_not_empty:text-xs"
                    for="{{ 'general.password_page.login_form_password_label' | t }}"
                  >{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                </div>
                <button name="commit" class="button button-solid not-icon ml-0.5 px-5 lg:pl-12 lg:pr-12 pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal cursor-pointer empty:hidden">
                  {% assign button_label = 'general.password_page.login_form_submit' | t %}
                  <span class="flex items-center justify-center">
                    {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
                  </span>
                </button>
              </div>
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" class="flex flex-row items-center mt-4" role="status">
                  <span class="block w-3.5 h-3.5 mr-1.5">{% render 'icon-alls', icon: 'icon-error' %}</span>
                  <span>{{ 'general.password_page.login_form_error' | t }}</span>
                </div>
              {%- endif -%}
            {%- endform -%}
            <p class="mt-7">{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>
      </div>
    </password-modal>
  </div>
</div>
{%- if section.settings.color_scheme == 'background-1' -%}<hr>{%- endif -%}
{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    }
  ]
}
{% endschema %}
