{%- liquid
  assign base_size_heading = settings.heading_base_size | times: 0.0225 
  assign font_size_heading = section.settings.heading_size | times: 0.01 | times: base_size_heading
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
  case section.settings.column_layout_desktop
    when 'lg:w-full'
      assign columns_desktop = 1
    when 'lg:w-1/2'
      assign columns_desktop = 2
    when 'lg:w-1/3'
      assign columns_desktop = 3
    when 'lg:w-1/4'
      assign columns_desktop = 4
    when 'lg:w-1/5'
      assign columns_desktop = 5
    when 'lg:w-1/6'
      assign columns_desktop = 6
  endcase
  case section.settings.column_layout_mobile
    when 'w-full'
      assign columns_mobile = 1
    when 'w-1/2'
      assign columns_mobile = 2
  endcase
  assign swiper_on_mobile = section.settings.swiper_on_mobile 
  if section.blocks.size <= columns_mobile 
    assign swiper_on_mobile = false
  endif
  assign enable_desktop_slider = section.settings.enable_desktop_slider
  if section.blocks.size <= columns_desktop
    assign enable_desktop_slider = false
  endif
  assign content_width_class = 'x-pgw page-width'
  if section.settings.full_width
    assign content_width_class = 'md:px-0 md:max-w-full'
  endif
  assign mobile_width_class = 'x-pgw page-width'
  if section.settings.full_width_mobile
    assign mobile_width_class = 'px-0 md:px-5'
  endif
  assign rounded_corner = true
  if section.settings.full_width and section.settings.padding_full_width == false
    assign rounded_corner = false
  elsif section.settings.full_width == false and section.settings.secondary_background == "section"
    assign rounded_corner = false
  endif
  assign column_content_alignment = 'center'
  if section.settings.column_content_alignment == 'end'
    if is_rtl
      assign column_content_alignment = 'left'
    else
      assign column_content_alignment = 'right'
    endif
  endif
  if section.settings.column_content_alignment == 'start'
    if is_rtl
      assign column_content_alignment = 'right'
    else
      assign column_content_alignment = 'left'
    endif
  endif
  assign arrow_swipe_mobile = false
  if swiper_on_mobile and section.settings.enable_arrow_mobile
    assign arrow_swipe_mobile = true
  endif
-%}
{%- style -%}
  .heading-{{ section.id }} {
    font-size: {{ font_size_heading | times: 0.60 }}rem; 
  }
  .size-icon-{{ section.id }} {
    width: {{ section.settings.icon_size | times: 0.7 }}px;
    height: {{ section.settings.icon_size | times: 0.7 }}px;
  }
  {% if request.visual_preview_mode %} 
      .size-icon {
        width: 31.5px;
        height: 31.5px;
      }
    {% endif %}
  .color-icon--{{ section.id }} {
    {% if section.settings.color_icon_light.alpha != 0.0 %}
      color: {{ section.settings.color_icon_light }};
    {% else %}
      color: {{ settings.secondary_text }};
    {% endif %}
  }
  .dark .color-icon--{{ section.id }} {
    {% if section.settings.color_icon_dark.alpha != 0.0 %}
      color: {{ section.settings.color_icon_dark }};
    {% else %}
      color: rgb(var(--colors-text));
    {% endif %}
  }
  .bg-{{ section.id }} {
    {% if section.settings.background_color_light.alpha != 0.0 %}
      background: {{ section.settings.background_color_light }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
    {% endif %}
  }
  .dark .bg-{{ section.id }} {
    {% if section.settings.background_color_dark.alpha != 0.0 %}
      background: {{ section.settings.background_color_dark }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
    {% endif %}
  }
  {% if section.settings.text_light.alpha != 0.0 %}
    .color-text--{{ section.id }} {
      --colors-text: {{ section.settings.text_light.red }},{{ section.settings.text_light.green }},{{ section.settings.text_light.blue }};
    }
  {% endif %}
  {% if section.settings.line_border_light.alpha != 0.0 %}
    .color--{{ section.id }} {
      --colors-line-and-border: {{ section.settings.line_border_light.red }},{{ section.settings.line_border_light.green }},{{ section.settings.line_border_light.blue }};
    }
  {% endif %}
  {% if section.settings.heading_light.alpha != 0.0 %}
    .color--{{ section.id }} {
      --colors-heading: {{ section.settings.heading_light.red }},{{ section.settings.heading_light.green }},{{ section.settings.heading_light.blue }};
    }
  {% endif %}
  .dark .color-text--{{ section.id }} {
    {% if section.settings.text_dark.alpha != 0.0 %}
      --colors-text: {{ section.settings.text_dark.red }},{{ section.settings.text_dark.green }},{{ section.settings.text_dark.blue }};
    {% else %}        
      --colors-text: var(--colors-text-secondary);
    {% endif %}
  }
  .dark .color--{{ section.id }} {
    {% if section.settings.line_border_dark.alpha != 0.0 %}
      --colors-line-and-border: {{ section.settings.line_border_dark.red }},{{ section.settings.line_border_dark.green }},{{ section.settings.line_border_dark.blue }};
    {% else %}        
      --colors-line-and-border: {{ settings.colors_dark_line_and_borders.red }}, {{ settings.colors_dark_line_and_borders.green }}, {{ settings.colors_dark_line_and_borders.blue }};
    {% endif %}
    {% if section.settings.heading_dark.alpha != 0.0 %}
      --colors-heading: {{ section.settings.heading_dark.red }},{{ section.settings.heading_dark.green }},{{ section.settings.heading_dark.blue }};
    {% else %}        
      --colors-heading: var(--colors-heading-secondary);
    {% endif %}
  }
  {% if swiper_on_mobile %}
    @media (max-width: 1023px) {
      .line-slider-mobile--{{ section.id }}:after {
        right: -{{ section.settings.spacing_mobile | times: 0.5 }}px;
      }
      .preload-slide-mobile--{{ section.id }} {
        {%- if is_rtl %} 
          margin-left: {{ section.settings.spacing_mobile }}px;
        {% else %}
          margin-right: {{ section.settings.spacing_mobile }}px;
        {% endif %}
        width: calc(((100% + {{ section.settings.spacing_mobile }}px) / 2) - {{ section.settings.spacing_mobile }}px);
      }
    }
    @media (max-width: 767px) {
      .preload-slide-mobile--{{ section.id }} {
        width: calc(((100% + {{ section.settings.spacing_mobile }}px) / {{ columns_mobile }}) - {{ section.settings.spacing_mobile }}px);
      }
    }
  {% endif %}
  @media (min-width: 1024px){
    .heading-{{ section.id }} {
      font-size: {{ font_size_heading }}rem;
    }
    .size-icon-{{ section.id }} {
      width: {{ section.settings.icon_size }}px;
      height: {{ section.settings.icon_size }}px;
    }
    {% if request.visual_preview_mode %} 
      .size-icon {
        width: 45px;
        height: 45px;
      }
    {% endif %}
    .spacing-desktop-{{ section.id }} {
      padding: {{ section.settings.spacing_desktop | times: 0.5 }}px;
    }
    .spacing-desktop-{{ section.id }}-splide { 
      margin: -{{ section.settings.spacing_desktop | times: 0.5 }}px!important;
    }
    {% if request.visual_preview_mode %}
      .spacing-desktop {
        padding: 14px;
      }
    {% endif %}
    {% if enable_desktop_slider %}
      .line-slider--{{ section.id }}:after {
        right: -{{ section.settings.spacing_desktop | times: 0.5 }}px;
      }
      .preload-slide--{{ section.id }} {
        {%- if is_rtl %} 
          margin-left: {{ section.settings.spacing_desktop }}px;
        {% else %}
          margin-right: {{ section.settings.spacing_desktop }}px;
        {% endif %}
        width: calc(((100% + {{ section.settings.spacing_desktop }}px) / {{ columns_desktop }}) - {{ section.settings.spacing_desktop }}px);
      }
    {% endif %}
  }
  @media (max-width: 1023px) {
    .spacing--{{ section.id }} {
      {% if section.settings.column_layout_mobile == 'w-1/2' %}
        padding-left: {{ section.settings.spacing_mobile | times: 0.5 }}px;
        padding-right: {{ section.settings.spacing_mobile | times: 0.5 }}px;
      {% endif %}
      padding-top: {{ section.settings.spacing_mobile | times: 0.5 }}px;
      padding-bottom: {{ section.settings.spacing_mobile | times: 0.5 }}px;
    }
    {% if request.visual_preview_mode %}
      .spacing-desktop {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    {% endif %}
  }
  @media (max-width: 767px) {
    {% if section.settings.column_layout_mobile == 'w-1/2' %}
      .spacing--{{ section.id }}-splide { 
        margin: -{{ section.settings.spacing_mobile | times: 0.5 }}px!important;
      }
    {% endif %}
  }
{%- endstyle -%}

{% render 'section-divider' %}

{% if section.settings.padding_full_width and section.settings.full_width %}
  <div class=" md:pl-5 md:pr-5">
{% endif %}
  <div class="{% if section.settings.secondary_background == "section" %} bg-{{ section.id }}{% if settings.edges_type == 'rounded_corners' and rounded_corner %} md:rounded-[10px]{% else %} md:rounded-none{% endif %}{% endif %} pb-[{{ section.settings.padding_bottom_mobile }}px] pt-[{{ section.settings.padding_top_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] md:pt-[{{ section.settings.padding_top }}px] section--{{ section.id }}">
    {% if section.settings.title != blank %}
      <div class="pb-5 md:pb-8{% unless section.settings.full_width %} x-pgw page-width mx-auto{% endunless %}">
        {% render 'heading-highlight',
          headingId: section.id,
          heading: section.settings.title,
          highlight_type: section.settings.highlight_type,
          class: 'x-block-header text-center h2 block empty:hidden leading-tight p-break-words',
          heading_tag: section.settings.heading_tag,
          animation_heading: true
        %}
      </div>
    {% endif %}
    <div class="x-block-columns text-column-with-icon color--{{ section.id }} mx-auto {{ content_width_class }}{% if section.settings.full_width_mobile or section.settings.full_width %} {{ mobile_width_class }}{% endif %}">
      <div
        {% if enable_desktop_slider or swiper_on_mobile -%}
          id="x-text-with-icon-{{ section.id }}"
          class="x-splide splide visible overflow-hidden"
          x-intersect.once.margin.200px='$store.xSplide.load($el, {    
            "speed": 1000, 
            "pagination": false, 
            "mediaQuery": "min", 
            "updateOnMove": "true",
            "pauseOnHover": true,
            "pauseOnFocus": false,
            {% if arrow_swipe_mobile -%}
              "drag": false,
            {%- endif %}
            {% if section.settings.auto_play -%}
              "rewind": true,
              "autoplay": true,
              "interval": {{ section.settings.change_bar_every | times: 1000 }},
            {%- endif %}
            {% if is_rtl -%} 
              "direction": "rtl",
            {%- endif %}
            "progressBar": {{ section.blocks.size }},
            "breakpoints": {
              300: {
                {% if swiper_on_mobile == false -%} 
                  "destroy": true,
                {%- endif %}
                "gap": "{{ section.settings.spacing_mobile }}px",
                "focus": "right",
                "perPage": {{ columns_mobile }},
                "perMove": {{ columns_mobile }}
              },
              768: {
                "perPage": 2,
                "perMove": 2
              },
              1024: {
                {% if enable_desktop_slider == false -%} 
                  "destroy": true,
                {% else -%}
                  "destroy": false,
                {%- endif %}
                "perPage": {{ columns_desktop }},
                "perMove": {{ columns_desktop }},
                "gap": "{{ section.settings.spacing_desktop }}px",
                "padding": 0,
                "drag": true
              }
            },
            "classes": {
              "arrows" : "hidden", 
            }
          })'{%- endif -%}
          x-intersect.once='$el.classList.add("is-ready-to-animate")'
        >
        <div class="splide__track lg:pt-0.5 lg:pb-0.5{% if enable_desktop_slider %} md:cursor-grab{% endif %}">
          <div class="splide__list flex lg:flex{% unless enable_desktop_slider %} lg:flex-wrap lg:justify-center lg:gap-0 lg:w-auto spacing-desktop-{{ section.id }}-splide{% else %} lg:justify-start lg:flex-nowrap lg:w-full{% endunless -%}
            {%- unless swiper_on_mobile %} justify-center flex-wrap spacing--{{ section.id }}-splide{% endunless %}"
          >
            {%- for block in section.blocks -%}
              {% style %}
                .x-slide-animation-duration-{{ forloop.index }} {
                  --delay-time: {{ forloop.index0 | times: 100 | append: 'ms' }}
                }
              {% endstyle %}
              {%- liquid 
                assign size_title = block.settings.heading_size | times: 0.005 | times: base_size_heading
                if section.settings.border_column == 'line_vertical'
                  assign column_end = false
                  assign modulo_column = forloop.index | modulo: columns_desktop
                  if modulo_column == 0 and enable_desktop_slider == false
                    assign column_end = true
                  endif

                  assign column_end_tablet = false
                  assign modulo_column = forloop.index | modulo: 2
                  if modulo_column == 0 and enable_desktop_slider == false
                    assign column_end_tablet = true
                  endif

                  assign column_end_mobile = false
                  assign modulo_column = forloop.index | modulo: 2
                  if modulo_column == 0 and swiper_on_mobile == false and columns_mobile == 2
                    assign column_end_mobile = true
                  endif
                  if columns_mobile == 1 and swiper_on_mobile == false
                    assign column_end_mobile = true
                  endif 
                  if swiper_on_mobile
                    assign column_end_mobile = true
                  endif 
                endif
                -%}
              {%- style -%}
                .heading-{{ block.id }} {
                  font-size: {{ size_title | times: 0.8 }}rem;
                }
                @media (min-width: 767px) {
                  .heading-{{ block.id }} {
                    font-size: {{ size_title }}rem;
                  }
                }
              {%- endstyle -%}
              <div
                x-slide-index="{{ forloop.index | minus: 1 }}"
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="{% unless settings.disable_carousel_animation %}x-slide-animation x-slide-animation-duration-{{ forloop.index }}{% endunless %} text-with-icon-item{% if swiper_on_mobile or enable_desktop_slider %} splide__slide x-splide-slide{% endif %}{% unless enable_desktop_slider %} spacing-desktop-{{ section.id }}{% if request.visual_preview_mode %} spacing-desktop{% endif %}{% if section.settings.column_layout_desktop != 'lg:w-full' %} md:w-1/2{% endif %} {{ section.settings.column_layout_desktop }}{% else %} preload-slide--{{ section.id }}{% endunless %}{% unless swiper_on_mobile %} {{ section.settings.column_layout_mobile }} spacing--{{ section.id }}{% else %} preload-slide-mobile--{{ section.id }}{% endunless %}{% if section.settings.border_column == "line_vertical" %} relative after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 line-slider--{{ section.id }} line-slider-mobile--{{ section.id }} after:w-0 after:border-solid after:h-[50%]{% if column_end_mobile %} after:border-l-0{% else %} after:border-l{% endif %}{% if column_end_tablet %} after:lg:border-l-0{% else %} after:lg:border-l{% endif %}{% if column_end %} after:lg:border-l-0{% else %} after:lg:border-l{% endif %}{% unless swiper_on_mobile %} last:after:border-l-0{% endunless %}{% unless enable_desktop_slider %} last:after:lg:border-l-0{% endunless %}{% endif %}"
              >
                <div class="h-full {{ section.settings.section_height_mobile }} {{ section.settings.section_height_desktop }} {% if section.settings.icon_position == 'next' %}flex items-center justify-{{ column_content_alignment }}{% else %} justify-center{% endif %}{% if section.settings.secondary_background == "column" %} bg-{{ section.id }}{% endif %}{% if section.settings.border_column == 'column' %} border-2 border-dashed{% endif %}{% if section.settings.border_column == 'full_border' %} border border-solid{% endif %}{% if columns_desktop >= 4 %} md:pl-7 md:pr-7{% else %} md:pl-12 md:pr-12{% endif %}{% if section.settings.column_layout_mobile == 'w-1/2' %} pl-5 pr-5{% else %} pl-10 pr-10{% endif %}{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}" {{ block.shopify_attributes }}>
                  {% if block.settings.icon != 'none' %}
                    {% unless block.settings.custom_image == blank and block.settings.custom_icon == blank and block.settings.another_icon == blank and block.settings.icon == 'another_icon' %}
                      <div class="pt-2 text-{{ column_content_alignment }}{% if section.settings.icon_position == 'above' %} items-center mb-2{% else %} mr-2 rtl:mr-0 rtl:ml-2{% endif %}">
                        <span class="inline-block relative size-icon-{{ section.id }}{% if request.visual_preview_mode %} size-icon{% endif %} color-icon--{{ section.id }}{% if block.settings.custom_image != blank %} animate-Xpulse skeleton-image{% endif %}">
                          {% if block.settings.custom_image != blank %}
                            {% # theme-check-disable ImgLazyLoading %}
                            <img 
                              src="{{ block.settings.custom_image | image_url: width: section.settings.icon_size }}"
                              alt="{{ block.settings.custom_image.alt | escape }}"
                              {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                              onload="this.closest('.skeleton-image')?.classList.remove('animate-Xpulse', 'skeleton-image');"
                              width="{{ block.settings.custom_image.width }}"
                              height="{{ block.settings.custom_image.height }}"
                              style="object-position: {{ block.settings.custom_image.presentation.focal_point }}"
                              class="object-cover absolute top-0 left-0 w-full h-full"
                            >
                            {% # theme-check-enable ImgLazyLoading %}
                          {% else %}
                            {% if block.settings.custom_icon == blank %}
                              {% if block.settings.another_icon != blank and block.settings.icon == 'another_icon' %}
                                {% render 'icon-new-alls', icon: block.settings.another_icon %}
                              {% else %}
                                {% render 'icon-labels-bags', icon: block.settings.icon %}
                              {% endif %}
                            {% else %}
                              {{ block.settings.custom_icon }}
                            {% endif %}
                          {% endif %}
                        </span>
                      </div>
                    {% endunless %}
                  {% endif %}
                  <div class="pt-2">
                    {% if block.settings.title != blank %}
                      <p class="h3 empty:hidden p-break-words heading-{{ block.id }} text-{{ column_content_alignment }} leading-tight">
                        {% if block.settings.title_link %}
                          <a class="hover:text-[rgba(var(--colors-text-link))]" href="{{ block.settings.title_link }}"{% if block.settings.open_new_window %} target="_blank"{% endif %}>
                            {% render 'heading-highlight',
                              headingId: block.id,
                              heading: block.settings.title,
                              highlight_type: block.settings.highlight_type,
                              color_heading_highlight_dark: section.settings.color_heading_highlight_dark,
                              color_heading_highlight_light: section.settings.color_heading_highlight_light
                            %}
                          </a>
                        {% else %}
                          {% render 'heading-highlight',
                            headingId: block.id,
                            heading: block.settings.title,
                            highlight_type: block.settings.highlight_type,
                            color_heading_highlight_dark: section.settings.color_heading_highlight_dark,
                            color_heading_highlight_light: section.settings.color_heading_highlight_light
                          %}
                        {% endif %}
                      </p>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      <div class="color-text--{{ section.id }} rte text-{{ column_content_alignment }} p-break-words text-[rgb(var(--colors-text))]">
                        {{ block.settings.text }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
        {%- if arrow_swipe_mobile -%}
          <div class="splide__arrows color-text--{{ section.id }} flex items-center justify-center gap-3 mb-1 mt-5 lg:hidden">
            <button
              class="splide__arrow splide__arrow--prev button-arrow text-[rgb(var(--colors-text))] p-3 rounded-full z-10 w-11 h-11 border border-solid after:text-[20px] rtl:rotate-180 disabled:cursor-not-allowed disabled:opacity-30"
              aria-label="previous slide"
            >
              {% render 'icon-labels-bags', icon: 'chevron-left' %}
            </button>
            <button
              class="splide__arrow splide__arrow--next button-arrow text-[rgb(var(--colors-text))] p-3 rounded-full z-10 w-11 h-11 border border-solid after:text-[20px] rtl:rotate-180 disabled:cursor-not-allowed disabled:opacity-30"
              aria-label="next slide"
            >
              {% render 'icon-labels-bags', icon: 'chevron-right' %}
            </button>
          </div>
        {%- endif -%}
        {%- if swiper_on_mobile or enable_desktop_slider -%}
          <div class="x-pgw page-width{% if enable_desktop_slider %} lg:flex{% else %} lg:hidden{% endif %}{% if arrow_swipe_mobile or swiper_on_mobile == false %} hidden{% else %} flex{% endif %} items-center gap-5 mt-2.5 w-full ml-auto mr-auto">
            <div class="splide-progress inline-block grow rounded-md">
              {% liquid
                assign my_float = columns_desktop | times: 1.0
                assign width_bar = my_float | divided_by: section.blocks.size 
                assign mobile_float = columns_mobile | times: 1.0
                assign mobile_width_bar = mobile_float | divided_by: section.blocks.size
              %} 
              {%- style -%}
                .splide-progress-bar-{{ section.id }} {
                  width: {{ mobile_width_bar | times: 100 }}%;
                }
                @media (min-width: 768px) {
                  .splide-progress-bar-{{ section.id }} {
                    width: {{ width_bar | times: 100 }}%;
                  }
                }
              {%- endstyle -%}
              <div class="splide-progress-bar-{{ section.id }} splide-progress-bar rounded-md"></div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{% if section.settings.padding_full_width and section.settings.full_width %}
  </div>
{% endif %}
{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "section section-multicolumn x-section",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.user_guide_link.section_and_blocks.text_columns_with_icons"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Text columns with icons",
      "label": "t:sections.all.text.heading",
      "info": "t:settings_schema.typography.settings.heading_highlight_type.info"
    },
    {
      "type": "select",
      "id": "highlight_type",
      "default": "underline",
      "label": "t:settings_schema.typography.settings.heading_highlight_type.label",
      "options": [
        {
          "value": "underline",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__1.label"
        },
        {
          "value": "font_highlight",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__3.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.text.heading_size",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "t:sections.all.text.heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "secondary_background",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.icon.options.none"
        },
        {
          "value": "column",
          "label": "t:sections.multicolumn.settings.secondary_background.options__2.label"
        },
        {
          "value": "section",
          "label": "t:sections.multicolumn.settings.secondary_background.options__3.label"
        }
      ],
      "default": "none",
      "label": "t:sections.multicolumn.settings.secondary_background.label"
    },
    {
      "type": "select",
      "id": "border_column",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.icon.options.none"
        },
        {
          "value": "column",
          "label": "t:sections.multicolumn.settings.line_border.options__2.label"
        },
        {
          "value": "full_border",
          "label": "t:sections.multicolumn.settings.line_border.options__5.label"
        },
        {
          "value": "line_vertical",
          "label": "t:sections.multicolumn.settings.line_border.options__3.label"
        }
      ],
      "default": "column",
      "label": "t:sections.multicolumn.settings.line_border.label"
    },
    {
      "type": "select",
      "id": "column_content_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.multicolumn.settings.column_content_alignment.label"
    },
    {
      "type": "select",
      "id": "icon_position",
      "options": [
        {
          "value": "above",
          "label": "t:sections.multicolumn.settings.icon_position.options__1.label"
        },
        {
          "value": "next",
          "label": "t:sections.multicolumn.settings.icon_position.options__2.label"
        }
      ],
      "default": "above",
      "label": "t:sections.multicolumn.settings.icon_position.label"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.multicolumn.settings.icon_size.label",
      "default": 45
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.carousel.name"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.announcement-bar.settings.enable_carousel_on_desktop.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "swiper_on_mobile",
      "default": false,
      "label": "t:sections.collection-list.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "enable_arrow_mobile",
      "default": false,
      "label": "t:sections.collection-list.settings.swipe_on_mobile.enable_arrow_mobile",
      "visible_if": "{{ section.settings.swiper_on_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:sections.slideshow.settings.auto_play.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_bar_every",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_bar_every.label",
      "default": 5,
      "visible_if": "{{ section.settings.auto_play }}"
    },
    {
      "type": "header",
      "content": "t:settings_schema.colors.name"
    },
    {
      "type": "color",
      "id": "background_color_light",
      "label": "t:sections.all.background.background_color_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "heading_light",
      "label": "t:sections.all.text.color_heading_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_light",
      "label": "t:sections.all.text.color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_heading_highlight_light",
      "label": "t:sections.all.text.color_heading_highlight_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "line_border_light",
      "label": "t:sections.all.text.line_border",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_icon_light",
      "label": "t:sections.all.text.color_icon",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "label": "t:sections.all.background.background_color_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "heading_dark",
      "label": "t:sections.all.text.color_heading_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_dark",
      "label": "t:sections.all.text.color_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_heading_highlight_dark",
      "label": "t:sections.all.text.color_heading_highlight_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "line_border_dark",
      "label": "t:sections.all.text.line_border_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_icon_dark",
      "label": "t:sections.all.text.color_icon_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "column_layout_desktop",
      "options": [
        {
          "value": "lg:w-full",
          "label": "t:sections.collection-list.settings.columns_desktop.options__1.label"
        },
        {
          "value": "lg:w-1/2",
          "label": "t:settings_schema.search_navigation.settings.search_style.options__2"
        },
        {
          "value": "lg:w-1/3",
          "label": "t:sections.collection-list.settings.columns_desktop.options__3.label"
        },
        {
          "value": "lg:w-1/4",
          "label": "t:sections.collection-list.settings.columns_desktop.options__4.label"
        },
        {
          "value": "lg:w-1/5",
          "label": "t:sections.multicolumn.settings.column_layout_desktop.options__5.label"
        },
        {
          "value": "lg:w-1/6",
          "label": "t:sections.multicolumn.settings.column_layout_desktop.options__6.label"
        }
      ],
      "default": "lg:w-1/4",
      "label": "t:sections.multicolumn.settings.column_layout_desktop.label"
    },
    {
      "type": "select",
      "id": "section_height_desktop",
      "options": [
        {
          "value": "md:py-0",
          "label": "t:sections.all.size.options__1.label"
        },
        {
          "value": "md:py-7",
          "label": "t:sections.all.size.options__2.label"
        },
        {
          "value": "md:py-10",
          "label": "t:sections.all.size.options__3.label"
        }
      ],
      "default": "md:py-7",
      "label": "t:sections.multicolumn.settings.section_height.label"
    },
    {
      "type": "range",
      "id": "spacing_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.spacing.label",
      "default": 28
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "padding_full_width",
      "default": false,
      "label": "t:sections.all.padding.padding_full_width.label",
      "info": "t:sections.all.padding.padding_full_width.info",
      "visible_if": "{{ section.settings.full_width }}"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 28
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "select",
      "id": "column_layout_mobile",
      "options": [
        {
          "value": "w-full",
          "label": "t:sections.collection-list.settings.columns_desktop.options__1.label"
        },
        {
          "value": "w-1/2",
          "label": "t:settings_schema.search_navigation.settings.search_style.options__2"
        }
      ],
      "default": "w-full",
      "label": "t:sections.multicolumn.settings.column_layout_desktop.label"
    },
    {
      "type": "select",
      "id": "section_height_mobile",
      "options": [
        {
          "value": "py-0",
          "label": "t:sections.all.size.options__1.label"
        },
        {
          "value": "py-5",
          "label": "t:sections.all.size.options__2.label"
        },
        {
          "value": "py-7",
          "label": "t:sections.all.size.options__3.label"
        }
      ],
      "default": "py-5",
      "label": "t:sections.multicolumn.settings.section_height.label"
    },
    {
      "type": "range",
      "id": "spacing_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.spacing.label",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "full_width_mobile",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.settings.line_border.options__2.label",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon.options.none"
            },
            {
              "value": "another_icon",
              "label": "t:sections.all.icon.another_icon_label"
            },
            {
              "value": "activity",
              "label": "t:sections.all.icon.options.activity"
            },
            {
              "value": "archive",
              "label": "t:sections.all.icon.options.archive"
            },
            {
              "value": "arrow-down-cricle",
              "label": "t:sections.all.icon.options.arrow-down-cricle"
            },
            {
              "value": "arrow-left",
              "label": "t:sections.all.icon.options.arrow-left"
            },
            {
              "value": "arrow-left-circle",
              "label": "t:sections.all.icon.options.arrow-left-circle"
            },
            {
              "value": "arrow-right",
              "label": "t:sections.all.icon.options.arrow-right"
            },
            {
              "value": "arrow-right-circle",
              "label": "t:sections.all.icon.options.arrow-right-circle"
            },
            {
              "value": "arrow-up-circle",
              "label": "t:sections.all.icon.options.arrow-up-circle"
            },
            {
              "value": "chevron-left",
              "label": "t:sections.all.icon.options.chevron-left"
            },
            {
              "value": "trending-down",
              "label": "t:sections.all.icon.options.trending-down"
            },
            {
              "value": "tv",
              "label": "t:sections.all.icon.options.tv"
            },
            {
              "value": "trending-up",
              "label": "t:sections.all.icon.options.trending-up"
            },
            {
              "value": "zap",
              "label": "t:sections.all.icon.options.zap"
            },
            {
              "value": "1st-medal",
              "label": "t:sections.all.icon.options.1st-medal"
            },
            {
              "value": "award",
              "label": "t:sections.all.icon.options.award"
            },
            {
              "value": "bicycle",
              "label": "t:sections.all.icon.options.bicycle"
            },
            {
              "value": "box",
              "label": "t:sections.all.icon.options.box"
            },
            {
              "value": "briefcase",
              "label": "t:sections.all.icon.options.briefcase"
            },
            {
              "value": "blink",
              "label": "t:sections.all.icon.options.blink"
            },
            {
              "value": "calendar",
              "label": "t:sections.all.icon.options.calendar"
            },
            {
              "value": "camera",
              "label": "t:sections.all.icon.options.camera"
            },
            {
              "value": "chat-bubble",
              "label": "t:sections.all.icon.options.chat-bubble"
            },
            {
              "value": "check-mark",
              "label": "t:sections.all.icon.options.check-mark"
            },
            {
              "value": "clock",
              "label": "t:sections.all.icon.options.clock"
            },
            {
              "value": "cloud-rain",
              "label": "t:sections.all.icon.options.cloud-rain"
            },
            {
              "value": "coffee",
              "label": "t:sections.all.icon.options.coffee"
            },
            {
              "value": "coin",
              "label": "t:sections.all.icon.options.coin"
            },
            {
              "value": "credit-card",
              "label": "t:sections.all.icon.options.credit-card"
            },
            {
              "value": "delivery-truck",
              "label": "t:sections.all.icon.options.delivery-truck"
            },
            {
              "value": "dollar-sign",
              "label": "t:sections.all.icon.options.dollar-sign"
            },
            {
              "value": "dna",
              "label": "t:sections.all.icon.options.dna"
            },
            {
              "value": "dark-mode",
              "label": "t:sections.all.icon.options.dark-mode"
            },
            {
              "value": "earth",
              "label": "t:sections.all.icon.options.earth"
            },
            {
              "value": "eye",
              "label": "t:sections.all.icon.options.eye"
            },
            {
              "value": "feather",
              "label": "t:sections.all.icon.options.feather"
            },
            {
              "value": "fire",
              "label": "t:sections.all.icon.options.fire"
            },
            {
              "value": "flower",
              "label": "t:sections.all.icon.options.flower"
            },
            {
              "value": "free-delivery",
              "label": "t:sections.all.icon.options.free-delivery"
            },
            {
              "value": "gift",
              "label": "t:sections.all.icon.options.gift"
            },
            {
              "value": "globe",
              "label": "t:sections.all.icon.options.globe"
            },
            {
              "value": "heart",
              "label": "t:sections.all.icon.options.heart"
            },
            {
              "value": "help",
              "label": "t:sections.all.icon.options.help"
            },
            {
              "value": "hot-sale",
              "label": "t:sections.all.icon.options.hot-sale"
            },
            {
              "value": "iron",
              "label": "t:sections.all.icon.options.iron"
            },
            {
              "value": "information",
              "label": "t:sections.contact-form.settings.infomation.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.all.icon.options.leaf"
            },
            {
              "value": "lock",
              "label": "t:sections.all.icon.options.lock"
            },
            {
              "value": "light-mode",
              "label": "t:sections.all.icon.options.light-mode"
            },
            {
              "value": "map-pin",
              "label": "t:sections.all.icon.options.map-pin"
            },
            {
              "value": "megaphone",
              "label": "t:sections.all.icon.options.megaphone"
            },
            {
              "value": "message-text",
              "label": "t:sections.all.icon.options.message-text"
            },
            {
              "value": "music",
              "label": "t:sections.all.icon.options.music"
            },
            {
              "value": "moon",
              "label": "t:sections.all.icon.options.moon"
            },
            {
              "value": "packages",
              "label": "t:sections.all.icon.options.packages"
            },
            {
              "value": "pants",
              "label": "t:sections.all.icon.options.pants"
            },
            {
              "value": "percent",
              "label": "t:sections.all.icon.options.percent"
            },
            {
              "value": "piggy-bank",
              "label": "t:sections.all.icon.options.piggy-bank"
            },
            {
              "value": "plane",
              "label": "t:sections.all.icon.options.plane"
            },
            {
              "value": "planet",
              "label": "t:sections.all.icon.options.planet"
            },
            {
              "value": "question-mark",
              "label": "t:sections.all.icon.options.question-mark"
            },
            {
              "value": "rocket",
              "label": "t:sections.all.icon.options.rocket"
            },
            {
              "value": "rulers",
              "label": "t:sections.all.icon.options.rulers"
            },
            {
              "value": "scissors",
              "label": "t:sections.all.icon.options.scissors"
            },
            {
              "value": "settings",
              "label": "t:sections.all.icon.options.settings"
            },
            {
              "value": "shirt",
              "label": "t:sections.all.icon.options.shirt"
            },
            {
              "value": "shop-alt",
              "label": "t:sections.all.icon.options.shop-alt"
            },
            {
              "value": "shopping-bag",
              "label": "t:sections.all.icon.options.shopping-bag"
            },
            {
              "value": "shopping-cart",
              "label": "t:sections.all.icon.options.shopping-cart"
            },
            {
              "value": "smile",
              "label": "t:sections.all.icon.options.smile"
            },
            {
              "value": "star",
              "label": "t:sections.all.icon.options.star"
            },
            {
              "value": "sun",
              "label": "t:sections.all.icon.options.sun"
            },
            {
              "value": "support",
              "label": "t:sections.all.icon.options.support"
            },
            {
              "value": "tag",
              "label": "t:sections.all.icon.options.tag"
            },
            {
              "value": "telephone",
              "label": "t:sections.all.icon.options.telephone"
            },
            {
              "value": "truck",
              "label": "t:sections.all.icon.options.truck"
            },
            {
              "value": "wallet",
              "label": "t:sections.all.icon.options.wallet"
            },
            {
              "value": "washing",
              "label": "t:sections.all.icon.options.washing"
            },
            {
              "value": "water",
              "label": "t:sections.all.icon.options.water"
            },
            {
              "value": "yoga",
              "label": "t:sections.all.icon.options.yoga"
            }
          ],
          "default": "truck",
          "label": "t:sections.all.icon.label"
        },
        {
          "type": "text",
          "id": "another_icon",
          "label": "t:sections.all.icon.another_icon_label",
          "info": "t:sections.all.icon.another_icon_info",
          "visible_if": "{{ block.settings.icon == 'another_icon' }}"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "t:sections.multicolumn.blocks.column.settings.custom_image",
          "visible_if": "{{ block.settings.icon != 'none' }}"
        },
        {
          "type": "html",
          "id": "custom_icon",
          "label": "t:sections.all.icon.custom_icon",
          "info": "t:sections.all.icon.custom_icon_info",
          "visible_if": "{{ block.settings.icon != 'none' }}"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.all.text.heading",
          "info": "t:settings_schema.typography.settings.heading_highlight_type.info"
        },
        {
          "type": "select",
          "id": "highlight_type",
          "default": "underline",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.label",
          "options": [
            {
              "value": "underline",
              "label": "t:settings_schema.typography.settings.heading_highlight_type.option__1.label"
            },
            {
              "value": "font_highlight",
              "label": "t:settings_schema.typography.settings.heading_highlight_type.option__3.label"
            }
          ]
        },
        {
          "type": "url",
          "id": "title_link",
          "label": "t:sections.all.text.heading_link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "t:sections.all.text.heading_size",
          "default": 100
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.all.text.text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.name",
      "category": "t:categories.storytelling",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
