{% liquid 
  assign heading_base_size =  settings.heading_base_size | times: 0.0225
  assign heading_size =  section.settings.heading_size | times: 0.01 | times: heading_base_size
  assign block_first = section.blocks | first
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
  assign overflow_store = false
  if section.blocks.size >= 4 
    assign overflow_store = true
  endif 

  assign rounded_corners = section.settings.rounded_corner_location
  if section.settings.adapt_corners
    if settings.edges_type == 'rounded_corners'
      assign rounded_corners = true
    else
      assign rounded_corners = false
    endif 
  endif
%} 
{%- style -%}
  .btn-location-{{ section.id }}.button.button-solid:not(.not-icon) {
    display: none;
  }
  #content_location_detail-{{ section.id }} .btn-location-{{ section.id }}.button.button-solid:not(.not-icon) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h-scroll-location-{{ section.id }} .active,
  .h-scroll-location-{{ section.id }} ul li > div:hover {
    {% if section.settings.block_background_color_light.alpha != 0.0 %}
      background: {{ section.settings.block_background_color_light }};
    {% else %}
      background: rgba(var(--colors-background));
    {% endif %}
  }
  .dark .h-scroll-location-{{ section.id }} .active,
  .dark .h-scroll-location-{{ section.id }} ul li > div:hover {
    {% if section.settings.block_background_color_dark.alpha != 0.0 %}
      background: {{ section.settings.block_background_color_dark }};
    {% else %}
      background: rgba(var(--colors-background));
    {% endif %}
  }
  .heading-{{ section.id }} {
    font-size: {{ heading_size | times: 0.6 }}rem;
  }
  .h-scroll-location-{{ section.id }}::-webkit-scrollbar {
    width: 2px;
  }
  .h-scroll-location-{{ section.id }}::-webkit-scrollbar-track {
    background: rgba(var(--colors-heading-base),.5);
  }
  .h-scroll-location-{{ section.id }}::-webkit-scrollbar-thumb {
    background-color: rgba(var(--colors-heading-base));
    border-radius: 10px;
  }
  .background--{{ section.id }} {
    {% if section.settings.background_color_light.alpha != 0.0 %}
      background: {{ section.settings.background_color_light }};
      --background-color: {{ section.settings.background_color_light.red }}, {{ section.settings.background_color_light.green }}, {{ section.settings.background_color_light.blue }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
      --background-color: var(--colors-background-secondary);
    {% endif %}
  }
  .dark .text--{{ section.id }} {
    {%- if section.settings.text_color_dark.alpha != 0.0 -%}
      color: {{ section.settings.text_color_dark }};
    {%- else -%}
      color: {{ settings.secondary_text_dark }};
    {%- endif -%}
  }
  .dark .background--{{ section.id }} {
    {% if section.settings.background_color_dark.alpha != 0.0 %}
      background: {{ section.settings.background_color_dark }};
      --background-color: {{ section.settings.background_color_dark.red }}, {{ section.settings.background_color_dark.green }}, {{ section.settings.background_color_dark.blue }};
    {% else %}
      background: rgb(var(--colors-background-secondary));
      --background-color: var(--colors-background-secondary);
    {% endif %}
  }
  .section-height-mobile--{{ section.id }} {
    {% if section.settings.mobile_height == 'natural' and block_first %}
      {% if block_first.settings.item_image != blank %}
          height: 0;
          padding-bottom: {{ 1 | divided_by: block_first.settings.item_image.aspect_ratio | times: 100 }}%;
        {% else %}
          height: 400px;
      {% endif %}
    {% else %}
      height: {{ section.settings.mobile_height }};
    {% endif %}
  }
  .col-location-text.section-height--{{ section.id }} {
    height: 470px;
  }

  #shopify-section-{{ section.id }} {
    {% if section.settings.border_color_light.alpha != 0.0 %}
      --colors-line-and-border: {{ section.settings.border_color_light.red }},{{ section.settings.border_color_light.green }},{{ section.settings.border_color_light.blue }};
    {% else %}
      --colors-line-and-border: {{ settings.colors_line_and_borders.red }},{{ settings.colors_line_and_borders.green }},{{ settings.colors_line_and_borders.blue }};
    {% endif %}
  }

  .dark #shopify-section-{{ section.id }} {
    {% if section.settings.border_color_dark.alpha != 0.0 %}
      --colors-line-and-border: {{ section.settings.border_color_dark.red }},{{ section.settings.border_color_dark.green }},{{ section.settings.border_color_dark.blue }};
    {% else %}
      --colors-line-and-border: {{ settings.colors_dark_line_and_borders.red }},{{ settings.colors_dark_line_and_borders.green }},{{ settings.colors_dark_line_and_borders.blue }};
    {% endif %}
  }

  .store-block-container {
    border-bottom: 1px solid rgba(var(--colors-line-and-border), 1);
  }

  .store-block-container.container-active {
    border-bottom: 0;
  }
  .store-block-container .container-btn-location-{{ section.id }} {
    padding: 0;
  }
  #content_location_detail-{{ section.id }} .location-title {
    font-size: {{ settings.heading_base_size | times: 0.0125 }}rem;
  }
  @media (min-width: 768px) {
    .heading-{{ section.id }} {
      font-size: {{ heading_size }}rem;
    }
    #content_location_detail-{{ section.id }} .location-title {
      font-size: {{ settings.heading_base_size | times: 0.0175 }}rem;
    }
    .section-height--{{ section.id }},
    .col-location-text.section-height--{{ section.id }} { 
      {% if section.settings.desktop_height == 'natural' and block_first %}
        {% if block_first.settings.item_image != blank %}
            height: 0;
            padding-bottom: {{ 1 | divided_by: block_first.settings.item_image.aspect_ratio | times: 100 }}%;
         {% else %}
            height: 400px;
            padding-bottom: 2rem;
        {% endif %}
      {% else %}
        height: {{ section.settings.desktop_height }};
        padding-bottom: 2rem;
      {% endif %}
    }
  }
  .address_location.rte p {
    margin-top: 0;
  }
{%- endstyle -%}
{% render 'section-divider' %}
<div id="shopify-section-{{ section.id }}" x-data="xMultipleStores"{% if request.design_mode %} x-intersect="load(); checkCanScrollVertical()"{% else %} x-intersect.once.margin.200px="load()"{% endif %} class="{% if section.index == 1 %}preload-image {% endif %}pb-[{{ section.settings.padding_bottom_mobile }}px] pt-[{{ section.settings.padding_top_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] md:pt-[{{ section.settings.padding_top }}px]">
  <div 
    class="{% if section.settings.full_width %}{% if section.settings.padding_full_width %} md:pl-5 md:pr-5{% else %} md:pl-0 md:pr-0{% endif %}{% else %} x-pgw page-width md:pl-5 md:pr-5{% endif %} pl-5 pr-5"
  >
    <div class="md:flex md:flex-row gap-x-6 flex flex-col">
      <div class="{% unless section.settings.desktop_height == 'natural' %} section-height--{{ section.id }}{% endunless %} background--{{ section.id }} p-5 md:pr-6 md:pl-6 md:pt-8 md:pb-8{% if rounded_corners %} rounded-[10px]{% endif %} w-full h-full md:max-w-[40%] lg:max-w-[540px] flex justify-center"
        {% if section.settings.desktop_height == 'natural' %} x-ref="natural_height"{% endif %}
      >
        <div class="col-location-text relative w-full md:flex md:flex-col md:overflow-hidden">
          <div class="x-block-multiple-stores-header heading-top-location-{{ section.id }} pb-7{% if section.settings.heading != blank %} md:pb-14{% if section.settings.heading_alignment == 'right' %} pl-[4.5rem] md:pl-0{% elsif section.settings.heading_alignment == 'left' %} pr-[4.5rem] md:pr-0{% endif %}{% else %} lg:pb-0{% endif %}">
            {% if section.settings.heading != blank %}
              {% render 'heading-highlight',
                headingId: section.id,
                heading: section.settings.heading,
                highlight_type: section.settings.highlight_type,
                color_heading_highlight_dark: section.settings.color_heading_highlight_dark,
                color_heading_highlight_light: section.settings.color_heading_highlight_light,
                class: 'h2 block',
                heading_tag: 'h2',
                heading_alignment: section.settings.heading_alignment,
                animation_heading: true
              %}
            {% endif %}
            <div :class="canScroll ? '{% if section.settings.store_list_style == 'scroll' %}block{% else %}hidden{% endif %}' : 'hidden'" class="splide__arrows md:hidden{% if section.settings.heading_alignment == 'center' or section.settings.heading == blank %} text-center mt-2.5{% endif %}">
              <button @click="scrollUp" class="bg-white splide__arrow splide__arrow--prev button-arrow md:hidden disable-effect-hover{% if section.settings.heading_alignment == 'center' or section.settings.heading == blank %} relative{% else %} absolute{% if section.settings.heading_alignment == 'right' %} left-0{% elsif section.settings.heading_alignment == 'left' %} right-9{% endif %}{% endif %} top-0 none_border z-10 w-[1.875rem] h-[1.875rem] rounded-full after:text-[20px] p-4 duration-100 opacity-100 disabled:opacity-40 disabled:cursor-not-allowed rotate-180" aria-label="previous slide" disabled :disabled="atTop">
                <span class="inline-block h-3 w-3 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">{% render 'icon-alls', icon: 'icon-caret' %}</span>
              </button>
              <button @click="scrollDown" class="bg-white splide__arrow splide__arrow--next button-arrow md:hidden disable-effect-hover{% if section.settings.heading_alignment == 'center' or section.settings.heading == blank %} relative{% else %} absolute{% if section.settings.heading_alignment == 'right' %} left-9{% elsif section.settings.heading_alignment == 'left' %} right-0{% endif %}{% endif %} top-0 none_border z-10 w-[1.875rem] h-[1.875rem] rounded-full after:text-[20px] p-4 duration-100 opacity-100 disabled:opacity-40 disabled:cursor-not-allowed " aria-label="next slide" :disabled="atBottom">
                <span class="inline-block h-3 w-3 absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">{% render 'icon-alls', icon: 'icon-caret' %}</span>
              </button>
            </div>
          </div>
          <div class="multi_stores_content md:grow md:overflow-y-auto h-scroll-location-{{ section.id }}{% if is_rtl %} ltr{% else %} rtl{% endif %}">
            <div id="x-multiple-store-{{ section.id }}" class="{% if is_rtl %} rtl{% else %} ltr{% endif %}">
              <div class="overflow-hidden relative anm-fade-paragraph md:h-0" x-intersect.once="$el.classList.remove('md:h-0')">
                <ul class="{% if section.settings.store_list_style == 'collapse' %} max-h-max{% else %} max-h-[375px] md:max-h-max{% endif %} scrollbar-stable flex flex-col list_multiple_stores pb-0.5 pl-1 pr-1 md:pl-2.5 md:pr-2.5 overflow-y-auto h-scroll-location-{{ section.id }} anm-fade-element{% if is_rtl %} md:rtl{% else %} md:ltr{% endif %}" x-intersect.once="$el.classList.add('is-visible')" id="list-stores-{{ section.id }}" x-ref="list_stores" @scroll="checkCanScrollVertical">
                  {% for block in section.blocks %}
                    {% # theme-check-disable UnclosedHTMLElement %}
                    {% if forloop.index == 4 and overflow_store %}<div x-data="{ isDesktop: window.innerWidth > 768 }"  x-init="window.addEventListener('resize', () => isDesktop = window.innerWidth > 768); {% if section.settings.store_list_style == 'scroll' %}showStore = true;{% endif %}" x-cloak x-collapse x-show="showStore || isDesktop">{% endif %}
                      <li :class="{ 'container-active': active == '{{ forloop.index }}' }" {% if forloop.first %}x-ref="first_store"{% endif %} class="{% unless forloop.last %}mb-1 store-block-container{% endunless %}">
                        <div id="{{ block.id }}" class="duration-200 p-break-words items-center pt-5 pb-5 pl-4 pr-4 md:p-7 border-0{% if rounded_corners %} rounded-[0.625rem]{% endif %} cursor-pointer hover:transition-all hover:ease-linear"
                          :class="{ 'active': active == '{{ forloop.index }}' }"
                          @click="active = {{ forloop.index }}"
                          tabindex="0"
                        >
                          {% if block.settings.heading != blank %}
                            <p class="h4 location-title pl-1 pr-1 mb-2 md:pl-0 md:pr-0 font-bold">
                              {{ block.settings.heading | escape }}
                            </p>
                          {% endif %}
                        
                          <div class="draw-scroll-location grow overflow-y-auto scrollbar-body scrollbar-stable overflow-x-hidden pl-1 pr-1 md:pl-0 md:pr-0{% if block.settings.heading != blank %} mt-0 {% else %} popup-mt{% endif %}">
                            {%- if block.settings.item_image != blank -%}
                              {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {% if section.settings.full_width %} 70vw {% else -%} {{ settings.page_width | times: 0.75 }}px{%- endif -%}, 
                                (min-width: 768px) 70vw, 
                                100vw
                              {%- endcapture -%}
                              <div class="hidden img_location pb-4">
                                {% # theme-check-disable ImgLazyLoading %}
                                <img
                                  srcset="{{ block.settings.item_image | image_url: width: 225 }} 225w,
                                  {{ block.settings.item_image | image_url: width: 375 }} 375w,
                                  {{ block.settings.item_image | image_url: width: 450 }} 450w,
                                  {{ block.settings.item_image | image_url: width: 750 }} 750w,
                                  {{ block.settings.item_image | image_url: width: 900 }} 900w,
                                  {{ block.settings.item_image | image_url: width: 1100 }} 1100w,
                                  {{ block.settings.item_image | image_url: width: 1500 }} 1500w,
                                  {{ block.settings.item_image | image_url: width: 1780 }} 1780w,
                                  {{ block.settings.item_image | image_url: width: 2000 }} 2000w,
                                  {{ block.settings.item_image | image_url: width: 3000 }} 3000w,
                                  {{ block.settings.item_image | image_url: width: 3840 }} 3840w" 
                                  src="{{ block.settings.item_image | image_url: width: 1080 }}"
                                  sizes="{{ sizes }}"
                                  alt="{{ block.settings.item_image.alt | escape }}"
                                  class="w-full h-full object-cover object-center rounded-[1.25rem]"
                                  {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                                  height="{{ block.settings.item_image.height }}"
                                  width="{{ block.settings.item_image.width }}"
                                  x-intersect.once="$el.classList.add('active')"
                                >
                              </div>
                              {% # theme-check-enable ImgLazyLoading %}
                            {%- else -%}
                              <div class="hidden img_location pb-5">
                                <div class="bg-[#c9c9c9] w-full h-[12.5rem] flex items-center justify-center{% if rounded_corners %} rounded-[1.25rem]{% endif %}">
                                  {% render 'icon-placeholder', icon: 'icon-location-map', class: 'w-5 h-5 md:h-10 md:w-10' %}
                                </div>
                              </div>
                            {%- endif -%}
                            <div class="rte address_location overflow-hidden mb-3 md:mb-4">
                              {% if block.settings.address != blank %}
                                <p class="rte">{{ block.settings.address }}</p>
                              {% endif %}
                              {% if block.settings.address_detail != blank %}
                                <div class="info_storehour store-hour-{{ section.id }} mb-2 md:mb-2.5 hidden">
                                  {{ block.settings.address_detail }}
                                </div>
                              {% endif %}
                            </div>
                            
                            <a data-id="{{ block.id }}" href="#{{ block.id }}" class="font-bold location-view cursor-pointer underline text-[rgba(var(--colors-heading))]"
                              @click.prevent="openLocation($el); $store.xPopup.open = true;"
                              >{{ 'multiple_stores.button_view' | t }}
                            </a>
                          </div>
                          {% if block.settings.button_label != blank %}
                            <div class="container-btn-location-{{ section.id }} w-full bottom-5 lg:bottom-10 pt-4">
                              {% if block.settings.address != blank %}
                                <a class="flex items-center justify-center h-[2.875rem] md:h-[3.125rem] btn-location-{{ section.id }} button{% if block.settings.show_button_style == 'secondary' %} button-outline{% elsif block.settings.show_button_style == 'text-link' %} button-text-link {% else %} button-solid{% endif %} py-2 px-4"
                                  href="https://www.google.com/maps/place/{{ block.settings.address }}"
                                  target="_blank"
                                >
                                  {% render 'button-label', button_label: block.settings.button_label, show_button_style: block.settings.show_button_style %}
                                </a>
                              {% else %} 
                                <button class="flex items-center justify-center w-full h-[2.875rem] md:h-[3.125rem] disable-btn-animation btn-location-{{ section.id }} button{% if block.settings.show_button_style == 'secondary' %} button-outline{% elsif block.settings.show_button_style == 'text-link' %} button-text-link {% else %} button-solid{% endif %} py-2 px-4 opacity-70 hover:cursor-not-allowed">
                                  {% render 'button-label', button_label: block.settings.button_label, show_button_style: block.settings.show_button_style %}
                                </button>
                              {% endif %}
                            </div>
                          {% endif %}  
                        </div>
                      </li>
                    {% if forloop.last and overflow_store %}</div>{% endif %}
                    {% # theme-check-enable UnclosedHTMLElement %}
                  {% endfor %}
                </ul>
                {% if overflow_store %}
                  <button @click="toggleStore($el{% if section.settings.store_list_style == 'collapse' %}, true{% endif %})" class="{% if section.settings.store_list_style == 'scroll' %}hidden{% endif %} place-self-center block md:hidden button button-outline mx-auto w-full mt-3 pl-8 pr-8 pt-4 pb-4 leading-normal cursor-pointer pointer-events-auto">
                    <div x-show="!showStore" class="flex flex-row gap-3 justify-center">
                      <span class="inline-block">{{ 'multiple_stores.view_more' | t }}</span>
                      <div class="self-center w-3 h-3">{% render 'icon-alls', icon: 'icon-caret' %}</div>
                    </div>
                    
                    <div x-show="showStore" class="flex flex-row gap-3 justify-center">
                      <span class="inline-block">{{ 'multiple_stores.view_less' | t }}</span>
                      <div class="self-center w-3 h-3 rotate-180">{% render 'icon-alls', icon: 'icon-caret' %}</div>
                    </div>
                  </button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="x-block-location-banner grow h-full md:flex items-start mt-2.5 md:mt-0">
        <div x-intersect.once="$el.classList.remove('bg-[#c9c9c9]')" class="h_img_location w-full relative overflow-hidden bg-[#c9c9c9]{% if rounded_corners %} rounded-[10px]{% endif %}{% if section.blocks.size > 0 %} section-height--{{ section.id }} section-height-mobile--{{ section.id }}{% endif %} h-img-location--{{ section.id }}" x-ref="h_img_location">
          {% for block in section.blocks %}
            <div class="w-full h-full absolute top-0 left-0" x-show="active == '{{ forloop.index }}'" :class="{ 'active': active == '{{ forloop.index }}' }" {% unless forloop.first %} x-cloak{% endunless %}>
              {%- if block.settings.item_image != blank -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {% if section.settings.full_width %} calc(100vw - 460px) {% else -%} {{ settings.page_width | minus: 460 }}px{%- endif -%}, 
                  (min-width: 768px) 70vw, 
                  100vw
                {%- endcapture -%}
                {% # theme-check-disable ImgLazyLoading %}
                <img
                  srcset="{{ block.settings.item_image | image_url: width: 225 }} 225w,
                    {{ block.settings.item_image | image_url: width: 375 }} 375w,
                    {{ block.settings.item_image | image_url: width: 450 }} 450w,
                    {{ block.settings.item_image | image_url: width: 750 }} 750w,
                    {{ block.settings.item_image | image_url: width: 900 }} 900w,
                    {{ block.settings.item_image | image_url: width: 1100 }} 1100w,
                    {{ block.settings.item_image | image_url: width: 1400 }} 1400w,
                    {{ block.settings.item_image | image_url: width: 1500 }} 1500w,
                    {{ block.settings.item_image | image_url: width: 1780 }} 1780w,
                    {{ block.settings.item_image | image_url: width: 2000 }} 2000w,
                    {{ block.settings.item_image | image_url: width: 3000 }} 3000w,
                    {{ block.settings.item_image | image_url: width: 3840 }} 3840w"
                  src="{{ block.settings.item_image | image_url: width: 1080 }}"
                  sizes="{{ sizes }}"
                  alt="{{ block.settings.item_image.alt | escape }}"
                  class="animate_transition_slide__image w-full h-full object-cover image-hover{% if rounded_corners %} rounded-[10px]{% endif %}"
                  {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                  height="{{ block.settings.item_image.height }}"
                  width="{{ block.settings.item_image.width }}"
                  x-intersect.once="$el.classList.add('active')"
                >
                {% # theme-check-enable ImgLazyLoading %}
              {%- else -%}
                <div class="bg-[#c9c9c9] w-full h-full {% if rounded_corners %} rounded-[10px]{% endif %} flex items-center justify-center">
                  {% render 'icon-placeholder', icon: 'icon-location-map', class: 'w-20 h-20 md:h-auto md:w-auto' %}
                </div>
              {%- endif -%}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% render 'popup-location-detail' %}
</div>
<script src="{{ 'multiple-stores.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "t:sections.multiple_stores.name",
  "class": "section section-multiple-stores x-section",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "aside",
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.user_guide_link.section_and_blocks.multiple_store"
    },
	  {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.text.heading",
      "default": "Our stores"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.text.heading_size",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "left",
      "label": "t:sections.all.text.heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "adapt_corners",
      "label": "t:sections.slideshow.settings.enable_adapt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rounded_corner_location",
      "default": false,
      "label": "t:sections.featured-product.blocks.rounded_corner.label",
      "visible_if": "{{ section.settings.adapt_corners == false }}"
    },
    {
      "type": "header",
      "content": "t:settings_schema.colors.name"
    },
    {
      "type": "color",
      "id": "background_color_light",
      "label": "t:sections.all.background.background_color_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "border_color_light",
      "label": "t:sections.all.text.line_border",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "block_background_color_light",
      "label": "Block background color (light)",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "label": "t:sections.all.background.background_color_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "border_color_dark",
      "label": "t:sections.all.text.line_border_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "block_background_color_dark",
      "label": "Block background color (dark)",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "label": "t:sections.all.image.image_height",
      "options": [
        {
          "value": "450px",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "550px",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "650px",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "750px",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.image-with-text.settings.height.options__5.label"
        },
        {
          "value": "100vh",
          "label": "t:settings_schema.cart.settings.cart_drawer_size_mobile.fullscreen.label"
        }
      ],
      "default": "750px"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "padding_full_width",
      "default": false,
      "label": "t:sections.all.padding.padding_full_width.label",
      "info": "t:sections.all.padding.padding_full_width.info"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "t:sections.all.show_section_divider.label",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 28
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "t:sections.all.image.image_height",
      "options": [
        {
          "value": "250px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__1.label"
        },
        {
          "value": "300px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__2.label"
        },
        {
          "value": "400px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__3.label"
        },
        {
          "value": "500px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.image-with-text.settings.height.options__5.label"
        },
        {
          "value": "90vh",
          "label": "t:settings_schema.cart.settings.cart_drawer_size_mobile.fullscreen.label"
        }
      ],
      "default": "500px"
    },
    {
      "type": "select",
      "id": "store_list_style",
      "label": "t:sections.multiple_stores.blocks.settings.store_list_style.label",
      "options": [
        {
          "value": "collapse",
          "label": "t:sections.multiple_stores.blocks.settings.store_list_style.options.collapse.label"
        },
        {
          "value": "scroll",
          "label": "t:sections.promotion-popup.settings.trigger_intent.option__4.label"
        }
      ],
      "default": "scroll"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "label": "t:sections.all.show_section_divider.label",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 28
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "t:sections.multiple_stores.blocks.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.multiple_stores.blocks.settings.header_location.content"
        },
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.text.heading",
          "default":"Location"
        },
        {
          "type": "text",
          "id": "address",
          "label": "t:sections.multiple_stores.blocks.settings.address.label",
          "default": "75 9th Ave, New York, NY 10011-7006"
        },
        {
          "type": "richtext",
          "id": "address_detail",
          "default": "<p>(+84) 9444 3 9899</p></br><p><b>Store hours</b></p></br></br><p>Mon - Fri, 8:30am - 10:30pm,</p><p>Saturday, 8:30am - 10:30pm,</p><p>Sunday, 8:30am - 10:30pm</p>",
          "label": "t:sections.multiple_stores.blocks.settings.address_detail.label"
        },
        {
          "type": "header",
          "content": "t:settings_schema.colors.colors_button"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.label",
          "default": "Get directions"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multiple_stores.name",
      "category": "t:categories.brand_trust",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}