{{ 'page.css' | asset_url | stylesheet_tag: preload: true }}

{%- style -%}
  .x-section-page {
    --max-width-page-container: calc((var(--page-width) + 40px) * {{ section.settings.max_container_page_width | times: 0.01 }});
  }
{%- endstyle -%}

{% render 'section-divider' %}

<div class="section-page relative mx-auto pt-[{{ section.settings.padding_top_mobile }}px] md:pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px] ltr">
  <div class="x-section-page">
    <div class="{% if section.settings.full_width %}w-full{% else %}page__container ml-auto mr-auto{% endif %} pr-5 pl-5">
      {%- if section.settings.select_page.title != blank -%}
        <div class="mb-5 pt-2 pb-2">
          {% unless settings.disable_heading_animation %}<div class="overflow-hidden" x-intersect.once="$el.querySelector('.anm-move-up')?.classList.add('active-anm-heading')">{% endunless %}
            <h2 class="h2 text-left{% unless settings.disable_heading_animation %} anm-move-up{% endunless %}">{{ section.settings.select_page.title | escape }}</h2>
          {% unless settings.disable_heading_animation %}</div>{% endunless %}
        </div>
      {%- endif -%}
      <div class="page__body anm-fade-paragraph">
        <div x-intersect.once="$el.classList.add('is-visible')" class="rte anm-fade-element">
          {%- if section.settings.select_page.content != blank -%}
            {{ section.settings.select_page.content }}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.section-page.name",
  "tag": "section",
  "class": "section section-page x-section",
  "disabled_on": {
    "groups": [
      "aside"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.user_guide_link.section_and_blocks.page"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-page.settings.description"
    },
    {
      "type": "page",
      "id": "select_page",
      "label": "t:sections.featured-product.blocks.size_chart.settings.select_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "max_container_page_width",
      "min": 50,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.layout.page_width",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "id": "show_section_divider_mobile",
      "type": "checkbox",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    }
  ],
  "presets": [
    {
      "name": "t:sections.section-page.name",
      "category": "t:categories.blog_and_page"
    }
  ]
}
{% endschema %}