{%- liquid
  assign count = 0 
  assign title = ""
  assign image_url = "" 
  assign class_img_1 = ''
  assign class_img_2 = ''
  assign class_img_3 = ''

  if section.settings.heading != blank
    assign title = section.settings.heading
  elsif section.blocks[0].type == 'image_banner' and section.blocks[0].settings.heading != blank
    assign title = section.blocks[0].settings.heading
  elsif section.blocks[1].type == 'image_banner' and section.blocks[1].settings.heading != blank    
    assign title = section.blocks[1].settings.heading
  endif

  if section.settings.image_3 != blank
    assign image_url = section.settings.image_3
    assign count = count | plus: 1
  endif
  if section.settings.image_2 != blank
    assign class_img_3 = ' hidden md:block'
    assign image_url = section.settings.image_2
    assign count = count | plus: 1
  endif
  if section.settings.image != blank 
    assign class_img_2 = ' hidden md:block'
    assign class_img_3 = ' hidden md:block'
    assign image_url = section.settings.image
    assign count = count | plus: 1
  endif
  assign image_url_mobile = image_url
  if section.settings.image_mobile != blank 
    assign image_url_mobile = section.settings.image_mobile
    if request.design_mode
      assign class_img_1 = ' hidden md:block'
      assign class_img_3 = ' hidden md:block'
      assign class_img_2 = ' hidden md:block'
    endif
  endif
  
  assign rounded_desktop = section.settings.rounded_corner_image
  assign rounded_mobile = section.settings.rounded_corner_image_mobile
  if section.settings.adapt_corners_desktop 
    if settings.edges_type == 'rounded_corners'
      assign rounded_desktop = true
    else
      assign rounded_desktop = false
    endif 
  endif
  if section.settings.adapt_corners_mobile
    if settings.edges_type == 'rounded_corners'
      assign rounded_mobile = true
    else
      assign rounded_mobile = false
    endif 
  endif
-%}

{%- style -%}
  {%- if section.settings.image_mobile != blank -%}
    .mobile-{{ section.id }}-natural {
      padding-bottom: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}%; 
    }
  {%- endif -%}
  .image-{{ section.id }}-1, .image-{{ section.id }}-2, .image-{{ section.id }}-3 {
    object-position: {{ image_url_mobile.presentation.focal_point }};
  }
  
  @media screen and (min-width: 768px) {
    {%- if section.settings.image != blank -%} 
      .desktop-{{ section.id }}-natural {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%; 
      } 
    {%- endif -%}
    .image-{{ section.id }}-1 {
      object-position: {{ section.settings.image.presentation.focal_point }};
    }
    .image-{{ section.id }}-2 {
      object-position: {{ section.settings.image_2.presentation.focal_point }};
    }
    .image-{{ section.id }}-3 {
      object-position: {{ section.settings.image_3.presentation.focal_point }};
    }
  }
  {%- if section.settings.content_position == "custom" -%}
    @media screen and (min-width: 1024px) {
      .promotion-banner--{{ section.id }} {
        left:{{ section.settings.content_horizontal }}%;
        top:{{ section.settings.content_vertical }}%;
        transform: translate(-{{ section.settings.content_horizontal }}%,-{{ section.settings.content_vertical }}%);
      }
    }
  {%- endif -%}
{%- endstyle -%}
<div class="pt-[{{ section.settings.padding_top_mobile }}px] md:pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px]{% if section.settings.full_width %} {% if section.settings.padding_full_width %} md:pl-5 md:pr-5{% else %} md:pl-0 md:pr-0{% endif %}{% else %} x-pgw page-width{% endif %}{% if section.settings.full_width_mobile %} full-width-mobile{% else %} pl-5 pr-5{% endif %}">
  <div class="promotion bg-opacity-80 bg-[#c9c9c9] section--{{ section.id }} w-full flex relative overflow-hidden{% if section.settings.desktop_height == "natural" %}{% if section.settings.image != blank %} md:h-0 desktop-{{ section.id }}-natural{% else %} md:promotion:h-[650px]{% endif %}{% else %} md:promotion:h-[{{ section.settings.desktop_height }}] md:promotion:pb-0{% endif %}{% if rounded_desktop %} md:rounded-[10px] z-20{% else %} md:rounded-none{% endif %}{% if rounded_mobile %}  z-20 rounded-[10px]{% endif %}
    {% if section.settings.mobile_height == "natural" %}{% if section.settings.image_mobile != blank %} h-0 mobile-{{ section.id }}-natural{% else %} h-[550px]{% endif %}{% else %}h-[{{ section.settings.mobile_height }}] md:h-auto{% endif %}"
    x-data='{
      data: {
        promotion: {
          source: "promotion-banner",
          title: "{{ title | escape }}",
          image: "{{ image_url | image_url | split: '//cdn.shopify.com/s/files' }}",
          image_host: "//cdn.shopify.com/s/files"
        }
      },
      setData(data) {
        this.data = data;
      }
    }'
    x-intersect.once.threshold.70='$store.xCustomerEvent.fire("promotion_viewed", $el, data)'
    {% if section.settings.image_mobile != blank %}
      x-init='$nextTick(() => {
        if (screen.width < 768) {
          setData({
            promotion: {
              source: "promotion-banner",
              title: "{{ title | escape }}",
              image: "{{ image_url_mobile | image_url | split: '//cdn.shopify.com/s/files' }}",
              image_host: "//cdn.shopify.com/s/files"
            }
          })
        }
      })'
    {% endif %}
    x-intersect.once="$el.classList.remove('bg-[#c9c9c9]')"
  >
    <div class="w-full h-full{% if section.settings.mobile_height == 'natural' %} absolute top-0 left-0 bottom-0{% else %} relative{% endif %}{% if section.settings.desktop_height == "natural" %} md:absolute md:top-0 md:left-0 md:bottom-0{% else %} md:promotion:relative{% endif %}">
      <div class="absolute top-0 left-0 bottom-0 right-0 flex z-0{% unless section.index == 1 %} animate_transition_slide__image{% endunless %}" x-intersect.once="$el.classList.add('active')">
        {% if section.settings.image_link != blank %}
          <a 
            href="{{ section.settings.image_link }}" 
            aria-label="{{ 'sections.promotion_banner.banner_link' | t }}"
            class="z-10 absolute top-0 left-0 bottom-0 right-0 disable-effect"
            {% if section.settings.open_new_window %}target="_blank"{% endif %}
          >
        {% endif %}
        <div class="z-10 absolute top-0 left-0 bottom-0 right-0 image-treatment-overlay opacity-{{ section.settings.image_overlay_opacity }}"></div>
        {% if section.settings.image_link != blank %}
          </a>
        {% endif %}
        {%- if section.settings.image == blank and section.settings.image_2 == blank and section.settings.image_3 == blank -%}
          <div class="w-full md:block bg-[#c9c9c9] text-[#acacac]{% if section.settings.image_mobile != blank %} hidden{%- endif -%}">
            {{ 'lifestyle-2' | placeholder_svg_tag: 'w-full h-full' }}
          </div>
        {%- endif -%}
        {%- if section.settings.image != blank -%}
          {% if section.settings.show_hero %}
            {% liquid
              if settings.enable_lazy_loading_image
                assign loading = 'lazy'
              else
                assign loading = 'eager'
              endif
            %}
            <div class="hidden">
              {%- if section.settings.image_mobile != blank -%}
                {{ image_url_mobile | image_url: width: 1500 | image_tag: widths: '375, 450, 750, 900, 1100, 1500', preload: true, loading: loading }}
              {%- endif -%}
              {{ section.settings.image | image_url: width: 3840 | image_tag: widths: '750, 900, 1100, 1500, 1780, 2000, 3000, 3840', preload: true, loading: loading }}
            </div>
          {% endif %}
          <div class="w-full{{ class_img_1 }}">
            <parallax-image class="block h-full w-full">
              <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                <picture>
                  <source 
                    srcset="{{ image_url_mobile | image_url: width: 375 }} 375w,
                      {{ image_url_mobile | image_url: width: 450 }} 450w,
                      {{ image_url_mobile | image_url: width: 750 }} 750w,
                      {{ image_url_mobile | image_url: width: 900 }} 900w,
                      {{ image_url_mobile | image_url: width: 1100 }} 1100w,
                      {{ image_url_mobile | image_url: width: 1500 }} 1500w"
                    media="(max-width: 767px)"
                    width="{{ image_url_mobile.width }}"
                    height="{{ image_url_mobile.height }}"
                  >
                  <img
                    srcset="{{ section.settings.image | image_url: width: 750 }} 750w,
                      {{ section.settings.image | image_url: width: 900 }} 900w,
                      {{ section.settings.image | image_url: width: 1100 }} 1100w,
                      {{ section.settings.image | image_url: width: 1500 }} 1500w,
                      {{ section.settings.image | image_url: width: 1780 }} 1780w,
                      {{ section.settings.image | image_url: width: 2000 }} 2000w,
                      {{ section.settings.image | image_url: width: 3000 }} 3000w,
                      {{ section.settings.image | image_url: width: 3840 }} 3840w"
                    {% unless section.settings.show_hero %}
                      {% if settings.enable_lazy_loading_image %}
                        loading="lazy"
                      {% else %}
                        loading="eager"
                      {% endif %}
                    {% else %}
                      loading="eager"
                      fetchpriority="high"
                      decoding="sync"
                    {% endunless %}
                    src="{{ section.settings.image | image_url: width: 3840 }}"
                    alt="{{ section.settings.image.alt | escape }}"
                    sizes="(min-width: 767px) calc(100vw / {{ count }}), 100vw"
                    width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}"
                    class="w-full h-full object-contain z-0 image-{{ section.id }}-1"
                    style="(min-width: 767px) { object-position: {{ section.settings.image.presentation.focal_point }}; } 
                    object-position: {{ image_url_mobile.presentation.focal_point }}"
                  >
                  {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                  </picture>   
              </parallax-movement>
            </parallax-image>
          </div>
        {%- endif -%}
        {%- if section.settings.image_2 != blank -%}
          {% if section.settings.show_hero %}
            <div class="hidden">
              {{ image_url_mobile | image_url: width: 1500 | image_tag: widths: '375, 450, 750, 900, 1100, 1500', preload: true }}
              {{ section.settings.image_2 | image_url: width: 3840 | image_tag: widths: '750, 900, 1100, 1500, 1780, 2000, 3000, 3840', preload: true }}
            </div>
          {% endif %}
          <div class="w-full{{ class_img_2 }}">
            <parallax-image class="block h-full w-full">
              <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                <picture>
                  <source
                    srcset="{{ image_url_mobile | image_url: width: 375 }} 375w,
                      {{ image_url_mobile | image_url: width: 450 }} 450w,
                      {{ image_url_mobile | image_url: width: 750 }} 750w,
                      {{ image_url_mobile | image_url: width: 900 }} 900w,
                      {{ image_url_mobile | image_url: width: 1100 }} 1100w,
                      {{ image_url_mobile | image_url: width: 1500 }} 1500w"
                    media="(max-width: 767px)"
                    width="{{ image_url_mobile.width }}"
                    height="{{ image_url_mobile.height }}"
                  >
                  <img
                    srcset="{{ section.settings.image_2 | image_url: width: 750 }} 750w,
                      {{ section.settings.image_2 | image_url: width: 900 }} 900w,
                      {{ section.settings.image_2 | image_url: width: 1100 }} 1100w,
                      {{ section.settings.image_2 | image_url: width: 1500 }} 1500w,
                      {{ section.settings.image_2 | image_url: width: 1780 }} 1780w,
                      {{ section.settings.image_2 | image_url: width: 2000 }} 2000w,
                      {{ section.settings.image_2 | image_url: width: 3000 }} 3000w,
                      {{ section.settings.image_2 | image_url: width: 3840 }} 3840w"
                    {% unless section.settings.show_hero %}
                      {% if settings.enable_lazy_loading_image %}
                        loading="lazy"
                      {% else %}
                        loading="eager"
                      {% endif %}
                    {% else %}
                      loading="eager"
                      fetchpriority="high"
                      decoding="sync"
                    {% endunless %}
                    src="{{ section.settings.image_2 | image_url: width: 3840 }}"
                    alt="{{ section.settings.image_2.alt | escape }}"
                    sizes="(min-width: 767px) calc(100vw / {{ count }}), 100vw"
                    width="{{ section.settings.image_2.width }}"
                    height="{{ section.settings.image_2.height }}"
                    class="w-full h-full object-cover z-0 image-{{ section.id }}-2"
                    style="(min-width: 767px) { object-position: {{ section.settings.image_2.presentation.focal_point }}; } 
                    object-position: {{ image_url_mobile.presentation.focal_point }}"
                  >
                </picture>
                {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
              </parallax-movement>
            </parallax-image>
          </div>
        {%- endif -%}
        {%- if section.settings.image_3 != blank -%}
          {% if section.settings.show_hero %}
            <div class="hidden">
              {{ image_url_mobile | image_url: width: 1500 | image_tag: widths: '375, 450, 750, 900, 1100, 1500', preload: true }}
              {{ section.settings.image_3 | image_url: width: 3840 | image_tag: widths: '750, 900, 1100, 1500, 1780, 2000, 3000, 3840', preload: true }}
            </div>
          {% endif %}
          <div class="w-full{{ class_img_3 }}">
            <parallax-image class="block h-full w-full">
              <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                <source
                  srcset="{{ image_url_mobile | image_url: width: 375 }} 375w,
                    {{ image_url_mobile | image_url: width: 450 }} 450w,
                    {{ image_url_mobile | image_url: width: 750 }} 750w,
                    {{ image_url_mobile | image_url: width: 900 }} 900w,
                    {{ image_url_mobile | image_url: width: 1100 }} 1100w,
                    {{ image_url_mobile | image_url: width: 1500 }} 1500w"
                  media="(max-width: 767px)"
                  width="{{ image_url_mobile.width }}"
                  height="{{ image_url_mobile.height }}"
                >
                <img
                  srcset="{{ section.settings.image_3 | image_url: width: 750 }} 750w,
                    {{ section.settings.image_3 | image_url: width: 900 }} 900w,
                    {{ section.settings.image_3 | image_url: width: 1100 }} 1100w,
                    {{ section.settings.image_3 | image_url: width: 1500 }} 1500w,
                    {{ section.settings.image_3 | image_url: width: 1780 }} 1780w,
                    {{ section.settings.image_3 | image_url: width: 2000 }} 2000w,
                    {{ section.settings.image_3 | image_url: width: 3000 }} 3000w,
                    {{ section.settings.image_3 | image_url: width: 3840 }} 3840w"
                  {% unless section.settings.show_hero %}
                    {% if settings.enable_lazy_loading_image %}
                      loading="lazy"
                    {% else %}
                      loading="eager"
                    {% endif %}
                  {% else %}
                    loading="eager"
                    fetchpriority="high"
                    decoding="sync"
                  {% endunless %}
                  src="{{ section.settings.image_3 | image_url: width: 3840 }}"
                  alt="{{ section.settings.image_3.alt | escape }}"
                  sizes="(min-width: 767px) calc(100vw / {{ count }}), 100vw"
                  width="{{ section.settings.image_3.width }}"
                  height="{{ section.settings.image_3.height }}"
                  class="w-full h-full object-cover z-0 image-{{ section.id }}-3"
                  style="(min-width: 767px) { object-position: {{ section.settings.image_3.presentation.focal_point }}; } 
                  object-position: {{ image_url_mobile.presentation.focal_point }}"
                > 
                {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
              </parallax-movement>
            </parallax-image>
          </div>
        {%- endif -%}
        {%- if section.settings.image_mobile != blank and count == 0 or request.design_mode -%}
          <div class="w-full md:hidden">
            <parallax-image class="block h-full w-full">
              <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                <img
                  srcset="{{ section.settings.image_mobile | image_url: width: 540 }} 540w,
                  {{ section.settings.image_mobile | image_url: width: 767 }} 767w,
                  {{ section.settings.image_mobile | image_url }} {{ section.settings.image_moblie.width }}w"
                  src="{{ section.settings.image_mobile | image_url: width: 767 }}"
                  alt="{{ section.settings.image_mobile.alt | escape }}"
                  {% unless section.settings.show_hero %}
                    {% if settings.enable_lazy_loading_image %}
                      loading="lazy"
                    {% else %}
                      loading="eager"
                    {% endif %}
                  {% else %}
                    loading="eager"
                    fetchpriority="high"
                    decoding="sync"
                  {% endunless %}
                  width="{{ section.settings.image_mobile.width }}"
                  height="{{ section.settings.image_mobile.height }}"
                  class="w-full h-full object-cover z-0"
                  style="object-position: {{ section.settings.image_mobile.presentation.focal_point }};"
                >
                {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
              </parallax-movement>
            </parallax-image>
          </div>
        {%- endif -%} 
      </div>
      <div class="{% if section.settings.content_position != "custom" %}x-pgw page-width ml-5 mr-5 lg:mx-auto absolute top-0 left-0 bottom-0 right-0{% else %} w-full h-full{% endif %}">
        {%- if section.settings.image_link != blank -%}
          <a href="{{ section.settings.image_link }}"{% if section.settings.open_new_window %} target="_blank"{% endif %} class="absolute top-0 left-0 right-0 bottom-0 disable-effect" aria-label="{{ 'sections.promotion_banner.banner_link' | t }}"></a>
        {%- endif -%}
        <div class="anm-fade-paragraph promotion-banner--{{ section.id }} w-11/12 overflow-hidden h-fit promotion-alignment--{{ section.settings.position_content_mobile }} absolute lg:max-w-3xl lg:w-3/5{% if section.settings.content_position != "custom" %} lg:promotion-alignment--{{ section.settings.content_position }}{% else %} p-5{% endif %}">
          {%- if section.settings.image_link != blank -%}
            <a
              href="{{ section.settings.image_link }}" 
              class="absolute top-0 left-0 right-0 bottom-0 disable-effect"
              aria-label="{{ 'sections.promotion_banner.banner_link' | t }}"
              {% if section.settings.open_new_window %}target="_blank"{% endif %}
            >
            </a>
          {%- endif -%}
          <div class="anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'image_banner' -%}
                {%- liquid 
                  assign heading_size =  block.settings.heading_size | times: settings.heading_base_size | times: 0.000225
                  assign subheading_size = block.settings.subheading_size | times: settings.text_base_size | times: 0.0001
                  assign size_text =  block.settings.text_size | times: settings.text_base_size | times: 0.0001

                  assign add_class_light = false
                  assign add_class_dark = false
                  if block.settings.color_content_box_light.alpha != 0.0 or block.settings.add_frame
                    assign add_class_light = true
                  endif

                  if block.settings.color_content_box_dark.alpha != 0.0 or block.settings.add_frame
                    assign add_class_dark = true
                  endif
                -%}
                {%- style -%}
                  {% unless block.settings.color_content_box_light.alpha == 0.0 %}
                    .content--{{ block.id }} {  
                      background:{{ block.settings.color_content_box_light }}; 
                    }
                  {% endunless %}
                  .dark .content--{{ block.id }} {
                    {% if block.settings.color_content_box_dark.alpha == 0.0 %}
                      background: transparent;  
                    {% else %}
                      background:{{ block.settings.color_content_box_dark }}; 
                    {% endif %}
                  }
                  .content--{{ block.id }}:after {
                    border-color: {{ settings.colors_image_treatment_text }};
                  }
                  .dark .content--{{ block.id }}:after {
                    border-color: {{ settings.colors_dark_image_treatment_text }};
                  }
                  .heading-{{ block.id }} {
                    font-size: {{ heading_size | times: 0.5 }}rem;
                  }
                  .sub-heading-{{ block.id }} {
                    font-size: {{ subheading_size | times: 0.9 }}rem;
                  } 
                  .content-text-{{ block.id }} {
                    font-size: {{ size_text | times: 0.9 }}rem;
                  }
                  @media screen and (min-width: 768px) { 
                    .sub-heading-{{ block.id }} {
                      font-size: {{ subheading_size }}rem;
                    }
                    .content-text-{{ block.id }} {
                      font-size: {{ size_text }}rem;
                    }
                    .heading-{{ block.id }} {
                      font-size: {{ heading_size }}rem;
                    }
                  }
                {%- endstyle -%} 
                {%- if block.settings.heading != blank or block.settings.text != blank or block.settings.subheading != blank -%}
                  <div class="content--{{ block.id }} relative mx-auto mt-2 mb-2 z-20 lg:max-w-3xl w-full lg:block lg:w-full lg:static lg:translate-x-0 lg:translate-y-0
                    {% if add_class_light %} pt-5 pb-5 pl-5 pr-5{% endif %}
                    {% if add_class_dark %} dark:pt-5 dark:pb-5 dark:pl-5 dark:pr-5{% else %} dark:pt-0 dark:pb-0 dark:pr-0 dark:pl-0{% endif %}
                    {%- if block.settings.content_box_type == "round" %} rounded-full{% endif -%}
                    {%- if block.settings.add_frame %} pt-5 pb-5 pl-5 pr-5 after:-z-10 after:top-1 after:left-1 after:right-1 after:bottom-1 after:border after:solid after:absolute after:{{ block.settings.content_box_type }}{% endif %}"
                  >
                    <div class="promotion-box-content--{{ block.settings.content_box_type }}{%- if add_class_light and block.settings.content_box_type == "round" %} pl-8 pb-8 pt-8 pr-8{% else %} pb-1 md:pb-2{% endif %}{%- if add_class_dark and block.settings.content_box_type == "round" %} dark:pl-8 dark:pb-8 dark:pt-8 dark:pr-8{% else %} dark:pl-0 dark:pr-0 dark:pt-0 dark:pb-1 md:dark:pb-2{% endif %} text-{{ section.settings.content_alignment }} rtl:text-{% if section.settings.content_alignment == 'center' %}center{% elsif section.settings.content_alignment == 'left' %}right{% else %}left{% endif %}"{{ block.shopify_attributes }}>
                      {%- if block.settings.subheading != blank -%}
                        <p class="x-subheading sub-heading-{{ block.id }} leading-tight empty:hidden mt-1 p-break-words image-treatment-text">
                          {{ block.settings.subheading | escape }}
                        </p>
                      {%- endif -%}
                      {%- if block.settings.heading != blank -%}
                        {% render 'heading-highlight',
                          headingId: block.id,
                          heading: block.settings.heading,
                          highlight_type: block.settings.highlight_type,
                          class: 'empty:hidden h2 block leading-tight mt-1 image-treatment-text p-break-words',
                          heading_tag: block.settings.heading_tag,
                        %}
                      {%- endif -%}
                      {%- if block.settings.text != blank -%} 
                        <p class="content-text-{{ block.id }} p-break-words empty:hidden leading-tight image-treatment-text{% if block.settings.heading != blank %} mt-3 lg:mt-4{% endif %}">
                          {{ block.settings.text | escape }}
                        </p>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- when 'buttons' -%}
                {%- style -%}
                  .button--{{ block.id }}.button-solid,
                  .button--{{ block.id }}.button-solid:before { 
                    {%- unless block.settings.color_button.alpha == 0.0 -%}
                      --colors-line-and-border: {{ block.settings.color_button.red }}, {{ block.settings.color_button.green }}, {{ block.settings.color_button.blue }};
                      --colors-button: {{ block.settings.color_button.red }}, {{ block.settings.color_button.green }}, {{ block.settings.color_button.blue }};
                    {%- else -%}
                      --colors-line-and-border: var(--colors-button);
                    {%- endunless -%}
                    {%- unless block.settings.color_button_hover.alpha == 0.0 -%}
                      --colors-button-hover: rgb({{ block.settings.color_button_hover.red }}, {{ block.settings.color_button_hover.green }}, {{ block.settings.color_button_hover.blue }});
                    {%- endunless -%}
                    {%- unless block.settings.color_text_button.alpha == 0.0 -%}
                      --colors-button-text: {{ block.settings.color_text_button.red }}, {{ block.settings.color_text_button.green }}, {{ block.settings.color_text_button.blue }};
                    {%- endunless -%}
                    {%- unless block.settings.color_text_button_hover.alpha == 0.0 -%}
                      --colors-button-text-hover: {{ block.settings.color_text_button_hover.red }}, {{ block.settings.color_text_button_hover.green }}, {{ block.settings.color_text_button_hover.blue }};
                    {%- endunless -%}
                  }
                  .button--{{ block.id }}.button-outline {
                    {%- if block.settings.secondary_button_text.alpha != 0.0 -%} 
                      --colors-secondary-button: {{ block.settings.secondary_button_text.red }}, {{ block.settings.secondary_button_text.green }}, {{ block.settings.secondary_button_text.blue }}; 
                      --colors-line-secondary-button: {{ block.settings.secondary_button_text.red }}, {{ block.settings.secondary_button_text.green }}, {{ block.settings.secondary_button_text.blue }}; 
                      --background-secondary-button: transparent;
                    {% endif %}
                    {%- if block.settings.color_button_secondary.alpha != 0.0 -%} 
                      --background-secondary-button: {{ block.settings.color_button_secondary.red }}, {{ block.settings.color_button_secondary.green }}, {{ block.settings.color_button_secondary.blue }}; 
                      --colors-line-secondary-button: {{ block.settings.color_button_secondary.red }}, {{ block.settings.color_button_secondary.green }}, {{ block.settings.color_button_secondary.blue }}; 
                    {% endif %}
                  }
                  {% if block.settings.colors_text_link.alpha != 0.0 %}
                    .button--{{ block.id }}.button-text-link, .button--{{ block.id }}.button-text-link::after, .button--{{ block.id }}.button-text-link::before {
                      --colors-text-link: {{ block.settings.colors_text_link.red }}, {{ block.settings.colors_text_link.green }}, {{ block.settings.colors_text_link.blue }};
                    }
                  {% endif %}
                {%- endstyle -%}
                {%- if block.settings.button_label != blank or block.settings.button_label_2 != blank -%}
                  <div class="x-block-promotion-banner-button selection:bg-[rgba(var(--image-treatment-text),0.2)] z-20 mt-3 lg:mt-9 mb-2 mx-auto ltr">
                    <div class="flex lg:justify-{{ section.settings.content_alignment }} rtl:lg:justify-{% if section.settings.content_alignment == 'center' %}center{% elsif section.settings.content_alignment == 'left' %}right{% else %}left{% endif %} items-{{ section.settings.content_alignment }} rtl:items-{% if section.settings.content_alignment == 'center' %}center{% elsif section.settings.content_alignment == 'left' %}right{% else %}left{% endif %} lg:flex-row flex-col gap-x-1" {{ block.shopify_attributes }}>
                      {%- if block.settings.button_label != blank -%}
                        {%- if block.settings.button_link != blank -%}
                          <a 
                            href="{{ block.settings.button_link }}"
                            class="disable-effect" 
                            @click='$store.xCustomerEvent.fire("promotion_selected", $el, data)'
                            aria-label="{{ block.settings.button_label | escape }}"
                            {% if block.settings.open_new_window_button %}target="_blank"{% endif %}
                          >
                        {%- endif -%}
                          <div class="button p-break-words button--{{ block.id }}{% if block.settings.show_button_style_1 == 'secondary' %} button-outline{% elsif block.settings.show_button_style_1 == 'text-link' %} button-text-link {% else %} button-solid{% endif %} empty:hidden leading-normal text-center mt-1 mb-1 lg:mt-0 lg:mb-0 lg:ml-0 lg:mr-0 h-full pl-7 pr-7 lg:pl-9 lg:pr-9 pt-2.5 pb-2.5 md:pt-3 md:pb-3{% unless block.settings.button_link != blank %} opacity-70 disable-btn-animation hover:cursor-not-allowed{% endunless %}">
                            {% render 'button-label', button_label: block.settings.button_label, show_button_style: block.settings.show_button_style_1 %}
                          </div>
                        {%- if block.settings.button_link != blank -%}
                          </a>
                        {%- endif -%}
                      {%- endif -%}
                      {%- if block.settings.button_label_2 != blank -%}
                        {%- if block.settings.button_link_2 != blank -%}
                          <a 
                            href="{{ block.settings.button_link_2 }}" 
                            class="disable-effect" 
                            @click='$store.xCustomerEvent.fire("promotion_selected", $el, data)' 
                            aria-label="{{ block.settings.button_label_2 | escape }}"
                            {% if block.settings.open_new_window_button_2 %}target="_blank"{% endif %}
                          >
                        {%- endif -%}
                          <div class="button p-break-words button--{{ block.id }}{% if block.settings.show_button_style_2 == 'secondary' %} button-outline{% elsif block.settings.show_button_style_2 == 'text-link' %} button-text-link {% else %} button-solid{% endif %} empty:hidden leading-normal text-center mt-1 mb-1 lg:mt-0 lg:mb-0 lg:ml-0 lg:mr-0 h-full pl-7 pr-7 lg:pl-9 lg:pr-9 pt-2.5 pb-2.5 md:pt-3 md:pb-3{% unless block.settings.button_link_2 != blank %} opacity-70 disable-btn-animation hover:cursor-not-allowed{% endunless %}">
                            {% render 'button-label', button_label: block.settings.button_label_2, show_button_style: block.settings.show_button_style_2 %}
                          </div>
                        {%- if block.settings.button_link_2 != blank -%}
                          </a>
                        {%- endif -%} 
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- when 'countdown_timer' -%}
                {% style %}
                  .timer--{{ block.id }} {
                    font-size: {{ settings.heading_base_size | times: 0.013 }}rem;
                    {% unless block.settings.timer_color_countdown.alpha == 0.0 %}
                      color: {{ block.settings.timer_color_countdown }};
                    {% else %}
                      color: var(--colors-button-hover);
                    {% endunless %}
                  }
                  .dark .timer--{{ block.id }} {
                    {% unless block.settings.timer_color_countdown.alpha == 0.0 %}
                      color: {{ block.settings.timer_color_countdown }};
                    {% else %}
                      color: var(--colors-button-hover);
                    {% endunless %}
                  }
                  .x-countdown-{{ block.id }} {
                    margin-left: -{{ block.settings.spacing_col_mobile | times: 0.5 }}px;
                    margin-right: -{{ block.settings.spacing_col_mobile | times: 0.5 }}px;
                  }
                  .countdown--{{ block.id }} { 
                    margin-left: {{ block.settings.spacing_col_mobile | times: 0.5 }}px;
                    margin-right: {{ block.settings.spacing_col_mobile | times: 0.5 }}px;
                  }
                  @media screen and (min-width: 768px) {
                    .timer--{{ block.id }} {
                      font-size: {{ settings.heading_base_size | times: 0.019 }}rem;
                    }
                    .x-countdown-{{ block.id }} {
                      margin-left: -{{ block.settings.spacing_col | times: 0.5 }}px;
                      margin-right: -{{ block.settings.spacing_col | times: 0.5 }}px;
                    }
                    .countdown--{{ block.id }} {
                      margin-left: {{ block.settings.spacing_col | times: 0.5 }}px;
                      margin-right: {{ block.settings.spacing_col | times: 0.5 }}px;
                    }
                  }
                  .countdown--{{ block.id }} {
                    {% if block.settings.bg_color_countdown.alpha != 0.0 %}
                      background-color: rgba({{ block.settings.bg_color_countdown.red }}, {{ block.settings.bg_color_countdown.green }}, {{ block.settings.bg_color_countdown.blue }}, {{ block.settings.overlay_opacity }}%);
                    {% endif %}
                    {% unless block.settings.text_color_countdown.alpha == 0.0 %}
                      color: {{ block.settings.text_color_countdown }};
                      border-color: rgba({{ block.settings.text_color_countdown.red }}, {{ block.settings.text_color_countdown.green }}, {{ block.settings.text_color_countdown.blue }});
                    {% else %}
                      color: rgba(var(--image-treatment-text));
                      border-color: rgba(var(--image-treatment-text));
                    {% endunless %}
                  }
                  .dark .countdown--{{ block.id }} {
                    {% unless block.settings.text_color_countdown.alpha == 0.0 %}
                      color: {{ block.settings.text_color_countdown }};
                      border-color: rgba({{ block.settings.text_color_countdown.red }}, {{ block.settings.text_color_countdown.green }}, {{ block.settings.text_color_countdown.blue }});
                    {% else %}
                      color: rgba(var(--image-treatment-text));
                      border-color: rgba(var(--image-treatment-text));

                    {% endunless %}
                  }
                {% endstyle %}
                <div 
                  id="x-countdown-banner"
                  class="block-promotion-banner pb-1.5 mt-4 mb-2.5 md:mb-5"
                  x-data="{ loading: true, textLoad: '-', days: 0, hours: 0, minutes: 0, seconds: 0 }"
                  x-intersect.once.margin.200px='$nextTick(() => {
                    $store.xHelper.countdown({
                      "id": "{{ block.id }}",
                      "timezone": {{ block.settings.timezone | default: 0 }},
                      "end_year": {{ block.settings.end_year | default: 0 }},
                      "end_month": {{ block.settings.end_month | default: 0 }},
                      "end_day": {{ block.settings.end_day | default: 0 }},
                      "end_hour": {{ block.settings.end_hour | default: 0 }},
                      "end_minute": {{ block.settings.end_minute | default: 0 }},
                      "reset": {% if block.settings.countdown_type == 'evergreen' %}true{% else %}false{% endif %},
                      "duration": {% if block.settings.interval_unit == 'day' %}{{ block.settings.countdown_interval | times: 86400000 }}{% else %}{{ block.settings.countdown_interval | times: 3600000 }}{% endif %}
                    }, (canShow, s, m, h, d) => {
                      days = d;
                      hours = h;
                      minutes = m;
                      seconds = s;
                      loading = false;
                    })
                  })'
                  {{ block.shopify_attributes }}
                >
                  <div class="x-countdown-promo-banner x-countdown-{{ block.id }} justify-{{ section.settings.content_alignment }} rtl:justify-{% if section.settings.content_alignment == 'center' %}center{% elsif section.settings.content_alignment == 'left' %}right{% else %}left{% endif %} flex rtl:flex-row-reverse">
                    <div class="countdown--{{ block.id }} relative w-full max-w-[86px] min-h-[60px] md:max-w-[112px] md:min-h-[80px] bg-color--{{ block.id }}{% if block.settings.border_style != 'none' %} border border-dashed border-color--{{ block.id }}{% endif %}{% if block.settings.timer_style == 'square' %}{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}{% else %} flex-1 rounded-full before:block before:h-0 before:pb-[100%]{% endif %}">
                      <div class="flex flex-col items-center justify-center absolute top-0 left-0 h-full w-full">
                        <span x-html="loading?textLoad:days" class="h2 timer--{{ block.id }}"></span>
                        <span>{{ 'sections.promotion_banner.days' | t }}</span>
                      </div>
                    </div>
                    <div class="countdown--{{ block.id }} relative w-full max-w-[86px] min-h-[60px] md:max-w-[112px] md:min-h-[80px] bg-color--{{ block.id }}{% if block.settings.border_style != 'none' %} border border-dashed border-color--{{ block.id }}{% endif %}{% if block.settings.timer_style == 'square' %}{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}{% else %} flex-1 rounded-full before:block before:h-0 before:pb-[100%]{% endif %}">
                      <div class="flex flex-col items-center justify-center absolute top-0 left-0 h-full w-full">
                        <span x-html="loading?textLoad:hours" class="h2 timer--{{ block.id }}"></span>
                        <span>{{ 'sections.promotion_banner.hours' | t }}</span>
                      </div>
                    </div>
                    <div class="countdown--{{ block.id }} relative w-full max-w-[86px] min-h-[60px] md:max-w-[112px] md:min-h-[80px] bg-color--{{ block.id }}{% if block.settings.border_style != 'none' %} border border-dashed border-color--{{ block.id }}{% endif %}{% if block.settings.timer_style == 'square' %}{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}{% else %} flex-1 rounded-full before:block before:h-0 before:pb-[100%]{% endif %}">
                      <div class="flex flex-col items-center justify-center absolute top-0 left-0 h-full w-full">
                        <span x-html="loading?textLoad:minutes" class="h2 timer--{{ block.id }}"></span>
                        <span>{{ 'sections.promotion_banner.mins' | t }}</span>
                      </div>
                    </div>
                    <div class="countdown--{{ block.id }} relative w-full max-w-[86px] min-h-[60px] md:max-w-[112px] md:min-h-[80px] bg-color--{{ block.id }}{% if block.settings.border_style != 'none' %} border border-dashed border-color--{{ block.id }}{% endif %}{% if block.settings.timer_style == 'square' %}{% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}{% else %} flex-1 rounded-full before:block before:h-0 before:pb-[100%]{% endif %}">
                      <div class="flex flex-col items-center justify-center absolute top-0 left-0 h-full w-full">
                        <span x-html="loading?textLoad:seconds" class="h2 timer--{{ block.id }}"></span>
                        <span>{{ 'sections.promotion_banner.secs' | t }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              {%- when 'menu' -%}
                {% liquid  
                  assign menu_text_size =  block.settings.menu_text_size | times: settings.heading_base_size | times: 0.000225
                %}
                <style>
                  .menu--{{ block.id }} {
                    font-size: {{ menu_text_size | times: 0.3 }}rem;
                  }
                  .menu--{{ block.id }} .link-active {
                    border-bottom: 1px solid rgba(var(--colors-text-link), 1);
                  }
                  @media screen and (min-width: 768px) { 
                    .menu--{{ block.id }} {
                      font-size: {{ menu_text_size | times: 0.58 }}rem;
                    }
                  }
                </style>
                <nav class="menu--{{ block.id }} image-treatment-text justify-{{ section.settings.content_alignment }}{% if block.settings.display_mobile %} flex{% else %} hidden lg:flex{% endif %}">
                  <ul class="list-menu inline-flex flex-wrap items-center gap-4 lg:gap-12">
                    {%- for link in block.settings.menu.links -%}
                        <li class="py-1">
                          <a
                            href="{{ link.url }}"
                            class="relative p-break-words flex items-center hover-text-link font-bold is-focus:link-active{% if link.current or link.child_active %} link-active {% else %} nav-link {% endif %}"
                          >
                            <span>{{ link.title | escape }}</span>
                          </a>
                        </li>
                    {%- endfor -%}
                  </ul>
                </nav>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.promotion-banner.name",
  "tag": "section",
  "class": "section section-promotion-banner",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.user_guide_link.section_and_blocks.promotion_banner"
    },
    {
      "type": "text",
      "label": "t:sections.all.text.heading",
      "id": "heading",
      "default": "Promotion Banner",
      "info": "t:sections.promotion-banner.settings.heading.info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.promotion-banner.settings.image.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.promotion-banner.settings.image_2.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:sections.promotion-banner.settings.image_3.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.promotion-banner.settings.image_mobile.label",
      "info": "t:sections.all.image.note_image_size"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "t:sections.promotion-banner.settings.image_link.label"
    },
    {
      "type": "checkbox",
      "id": "open_new_window",
      "default": false,
      "label": "t:sections.all.open_new_window.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.collection-list.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.content_position.options__3.label"
        },
        {
          "value": "center-left",
          "label": "t:sections.all.content_position.options__4.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_position.options__5.label"
        },
        {
          "value": "center-right",
          "label": "t:sections.all.content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.content_position.options__9.label"
        },
        {
          "value": "custom",
          "label": "t:sections.promotion-banner.settings.desktop_content_position.options__10.label"
        }
      ],
      "default": "center",
      "label": "t:sections.promotion-banner.settings.desktop_content_position.label"
    },
    {
      "type": "range",
      "id": "content_horizontal",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.promotion-banner.settings.content_horizontal.label",
      "default": 50,
      "info": "t:sections.all.content_position.custom_position_info",
      "visible_if": "{{ section.settings.content_position == 'custom' }}"
    },
    {
      "type": "range",
      "id": "content_vertical",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.promotion-banner.settings.content_vertical.label",
      "default": 50,
      "info": "t:sections.all.content_position.custom_position_info",
      "visible_if": "{{ section.settings.content_position == 'custom' }}"
    },
    {
      "type": "select",
      "id": "position_content_mobile",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.content_position.options__3.label"
        },
        {
          "value": "center-left",
          "label": "t:sections.all.content_position.options__4.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_position.options__5.label"
        },
        {
          "value": "center-right",
          "label": "t:sections.all.content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.content_position.options__9.label"
        }
      ],
      "default": "center",
      "label": "t:sections.promotion-banner.settings.content_mobile_alignment.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_hero",
      "default": false,
      "label": "t:sections.promotion-banner.settings.show_hero.label",
      "info": "t:sections.promotion-banner.settings.show_hero.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "padding_full_width",
      "default": false,
      "label": "t:sections.all.padding.padding_full_width.label",
      "info": "t:sections.all.padding.padding_full_width.info",
      "visible_if": "{{ section.settings.full_width }}"
    },
    {
      "type": "checkbox",
      "id": "adapt_corners_desktop",
      "label": "t:sections.slideshow.settings.enable_adapt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rounded_corner_image",
      "default": false,
      "label": "t:sections.featured-product.blocks.rounded_corner.label",
      "visible_if": "{{ section.settings.adapt_corners_desktop == false }}"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "options": [
        {
          "value": "450px",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "550px",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "650px",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "750px",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.image-with-text.settings.height.options__5.label"
        },
        {
          "value": "90vh",
          "label": "t:settings_schema.cart.settings.cart_drawer_size_mobile.fullscreen.label"
        }
      ],
      "default": "750px",
      "label": "t:sections.shop_the_look.settings.desktop_height.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 0,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "checkbox",
      "id": "full_width_mobile",
      "default": true,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "checkbox",
      "id": "adapt_corners_mobile",
      "label": "t:sections.slideshow.settings.enable_adapt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rounded_corner_image_mobile",
      "default": false,
      "label": "t:sections.featured-product.blocks.rounded_corner.label",
      "visible_if": "{{ section.settings.adapt_corners_mobile == false }}"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "250px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__1.label"
        },
        {
          "value": "300px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__2.label"
        },
        {
          "value": "400px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__3.label"
        },
        {
          "value": "500px",
          "label": "t:sections.image-with-text.settings.mobile_height.options__4.label"
        },
        {
          "value": "natural",
          "label": "t:sections.image-with-text.settings.height.options__5.label"
        },
        {
          "value": "90vh",
          "label": "t:settings_schema.cart.settings.cart_drawer_size_mobile.fullscreen.label"
        }
      ],
      "default": "400px",
      "label": "t:sections.shop_the_look.settings.mobile_height.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 0,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.all.padding.padding_bottom"
    }
  ],
  "blocks": [
    {
      "type": "image_banner",
      "name": "t:sections.all.text.text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Flash Sale 70% Off",
          "label": "t:sections.all.text.heading",
          "info": "t:settings_schema.typography.settings.heading_highlight_type.info"
        },
        {
          "type": "select",
          "id": "highlight_type",
          "default": "underline",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.label",
          "options": [
            {
              "value": "underline",
              "label": "t:settings_schema.typography.settings.heading_highlight_type.option__1.label"
            },
            {
              "value": "font_highlight",
              "label": "t:settings_schema.typography.settings.heading_highlight_type.option__3.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "t:sections.all.text.heading_size",
          "default": 170
        },
        {
          "type": "select",
          "id": "heading_tag",
          "default": "h2",
          "label": "t:sections.all.text.heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Summer Lookbook",
          "label": "t:sections.all.text.subheading"
        },
        {
          "type": "range",
          "id": "subheading_size",
          "min": 100,
          "max": 200,
          "unit": "%",
          "step": 10,
          "default": 100,
          "label": "t:sections.all.text.subheading_size"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.all.text.text"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "t:sections.all.text.text_size",
          "default": 130
        },
        {
          "type": "select",
          "id": "content_box_type",
          "options": [
            {
              "value": "square",
              "label": "t:settings_schema.products.square"
            },
            {
              "value": "round",
              "label": "t:settings_schema.products.round"
            }
          ],
          "default": "square",
          "label": "t:sections.promotion-banner.blocks.image_banner.settings.content_box_type.label"
        },
        {
          "type": "checkbox",
          "id": "add_frame",
          "default": false,
          "label": "t:sections.promotion-banner.blocks.image_banner.settings.add_frame.label"
        },
        {
          "type": "color",
          "id": "color_content_box_light",
          "default": "rgba(0,0,0,0)",
          "label": "t:sections.promotion-banner.blocks.image_banner.settings.color_content_box_light.label"
        },
        {
          "type": "color",
          "id": "color_content_box_dark",
          "default": "rgba(0,0,0,0)",
          "label": "t:sections.promotion-banner.blocks.image_banner.settings.color_content_box_dark.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:settings_schema.colors.settings.header__2.content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.promotion-banner.blocks.buttons.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.promotion-banner.blocks.buttons.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style_1",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            },
            {
              "value": "text-link",
              "label": "t:settings_schema.colors.colors_text_link"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.promotion-banner.blocks.buttons.settings.button_label_2.label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.promotion-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button_2",
          "default": false,
          "label": "t:sections.all.open_new_window.label"
        },
        {
          "type": "select",
          "id": "show_button_style_2",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.secondary"
            },
            {
              "value": "text-link",
              "label": "t:settings_schema.colors.colors_text_link"
            }
          ],
          "label": "t:sections.all.button.button_style.label",
          "default": "primary"
        },
        {
          "type": "header",
          "content": "t:settings_schema.colors.name"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "t:sections.all.button.color_button",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_text_button",
          "label": "t:sections.all.button.color_text_button",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_button_hover",
          "label": "t:sections.all.button.color_button_hover",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_text_button_hover",
          "label": "t:sections.all.button.color_text_button_hover",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "color_button_secondary",
          "label": "t:sections.all.button.colors_button_secondary",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "secondary_button_text",
          "default": "rgba(0,0,0,0)",
          "label": "t:sections.all.button.secondary_button_text"
        },
        {
          "type": "color",
          "id": "colors_text_link",
          "default": "rgba(0,0,0,0)",
          "label": "t:settings_schema.colors.colors_text_link"
        }
      ]
    },
    {
      "type": "countdown_timer",
      "name": "t:sections.announcement-bar.blocks.announcement.countdown-timer.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.promotion-banner.blocks.countdown.content"
        },
        {
          "type": "select",
          "id": "countdown_type",
          "options": [
            {
              "value": "standard",
              "label": "t:sections.promotion-banner.blocks.countdown.settings.countdown_type.standard"
            },
            {
              "value": "evergreen",
              "label": "t:sections.promotion-banner.blocks.countdown.settings.countdown_type.evergreen"
            }
          ],
          "default": "standard",
          "label": "t:sections.promotion-banner.blocks.countdown.settings.countdown_type.label",
          "info": "t:sections.promotion-banner.blocks.countdown.settings.countdown_type.info"
        },
        {
          "type": "range",
          "id": "countdown_interval",
          "label": "t:sections.promotion-banner.blocks.countdown.settings.countdown_interval.label",
          "default": 7,
          "max": 30,
          "min": 1,
          "step": 1,
          "visible_if": "{{ block.settings.countdown_type == 'evergreen' }}"
        },
        {
          "type": "select",
          "id": "interval_unit",
          "label": "t:sections.promotion-banner.blocks.countdown.settings.interval_unit.label",
          "options": [
            {
              "label": "t:sections.promotion-banner.blocks.countdown.settings.interval_unit.options.days",
              "value": "day"
            },
            {
              "label": "t:sections.promotion-banner.blocks.countdown.settings.interval_unit.options.hours",
              "value": "hour"
            }
          ],
          "default": "day",
          "visible_if": "{{ block.settings.countdown_type == 'evergreen' }}"
        },
        {
          "type": "header",
          "content": "t:sections.event-calendar.blocks.event.settings.start_date.content",
          "info": "t:sections.promotion-banner.blocks.countdown.settings.start_date_group.info",
          "visible_if": "{{ block.settings.countdown_type == 'evergreen' }}"
        },
        {
          "type": "header",
          "content": "t:sections.event-calendar.blocks.event.settings.end_date.content",
          "visible_if": "{{ block.settings.countdown_type == 'standard' }}"
        },
        {
          "type": "select",
          "id": "timezone",
          "options": [
            {
              "value": "-12",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-12.label"
            },
            {
              "value": "-11",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-11.label"
            },
            {
              "value": "-10",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-10.label"
            },
            {
              "value": "-9",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-9.label"
            },
            {
              "value": "-8",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-8.label"
            },
            {
              "value": "-7",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-7.label"
            },
            {
              "value": "-6",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-6.label"
            },
            {
              "value": "-5",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-5.label"
            },
            {
              "value": "-4",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-4.label"
            },
            {
              "value": "-3",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-3.label"
            },
            {
              "value": "-2",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-2.label"
            },
            {
              "value": "-1",
              "label": "t:sections.announcement-bar.blocks.timezone.options__-1.label"
            },
            {
              "value": "0",
              "label": "t:sections.announcement-bar.blocks.timezone.options__0.label"
            },
            {
              "value": "1",
              "label": "t:sections.announcement-bar.blocks.timezone.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.announcement-bar.blocks.timezone.options__2.label"
            },
            {
              "value": "3",
              "label": "t:sections.announcement-bar.blocks.timezone.options__3.label"
            },
            {
              "value": "4",
              "label": "t:sections.announcement-bar.blocks.timezone.options__4.label"
            },
            {
              "value": "5",
              "label": "t:sections.announcement-bar.blocks.timezone.options__5.label"
            },
            {
              "value": "5.5",
              "label": "t:sections.announcement-bar.blocks.timezone.options__15.label"
            },
            {
              "value": "6",
              "label": "t:sections.announcement-bar.blocks.timezone.options__6.label"
            },
            {
              "value": "7",
              "label": "t:sections.announcement-bar.blocks.timezone.options__7.label"
            },
            {
              "value": "8",
              "label": "t:sections.announcement-bar.blocks.timezone.options__8.label"
            },
            {
              "value": "9",
              "label": "t:sections.announcement-bar.blocks.timezone.options__9.label"
            },
            {
              "value": "10",
              "label": "t:sections.announcement-bar.blocks.timezone.options__10.label"
            },
            {
              "value": "11",
              "label": "t:sections.announcement-bar.blocks.timezone.options__11.label"
            },
            {
              "value": "12",
              "label": "t:sections.announcement-bar.blocks.timezone.options__12.label"
            },
            {
              "value": "13",
              "label": "t:sections.announcement-bar.blocks.timezone.options__13.label"
            },
            {
              "value": "14",
              "label": "t:sections.announcement-bar.blocks.timezone.options__14.label"
            }
          ],
          "default": "-4",
          "label": "t:sections.announcement-bar.blocks.timezone.label"
        },
        {
          "type": "number",
          "id": "end_year",
          "default": 2023,
          "label": "t:sections.promotion-banner.blocks.countdown.settings.year.label"
        },
        {
          "type": "select",
          "id": "end_month",
          "options": [
            {
              "value": "1",
              "label": "t:sections.announcement-bar.blocks.month.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.announcement-bar.blocks.month.options__2.label"
            },
            {
              "value": "3",
              "label": "t:sections.announcement-bar.blocks.month.options__3.label"
            },
            {
              "value": "4",
              "label": "t:sections.announcement-bar.blocks.month.options__4.label"
            },
            {
              "value": "5",
              "label": "t:sections.announcement-bar.blocks.month.options__5.label"
            },
            {
              "value": "6",
              "label": "t:sections.announcement-bar.blocks.month.options__6.label"
            },
            {
              "value": "7",
              "label": "t:sections.announcement-bar.blocks.month.options__7.label"
            },
            {
              "value": "8",
              "label": "t:sections.announcement-bar.blocks.month.options__8.label"
            },
            {
              "value": "9",
              "label": "t:sections.announcement-bar.blocks.month.options__9.label"
            },
            {
              "value": "10",
              "label": "t:sections.announcement-bar.blocks.month.options__10.label"
            },
            {
              "value": "11",
              "label": "t:sections.announcement-bar.blocks.month.options__11.label"
            },
            {
              "value": "12",
              "label": "t:sections.announcement-bar.blocks.month.options__12.label"
            }
          ],
          "default": "1",
          "label": "t:sections.promotion-banner.blocks.countdown.settings.end_month.label"
        },
        {
          "type": "select",
          "id": "end_day",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            },
            {
              "value": "9",
              "label": "9"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            }
          ],
          "default": "1",
          "label": "t:sections.promotion-banner.blocks.countdown.settings.end_day.label"
        },
        {
          "type": "select",
          "id": "end_hour",
          "options": [
            {
              "value": "0",
              "label": "12 AM"
            },
            {
              "value": "1",
              "label": "01 AM"
            },
            {
              "value": "2",
              "label": "02 AM"
            },
            {
              "value": "3",
              "label": "03 AM"
            },
            {
              "value": "4",
              "label": "04 AM"
            },
            {
              "value": "5",
              "label": "05 AM"
            },
            {
              "value": "6",
              "label": "06 AM"
            },
            {
              "value": "7",
              "label": "07 AM"
            },
            {
              "value": "8",
              "label": "08 AM"
            },
            {
              "value": "9",
              "label": "09 AM"
            },
            {
              "value": "10",
              "label": "10 AM"
            },
            {
              "value": "11",
              "label": "11 AM"
            },
            {
              "value": "12",
              "label": "12 PM"
            },
            {
              "value": "13",
              "label": "01 PM"
            },
            {
              "value": "14",
              "label": "02 PM"
            },
            {
              "value": "15",
              "label": "03 PM"
            },
            {
              "value": "16",
              "label": "04 PM"
            },
            {
              "value": "17",
              "label": "05 PM"
            },
            {
              "value": "18",
              "label": "06 PM"
            },
            {
              "value": "19",
              "label": "07 PM"
            },
            {
              "value": "20",
              "label": "08 PM"
            },
            {
              "value": "21",
              "label": "09 PM"
            },
            {
              "value": "22",
              "label": "10 PM"
            },
            {
              "value": "23",
              "label": "11 PM"
            }
          ],
          "default": "0",
          "label": "t:settings_schema.shipping_delivery.estimate_delivery.cutoff_hour.label"
        },
        {
          "type": "select",
          "id": "end_minute",
          "options": [
            {
              "value": "0",
              "label": "00"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "45",
              "label": "45"
            }
          ],
          "default": "0",
          "label": "t:settings_schema.shipping_delivery.estimate_delivery.cutoff_minute.label"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-banner.blocks.countdown.settings.timer_style_group.content"
        },
        {
          "type": "select",
          "id": "timer_style",
          "options": [
            {
              "value": "square",
              "label": "t:settings_schema.products.square"
            },
            {
              "value": "rounded",
              "label": "t:settings_schema.products.round"
            }
          ],
          "default": "square",
          "label": "t:sections.promotion-banner.blocks.countdown.settings.timer_style.label"
        },
        {
          "type": "select",
          "id": "border_style",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon.options.none"
            },
            {
              "value": "border",
              "label": "t:sections.promotion-banner.blocks.countdown.settings.border.label"
            }
          ],
          "default": "border",
          "label": "t:sections.multicolumn.settings.line_border.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.all.overlay_opacity.label",
          "default": 100
        },
        {
          "type": "header",
          "content": "t:settings_schema.colors.name"
        },
        {
          "type": "color",
          "id": "timer_color_countdown",
          "label": "t:sections.promotion-banner.blocks.countdown.settings.timer_color.label",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "text_color_countdown",
          "label": "t:sections.all.text.color_text",
          "default": "#525151"
        },
        {
          "type": "color",
          "id": "bg_color_countdown",
          "label": "t:sections.all.background.background_color",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "spacing_col",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "t:sections.main-collection-product-grid.settings.spacing_column.label",
          "default": 12
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_layout_mobile"
        },
        {
          "type": "range",
          "id": "spacing_col_mobile",
          "min": 0,
          "max": 20,
          "step": 1,
          "unit": "px",
          "label": "t:sections.main-collection-product-grid.settings.spacing_column.label",
          "default": 8
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:sections.header.blocks.banner_menu.name",
      "limit": 1,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "main-menu",
          "label": "t:sections.mobile-navigation.settings.menu.label"
        },
        {
          "type": "range",
          "id": "menu_text_size",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "t:sections.promotion-banner.blocks.menu.settings.text_size.label",
          "default": 170
        },
        {
          "type": "checkbox",
          "id": "display_mobile",
          "default": false,
          "label": "t:sections.promotion-banner.blocks.menu.settings.display_mobile.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.promotion-banner.name",
      "category": "t:categories.promotions",
      "blocks": [
        {
          "type": "image_banner"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
