{% liquid
  assign size_heading = section.settings.heading_size | times: settings.heading_base_size | times: 0.000225
  if settings.edges_type == 'rounded_corners'
    assign rounded_corner = true
  endif
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
%}
{% style %}
  .heading-{{ section.id }} { 
    font-size: {{ size_heading | times: 0.6 }}rem; 
  }
  .order-list-item{
    border-bottom: 1px solid rgba(var(--colors-line-and-border));
  }
  .tooltip-item:not(:last-child) {
    border-bottom: 1px solid rgba(var(--colors-line-and-border));
  }
  .heading-order-list--{{ section.id }} { 
    font-size: {{ size_heading | times: 0.5 }}rem; 
  }
  @media screen and (min-width: 768px) {
    .heading-{{ section.id }}{ font-size: {{ size_heading }}rem; } 
    .heading-order-list--{{ section.id }}{ font-size: {{ size_heading | times: 0.65 }}rem; } 
  }
  .secondary-text {
    color: {{ settings.secondary_text }};
  }
{% endstyle %}
{% style %}
  #order-list-sticky {
    {%- if section.settings.background_color_light.alpha != 0.0 -%}
      --colors-line-and-border: {{ section.settings.background_color_light.red }}, {{ section.settings.background_color_light.green }}, {{ section.settings.background_color_light.blue }};
      --background-color: {{ section.settings.background_color_light.red }}, {{ section.settings.background_color_light.green }}, {{ section.settings.background_color_light.blue }};
    {%- else -%}
      --colors-line-and-border: {{ settings.colors_line_and_borders.red }}, {{ settings.colors_line_and_borders.green }}, {{ settings.colors_line_and_borders.blue }};
      --background-color: {{ settings.colors_background.red }}, {{ settings.colors_background.green }}, {{ settings.colors_background.blue }};
    {%- endif -%}
  }
  .dark #order-list-sticky {
    {%- if section.settings.background_color_dark.alpha != 0.0 -%}
      --background-color: {{ section.settings.background_color_dark.red }}, {{ section.settings.background_color_dark.green }}, {{ section.settings.background_color_dark.blue }};
      --colors-line-and-border: {{ section.settings.background_color_dark.red }}, {{ section.settings.background_color_dark.green }}, {{ section.settings.background_color_dark.blue }};
    {%- else -%}
      --colors-line-and-border: {{ settings.colors_dark_line_and_borders.red }}, {{ settings.colors_dark_line_and_borders.green }}, {{ settings.colors_dark_line_and_borders.blue }};
      --background-color: {{ settings.colors_dark_background.red }}, {{ settings.colors_dark_background.green }}, {{ settings.colors_dark_background.blue }};
    {%- endif -%}
  }
  #order-list-sticky, #order-list-sticky *:before {
    {% if section.settings.text_light.alpha != 0.0 %}
      --colors-text: {{ section.settings.text_light.red }}, {{ section.settings.text_light.green }}, {{ section.settings.text_light.blue }};
    {% endif %}
    {% if section.settings.button_light.alpha != 0.0 %}
      --colors-button: {{ section.settings.button_light.red }}, {{ section.settings.button_light.green }}, {{ section.settings.button_light.blue }};
    {% endif %}
    {% if section.settings.button_text_light.alpha != 0.0 %}
      --colors-button-text: {{ section.settings.button_text_light.red }}, {{ section.settings.button_text_light.green }}, {{ section.settings.button_text_light.blue }};
    {% endif %}
    {% if section.settings.button_hover_light.alpha != 0.0 %}
      --colors-button-hover: rgb({{ section.settings.button_hover_light.red }}, {{ section.settings.button_hover_light.green }}, {{ section.settings.button_hover_light.blue }});
    {% endif %}
    {% if section.settings.button_text_hover_light.alpha != 0.0 %}
      --colors-button-text-hover: {{ section.settings.button_text_hover_light.red }}, {{ section.settings.button_text_hover_light.green }}, {{ section.settings.button_text_hover_light.blue }};
    {% endif %}
    {% if section.settings.line_border.alpha != 0.0 %}
      --colors-line-and-border: {{ section.settings.line_border.red }},{{ section.settings.line_border.green }},{{ section.settings.line_border.blue }};
    {% endif %}
  }
  .dark #order-list-sticky, .dark #order-list-sticky *:before {
    {% if section.settings.text_dark.alpha != 0.0 %}
      --colors-text: {{ section.settings.text_dark.red }}, {{ section.settings.text_dark.green }}, {{ section.settings.text_dark.blue }};
    {% else %}        
      --colors-text: {{ settings.colors_dark_text.red }}, {{ settings.colors_dark_text.green }}, {{ settings.colors_dark_text.blue }};
    {% endif %}
    {% if section.settings.button_dark.alpha != 0.0 %}
      --colors-button: {{ section.settings.button_dark.red }}, {{ section.settings.button_dark.green }}, {{ section.settings.button_dark.blue }};
    {% else %}  
      --colors-button: {{ settings.colors_dark_button.red }}, {{ settings.colors_dark_button.green }}, {{ settings.colors_dark_button.blue }};
    {% endif %}
    {% if section.settings.button_text_dark.alpha != 0.0 %}
      --colors-button-text: {{ section.settings.button_text_dark.red }}, {{ section.settings.button_text_dark.green }}, {{ section.settings.button_text_dark.blue }};
    {% else %} 
      --colors-button-text: {{ settings.colors_dark_button_text.red }}, {{ settings.colors_dark_button_text.green }}, {{ settings.colors_dark_button_text.blue }}; 
    {% endif %}
    {% if section.settings.button_hover_dark.alpha != 0.0 %}
      --colors-button-hover: rgb({{ section.settings.button_hover_dark.red }}, {{ section.settings.button_hover_dark.green }}, {{ section.settings.button_hover_dark.blue }});
    {% else %}  
      --colors-button-hover: rgb({{ settings.colors_dark_button_hover.red }}, {{ settings.colors_dark_button_hover.green }}, {{ settings.colors_dark_button_hover.blue }});
    {% endif %}
    {% if section.settings.button_text_hover_dark.alpha != 0.0 %}
      --colors-button-text-hover: {{ section.settings.button_text_hover_dark.red }}, {{ section.settings.button_text_hover_dark.green }}, {{ section.settings.button_text_hover_dark.blue }};
    {% else %}  
      --colors-button-text-hover: {{ settings.colors_dark_button_text_hover.red }}, {{ settings.colors_dark_button_text_hover.green }}, {{ settings.colors_dark_button_text_hover.blue }};
    {% endif %}
    {% if section.settings.line_border_dark.alpha != 0.0 %}
      --colors-line-and-border: {{ section.settings.line_border_dark.red }},{{ section.settings.line_border_dark.green }},{{ section.settings.line_border_dark.blue }};
    {% endif %} 
  }
{% endstyle %}

{% render 'section-divider' %}
<div class="pt-[{{ section.settings.padding_top_mobile }}px] lg:pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] lg:pb-[{{ section.settings.padding_bottom }}px]">
  {%- if section.settings.heading != blank or section.settings.text != blank or section.settings.subheading != blank -%}
    {%- style -%} 
      .heading-{{ section.id }} { font-size: {{ size_heading | times: 0.6 }}rem; }
      @media screen and (min-width: 768px) {
        .heading-{{ section.id }}{ font-size: {{ size_heading }}rem; }
      }
    {%- endstyle -%}
    <div class="x-block-quick-order-list-header pl-5 pr-5 empty:hidden text-{{ section.settings.heading_alignment }} rtl:text-{% if section.settings.heading_alignment == 'center' %}center{% elsif section.settings.heading_alignment == 'left' %}right{% else %}left{% endif %}{% if section.settings.full_width %} full-width{% else %} x-pgw page-width{% endif %}">
      {% if section.settings.subheading != blank %}
        <div class="mb-1.5{% unless settings.disable_heading_animation %} overflow-hidden{% endunless %}"{% unless settings.disable_heading_animation %} x-intersect.once="$el.querySelector('.anm-move-up')?.classList.add('active-anm-heading')"{% endunless %}>
          <p class="rte{% unless settings.disable_heading_animation %} anm-move-up{% endunless %}">{{ section.settings.subheading }}</p>
        </div>
      {% endif %}
      {% if section.settings.heading != blank %}
        {% render 'heading-highlight',
          headingId: section.id,
          heading: section.settings.heading,
          highlight_type: section.settings.highlight_type,
          class: 'h2 block leading-tight',
          heading_tag: section.settings.heading_tag,
          animation_heading: true
        %}
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte mt-2 mb-6 lg:mb-12">{{ section.settings.text }}</div>
      {% endif %}
    </div>
  {%- endif -%}
  {%liquid 
    assign line_in_cart_list = ''
    assign total_price = 0
    assign total_quantity = 0

    assign style_quantity = section.settings.quantity_style
    if section.settings.quantity_style == 'adapt'
      if settings.buttons_type == 'rounded_corners' or settings.buttons_type == 'mixed'
        assign style_quantity = 'rounded-md'
      elsif settings.buttons_type == 'rounded' 
        assign style_quantity = 'rounded-full'
      else 
        assign style_quantity = 'rounded-none'
      endif
    endif
  %}
  <div id="x-quick-order-list-container" x-init="$store.xQuickOrderList.initPagination('{{ section.id }}', '{{ product.url }}')" class="mx-auto{% if section.settings.full_width %} full-width{% else %} x-pgw page-width{% endif %} pl-5 pr-5 lg:mt-12">
    <div class="flex flex-col gap-[30px]{% if section.settings.desktop_layout == "horizontal" %} lg:flex-col  lg:items-end lg:gap-[30px]{% else %} lg:flex-row lg:gap-[60px]{% endif %}">
      <div id="QuickOrderList" class="w-full flex flex-col {% if section.settings.desktop_layout == "sidebar" %} lg:w-2/3{% endif %}">
        {%- liquid
          assign variants_per_page = section.settings.variants_per_page
          if variants_per_page > 250
            assign variants_per_page = 250
          elsif variants_per_page < 1
            assign variants_per_page = 1
          endif
        -%}
        {%- paginate product.variants by variants_per_page -%}
          <table class="w-full{% if rounded_corner %} rounded-md overflow-hidden{% endif %} text-left rtl:text-right">
            <thead class="order-list-item secondary-text order-list-header hidden lg:table-header-group">
              <tr>
                <th class="pb-3 pt-3 pr-[30px] pl-4 uppercase whitespace-nowrap">{{ 'sections.quick-order-list.variant' | t }}</th>
                <th class="pb-3 pt-3 hidden lg:table-cell uppercase whitespace-nowrap">{{ 'sections.cart.headings.quantity' | t }}</th>  
                <th class="pb-3 pt-3 pr-[30px] pl-[30px] hidden lg:table-cell uppercase text-right whitespace-nowrap">{{ 'sections.cart.headings.price' | t }}</th>           
                <th class="pb-3 pt-3 pr-4 uppercase text-right whitespace-nowrap">{{ 'sections.quick-order-list.variant-total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for variant in product.variants %}
                {% liquid
                  assign check_against_inventory = true
                  assign quantity_rule_soldout = false
                  if variant.inventory_management != 'shopify' or variant.inventory_policy == 'continue'
                    assign check_against_inventory = false
                  endif
                  if variant.quantity_rule.min > variant.inventory_quantity and check_against_inventory
                    assign quantity_rule_soldout = true
                  endif

                  assign can_show_preorder = false
                  if settings.preorder_show == 'yes' or settings.preorder_show == 'on_backordered' and variant.inventory_policy == 'continue' and variant.inventory_quantity < 1 and variant.inventory_management != nil
                    if settings.applied_products_preorder == blank and settings.applied_collections_preorder == blank
                      assign can_show_preorder = true
                    else 
                      assign list_product = ''
                      for prod in settings.applied_products_preorder
                        assign list_product = list_product | append: ';' | append: prod.id
                      endfor 
                      for collec in settings.applied_collections_preorder
                        for prod in collec.products 
                          assign list_product = list_product | append: ';' | append: prod.id
                        endfor
                      endfor
                      if list_product contains variant.id 
                        assign can_show_preorder = true
                      endif
                    endif
                  endif
                  assign section_id = section.id

                  assign sold_out = false
                  if variant.available == false or quantity_rule_soldout
                    assign sold_out = true
                  endif

                  assign show_picture = false
                  if section.settings.show_images
                    if product.has_only_default_variant
                      if product.featured_media 
                        assign show_picture = true
                      endif
                    else
                      if variant.featured_media 
                        assign show_picture = true
                      endif
                    endif
                  endif
                %}
                {% liquid
                  assign quantity = 0
                  assign in_cart = false
                  assign total_variant_price = 0
                  for item in cart.items
                    if item.variant_id == variant.id
                      assign quantity = item.quantity
                      assign total_variant_price = item.final_line_price
                      assign in_cart = true
                    endif
                  endfor
                %}
                <tr id="quick-order-list-item-{{ variant.id }}" class="order-list-item" x-data="xQuickOrderListItem({{ variant | json | escape }}, {{ quantity }})">
                  <td class="pb-7 pt-7 lg:pb-6 {% if show_picture %}lg:pt-6{% else %}{% if sold_out %}align-middle lg:pt-6{% else %}align-top lg:pt-[34px]{% endif %}{% endif %} lg:pr-[30px] lg:pl-4 w-3/6">
                    <div class="flex items-start gap-4">
                      {% if section.settings.show_images %}
                        {% # theme-check-disable ImgLazyLoading %}
                        {% if product.has_only_default_variant %}
                          {% if product.featured_media %}
                            <picture class="w-[80px] h-[80px] aspect-1/1">
                              <img
                                srcset="{{ product.featured_media | image_url: width: 225 }} 225w,
                                  {{ product.featured_media | image_url: width: 375 }} 375w,
                                  {{ product.featured_media | image_url: width: 450 }} 450w,
                                  {{ product.featured_media | image_url: width: 750 }} 750w,
                                  {{ product.featured_media | image_url: width: 900 }} 900w,
                                  {{ product.featured_media | image_url: width: 1100 }} 1100w,
                                  {{ product.featured_media | image_url: width: 1500 }} 1500w
                                  {% if product.featured_media.width %},{{ product.featured_media | image_url }} {{ product.featured_media.width }}w{% endif %}" 
                                src="{{ product.featured_media | image_url: width: 1080 }}"
                                sizes="{% unless section.settings.full_width %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | times: 0.4 }}px, {% endunless %}(min-width: 767px) 40vw, calc(50vw - 50px))"
                                alt="{{ product.featured_media.alt | escape }}"
                                class="w-full h-full object-cover {% if rounded_corner %}rounded-lg{% endif %}"
                                {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                                width="{{ product.featured_media.width }}"
                                height="{{ product.featured_media.height }}"
                              >
                            </picture>
                          {% endif %}
                        {% else %}
                          {% if variant.featured_media %}
                            <picture class="w-[80px] h-[80px] aspect-1/1">
                              <img
                                srcset="{{ variant.featured_media | image_url: width: 225 }} 225w,
                                  {{ variant.featured_media | image_url: width: 375 }} 375w,
                                  {{ variant.featured_media | image_url: width: 450 }} 450w,
                                  {{ variant.featured_media | image_url: width: 750 }} 750w,
                                  {{ variant.featured_media | image_url: width: 900 }} 900w,
                                  {{ variant.featured_media | image_url: width: 1100 }} 1100w,
                                  {{ variant.featured_media | image_url: width: 1500 }} 1500w
                                  {% if variant.featured_media.width %},{{ variant.featured_media | image_url }} {{ variant.featured_media.width }}w{% endif %}" 
                                src="{{ variant.featured_media | image_url: width: 1080 }}"
                                sizes="{% unless section.settings.full_width %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | times: 0.4 }}px, {% endunless %}(min-width: 767px) 40vw, calc(50vw - 50px))"
                                alt="{{ variant.featured_media.alt | escape }}"
                                class="w-full h-full object-cover {% if rounded_corner %}rounded-lg{% endif %}"
                                {% if settings.enable_lazy_loading_image %}loading="lazy"{% else %}loading="eager"{% endif %}
                                width="{{ variant.featured_media.width }}"
                                height="{{ variant.featured_media.height }}"
                              >
                            </picture>
                          {% endif %}
                        {% endif %}
                        {% # theme-check-enable ImgLazyLoading %}
                      {% endif %}
                      <div class="flex flex-col">
                        <div>{% if product.has_only_default_variant %}{{ product.title }}{% else %}{{ variant.title }}{% endif %}</div>
                        {% if section.settings.show_skus and variant.sku != '' %}
                          <div class="secondary-text mb-3 mt-2">{{ variant.sku }}</div>
                        {% endif %}
                        <span class="block lg:hidden mb-4">{{ variant.price | money }}</span>
                        <div class="product-form__quantity w-full block lg:hidden">
                          {% if settings.show_in_cart_items != 'none' %}
                            {% if settings.hide_when_pre_order %}                   
                              <div class="hidden" id="cart-edt-{{ section_id }}">
                                {% if can_show_preorder == false %}
                                  {% render 'estimate-variant-shipping-cart', variant: variant, message: settings.message_estimate_cart %}
                                {% endif %}
                              </div>
                            {% else %}
                              <div class="hidden" id="cart-edt-{{ section_id }}">
                                {% render 'estimate-variant-shipping-cart', variant: variant, message: settings.message_estimate_cart %}
                              </div>
                            {% endif %}
                          {% endif %}
                          {% if settings.preorder_show != 'no' %}
                            <div class="hidden" id="preorder-{{ section_id }}">
                              {% if can_show_preorder %}
                                {% liquid  
                                  assign message_preorder = 'general.preorder.message_preorder' | t
                                  if settings.message_preorder != blank
                                    assign message_preorder = settings.message_preorder
                                  endif 
                                %}
                                <input name="properties[{{ 'general.preorder.name' | t }}]" class="hidden preorder-edt-properties" value="{{ message_preorder }}"/>
                              {% endif %}
                            </div>
                          {% endif %}
                          {%- if variant.available == false or quantity_rule_soldout -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- else -%}
                            <div class="w-fit relative group">
                              <div class="flex gap-3 items-center">
                                <div class="inline-flex border w-fit items-center bg-[rgba(var(--background-color),1)] {{ style_quantity }}">
                                  <button class="w-10 cursor-pointer pt-2.5 pb-2.5 bg-transparent pl-3 pr-3 select-none opacity-70" name="minus" aria-label="minus" @click.prevent="minus($event, {{ in_cart }});">
                                    {% render 'icon-alls', icon: 'icon-minus' %}
                                  </button>
                                  <input class="outer-spin-button hide-spin-input focus:outline-none w-8 lg:w-10 pt-2.5 pb-2.5 text-center bg-transparent"
                                    type="number"
                                    name="quantity"
                                    id="quick-order-list-quantity-mobile-{{ variant.id }}"
                                    min="0"
                                    x-on:change="invalid($el); onChangeQuantity($event, {{ in_cart }}, $el)"
                                    @keydown="handleKeydown($event, $el)"
                                    value="{{ quantity }}"
                                  >
                                  <button class="w-10 cursor-pointer pt-2.5 pb-2.5 pr-3 pl-3 bg-transparent select-none opacity-70" name="plus" @click.prevent="plus($event, {{ in_cart }}); " aria-label="plus">
                                    {% render 'icon-alls', icon: 'icon-plus' %}
                                  </button>
                                </div>
                                <div class="w-6 h-6 relative leading-normal cursor-pointer" @click="removeItem({{ variant.id }})" x-cloak x-show="!loadingMobile && {{ quantity }}>0">
                                  {% render 'icon-alls', icon: 'icon-trash-can' %}
                                </div>
                                <div id="loading-mobile-{{ variant.id }}" class="animate-spin w-4 h-4 lg:w-5 lg:h-5 hidden" x-cloak>
                                  {% render 'icon-alls', icon: 'icon-loading' %}
                                </div> 
                              </div>
                              <div id="LineItemErrorMobile-{{ variant.id }}" class="hidden bg-[rgba(var(--color-error),0.2)] cart-item__error mt-2 py-3 px-3.5 mb-3{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}" role="alert">
                                <p class="flex relative w-full">
                                  <span class="absolute left-0 rtl:left-auto rtl:right-0 top-1/2 -translate-y-1/2 w-3">{% render 'icon-alls', icon: 'icon-error' %}</span>
                                  <span class="cart-item__error-text text-small pl-5 rtl:pl-0 rtl:pr-5 p-break-words"></span>
                                </p>
                              </div>                         
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="pb-6 pt-6 hidden lg:table-cell pr-12 rtl:pr-0 rtl:pl-12 {% if sold_out %}align-middle{% else %}align-top{% endif %}">
                    {%- liquid
                      assign product_form_id = 'product-form-' | append: variant.id 
                      assign disable_cart_edt = false
                      if variant.gift_card? or can_show_preorder and settings.hide_when_pre_order
                        assign disable_cart_edt = true
                      endif
                    %}
                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form', x-ref: 'product_form' -%}
                      <div class="product-form__quantity w-full">
                        <input type="hidden" id="update-variant-{{ section.id }}" name="id" value="{{ variant.id }}"/>
                        {% if settings.show_in_cart_items != 'none' %}
                          {% if settings.hide_when_pre_order %}                   
                            <div class="hidden" id="cart-edt-{{ section_id }}">
                              {% if can_show_preorder == false %}
                                {% render 'estimate-variant-shipping-cart', variant: variant, message: settings.message_estimate_cart, product_form_id: product_form_id, disable_cart_edt: disable_cart_edt %}
                              {% endif %}
                            </div>
                          {% else %}
                            <div class="hidden" id="cart-edt-{{ section_id }}">
                              {% render 'estimate-variant-shipping-cart', variant: variant, message: settings.message_estimate_cart, product_form_id: product_form_id, disable_cart_edt: disable_cart_edt %}
                            </div>
                          {% endif %}
                        {% endif %}
                        {% if settings.preorder_show != 'no' %}
                          <div class="hidden" id="preorder-{{ section_id }}">
                            {% if can_show_preorder %}
                              {% liquid  
                                assign message_preorder = 'general.preorder.message_preorder' | t
                                if settings.message_preorder != blank
                                  assign message_preorder = settings.message_preorder
                                endif 
                              %}
                              <input name="properties[{{ 'general.preorder.name' | t }}]" class="hidden preorder-edt-properties" value="{{ message_preorder }}"/>
                            {% endif %}
                          </div>
                        {% endif %}
                        {%- if variant.available == false or quantity_rule_soldout -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- else -%}
                          <div class="w-fit relative group">
                            <div class="inline-flex border w-fit items-center bg-[rgba(var(--background-color),1)] {{ style_quantity }}">
                              <button class="w-10 cursor-pointer pt-2.5 pb-2.5 bg-transparent pl-3 pr-3 select-none opacity-70" name="minus" aria-label="minus" @click.prevent="minus($event, {{ in_cart }})">
                                {% render 'icon-alls', icon: 'icon-minus' %}
                              </button>
                              <input class="outer-spin-button hide-spin-input focus:outline-none w-8 lg:w-10 pt-2.5 pb-2.5 text-center bg-transparent"
                                type="number"
                                name="quantity"
                                id="quick-order-list-quantity-{{ variant.id }}"
                                min="0"
                                form="{{ product_form_id }}"
                                x-on:change="invalid($el); onChangeQuantity($event, {{ in_cart }}, $el)"
                                @keydown="handleKeydown($event, $el)"
                                value="{{ quantity }}"
                              >
                              <button class="w-10 cursor-pointer pt-2.5 pb-2.5 bg-transparent pl-3 pr-3 select-none opacity-70" name="plus" @click.prevent="plus($event, {{ in_cart }})" aria-label="plus">
                                {% render 'icon-alls', icon: 'icon-plus' %}
                              </button>
                            </div>                  
                            <div id="LineItemError-{{ variant.id }}" class="hidden bg-[rgba(var(--color-error),0.2)] cart-item__error mt-2 py-3 px-3.5 mb-3{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}" role="alert">
                              <p class="flex relative w-full">
                                <span class="absolute left-0 rtl:left-auto rtl:right-0 top-1/2 -translate-y-1/2 w-3">{% render 'icon-alls', icon: 'icon-error' %}</span>
                                <span class="cart-item__error-text text-small pl-5 rtl:pl-0 rtl:pr-5 p-break-words"></span>
                              </p>
                            </div>
                            <div class="mt-2.5" x-cloak x-show="!loading && {{ quantity }}>0">
                              <a class="nav-link effect-inline relative leading-normal cursor-pointer" @click="removeItem({{ variant.id }})">
                                {{ 'products.product.remove' | t }}
                              </a>
                            </div>
                            <div id="loading-{{ variant.id }}" class="animate-spin w-4 h-4 lg:w-5 mt-2.5 lg:h-5 hidden" x-cloak>
                              {% render 'icon-alls', icon: 'icon-loading' %}
                            </div>   
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endform -%}
                  </td>
                  <td class="pb-6 {% if sold_out %}pt-6 align-middle{% else %}pt-[34px] align-top{% endif %} pl-[30px] pr-[30px] text-right hidden lg:table-cell">
                    <span>{{ variant.price | money }}/ea</span>
                  </td>                          
                  <td class="pb-6 {% if sold_out %}pt-6 align-middle{% else %}pt-[34px] align-top{% endif %} pr-4 text-right align-top hidden lg:table-cell">
                    <span>{{ total_variant_price | money }}</span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <div class="flex justify-center items-center order-last mt-3 md:mt-7 mb-7">
              {%- if paginate.pages > 1 -%}
                <div class="flex items-center flex-wrap">
                  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                    <ul class="flex items-center justify-center lg:justify-start flex-wrap font-medium{% if section.settings.paginate_type == 'underline' %} gap-2{% else %} gap-x-4{% endif %}" role="list">
                    {%- if paginate.previous -%}
                      <li class="cursor-pointer {% if section.settings.paginate_type == 'circle' %}rotate-180{% else %}{% if is_rtl %} ml-5{% else %} mr-5{% endif %} flex{% endif %}">
                        <div @click="$store.xQuickOrderList.loadPage({% if paginate.current_page == 2 %}''{% else %}'{{ paginate.current_page | minus: 1 }}'{% endif %})" class="{% if section.settings.paginate_type == 'circle' %}md:p-4 p-3.5 block{% else %} flex items-center px-3 py-2 border-b-2 border-solid duration-200 paginate-underline{% endif %} disable-effect" aria-label="{{ 'general.pagination.previous' | t }}" data-instant-allow-query-string>
                          {% if section.settings.paginate_type == 'underline' %}
                            <span class="h-2 w-3 inline-block rotate-90 rtl:-rotate-90">
                              {% render 'icon-alls', icon: 'icon-caret' %}
                            </span>
                            <p class="{% if is_rtl %} mr-2{% else %} ml-2{% endif %}">{{ 'general.pagination.previous' | t }}</p>
                          {% else %}
                            <span class="w-4 h-4 block rtl:rotate-180">
                              {% render 'icon-alls', icon: 'icon-arrow' %}
                            </span>
                          {% endif %}
                        </div>
                      </li>
                    {%- endif -%}
                    {%- for part in paginate.parts -%}
                      {% if section.settings.paginate_type == 'circle' %}
                        <li class="cursor-pointer my-1 md:w-14 md:h-14 flex items-center justify-center">
                          {%- if part.is_link -%}
                            <div @click="$store.xQuickOrderList.loadPage('{{ part.title }}')" class="md:w-14 md:h-14 disable-effect bg-auto bg-none w-11 h-11 bg-[rgba(var(--colors-text),0.2)] rounded-full flex items-center justify-center" aria-label="{{ 'general.pagination.page' | t: number: part.title }}" data-instant-allow-query-string>
                              {{ part.title }}
                            </div>
                          {%- else -%}
                            {%- if part.title == paginate.current_page -%}
                              <p aria-disabled="true" class="button button-action boder-none md:w-14 md:h-14 w-11 h-11 rounded-full flex items-center justify-center" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</p>
                            {%- else -%}
                              <span class="pagination__item">{{ part.title }}</span>
                            {%- endif -%}
                          {%- endif -%}
                        </li>
                      {% else %}
                        <li class="flex cursor-pointer">
                          {%- if part.is_link -%}
                            <div @click="$store.xQuickOrderList.loadPage('{{ part.title }}')" class="disable-effect px-4 py-2 border-b-2 border-solid paginate-underline duration-200" aria-label="{{ 'general.pagination.page' | t: number: part.title }}" data-instant-allow-query-string>
                              {{ part.title }}
                            </div>
                          {%- else -%}
                            {%- if part.title == paginate.current_page -%}
                              <p aria-disabled="true" class="disable-effect px-4 py-2 border-b-2 border-solid paginate-underline-active" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</p>
                            {%- else -%}
                              <span class="px-4 py-2">{{ part.title }}</span>
                            {%- endif -%}
                          {%- endif -%}
                        </li>
                      {% endif %}
                    {%- endfor -%}
                    {%- if paginate.next -%}
                      <li class="cursor-pointer {% if section.settings.paginate_type == 'underline' %}{% if is_rtl %} mr-5{% else %} ml-5{% endif %} flex{% endif %}">
                        <div @click="$store.xQuickOrderList.loadPage('{{ paginate.current_page | plus: 1 }}')" class="{% if section.settings.paginate_type == 'circle' %}md:p-4 p-3.5 block{% if is_rtl %} rotate-180{% endif %}{% else %} flex items-center px-4 py-2 paginate-underline duration-200 border-b-2 border-solid{% endif %} disable-effect" aria-label="{{ 'general.pagination.next' | t }}" data-instant-allow-query-string>
                          {% if section.settings.paginate_type == 'underline' %}
                            <p class="{% if is_rtl %} ml-2{% else %} mr-2{% endif %}">{{ 'general.pagination.next' | t }}</p>
                            <span class="h-2 w-3 inline-block -rotate-90 rtl:rotate-90">
                              {% render 'icon-alls', icon: 'icon-caret' %}
                            </span>
                          {% else %}
                            <span class="w-4 h-4 block">
                              {% render 'icon-alls', icon: 'icon-arrow' %}
                            </span>
                          {% endif %}
                        </div>
                      </li>
                    {%- endif -%}
                    </ul>
                  </nav>
                </div>
              {%- else -%}
                <div class="w-auto"></div>
              {%- endif -%}
            </div>
          </table>
        {%- endpaginate -%}
      </div>
      {% style %}
        .font-heading-weight{
          font-weight: var(--font-heading-weight);
        }
      {% endstyle %}
      {% liquid 
        assign total_quantity = 0
        assign total_price = 0
        for item in cart.items
          if item.product_id == product.id
            assign total_quantity = total_quantity | plus: item.quantity
            assign total_price = total_price | plus: item.final_line_price
            assign line_in_cart = item.variant_id
            assign line_in_cart_list = line_in_cart_list | append: line_in_cart | append: ', '                  
          endif
        endfor
      %}
      <div class="{% if settings.lang_direction contains request.locale.iso_code %}rtl {% endif %}w-full lg:w-1/3 sticky bottom-14  lg:relative  lg:bottom-auto z-10">
        <div  id="order-list-sticky" class="pb-5 bg-[rgba(var(--background-color))] border-[rgb(var(--colors-line-and-border))] border-[2px]{% if rounded_corner %} rounded-2xl{% endif %}  lg:sticky top-[calc(var(--height-header)+5rem)] pl-4 pr-4 pb-4 pt-4 lg:pl-[30px] lg:pr-[30px] lg:pt-[30px] lg:pb-[30px] mt-[2px]"> 
          <div id="QuickOrderListSummary">
            <p class="text-[rgba(var(--colors-text))] mb-1 lg:mb-4 flex justify-between font-heading-weight">
              <span>{{ 'sections.quick-order-list.total-items' | t }}:</span>
              <span>{%- if total_quantity < 10 and total_quantity > 0 -%}0{{ total_quantity }}{%- elsif total_quantity == 0 -%}0{%- else -%}{{ total_quantity }}{%- endif -%}</span></p>
            <p class="text-[rgba(var(--colors-text))] mb-7 lg:mb-6 flex justify-between font-heading-weight"> 
              <span>{{ 'sections.cart.subtotal' | t }}:</span>
              <span>{{ total_price | money }}</span>
            </p>            
            <div class="mb-7 lg:mb-6">
              <a @click="$store.xQuickOrderList.clearCart([{{ line_in_cart_list }}])" 
                class="nav-link effect-inline relative leading-normal cursor-pointer" 
                x-cloak 
                x-show="!$store.xQuickOrderList.allListLoading && {{ total_quantity }}>0">
                {{ 'products.product.remove_all' | t }}
              </a>
              <div id="remove-all-loading" class="animate-spin w-4 h-4 lg:w-5 lg:h-5 hidden" x-cloak>
                {% render 'icon-alls', icon: 'icon-loading' %}
              </div> 
            </div>
          </div>
          <div class="mt-1 mb-1">
            {%- if section.settings.button_label != blank -%}
              <a href="/cart" role="link" aria-disabled="true" class="button-atc button button-solid block w-full pl-10 pr-10 pt-4 pb-4 disabled:cursor-not-allowed disabled:opacity-60 text-center">
                {% render 'button-label', button_label: section.settings.button_label, show_button_style: 'primary' %}
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ 'quick-order-list.js' | asset_url }}" defer></script> 

{% schema %}
{
  "name": "t:sections.quick-order-list.name",
  "class": "x-section-quick-order-list",
  "enabled_on": {
    "templates": ["product"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.user_guide_link.product_page.quick_order_list"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "default": "sidebar",
      "label": "t:sections.all.padding.section_padding_heading",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.featured-collection.settings.slider_style.options__1"
        },
        {
          "value": "sidebar",
          "label": "t:sections.quick-order-list.settings.desktop_layout.sidebar"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_images",
      "label": "t:sections.quick-order-list.settings.show_images.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_skus",
      "label": "t:sections.quick-order-list.settings.show_skus.label",
      "default": true
    },
    {
      "type": "select",
      "id": "quantity_style",
      "label": "t:sections.featured-product.blocks.quantity_selector.style",
      "default": "adapt",
      "options": [
        {
          "value": "adapt",
          "label": "t:settings_schema.buttons.adapt_edge_setting"
        },
        {
          "value": "square",
          "label": "t:settings_schema.products.square"
        },
        {
          "value": "rounded-md",
          "label": "t:settings_schema.buttons.rounded_corners"
        },
        {
          "value": "rounded-full",
          "label": "t:settings_schema.buttons.rounded"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Quick order list",
      "label": "t:sections.all.text.heading",
      "info": "t:settings_schema.typography.settings.heading_highlight_type.info"
    },
    {
      "type": "select",
      "id": "highlight_type",
      "default": "underline",
      "label": "t:settings_schema.typography.settings.heading_highlight_type.label",
      "options": [
        {
          "value": "underline",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__1.label"
        },
        {
          "value": "font_highlight",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__3.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "default": 100,
      "label": "t:sections.all.text.heading_size"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "t:sections.all.text.heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "center",
      "label": "t:sections.all.text.heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.text.subheading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.all.text.text"
    },
    {
      "type": "number",
      "id": "variants_per_page",      
      "default": 50,
      "label": "Variants per page"
    },
    {
      "type": "select",
      "id": "paginate_type",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.header.settings.highlight.style.option__2"
        },
        {
          "value": "underline",
          "label": "t:settings_schema.typography.settings.heading_highlight_type.option__1.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.main-collection-product-grid.settings.paginate_type.label",
      "info": "t:sections.main-collection-product-grid.settings.paginate_type.info"
    },
    {
      "type": "header",
      "content": "t:sections.quick-order-list.settings.order_list_summary.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.button.label",
      "default": "View cart"
    },
    {
      "type": "color",
      "id": "background_color_light",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.background.background_color_light"
    },
    {
      "type": "color",
      "id": "text_light",
      "label": "t:sections.all.text.color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_light",
      "label": "t:sections.all.button.primary_button_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_light",
      "label": "t:sections.all.button.primary_button_text_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_hover_light",
      "label": "t:sections.all.button.primary_button_hover_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_hover_light",
      "label": "t:sections.all.button.primary_button_hover_text_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "line_border",
      "label": "t:sections.all.text.line_border",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.all.background.background_color_dark"
    },
    {
      "type": "color",
      "id": "text_dark",
      "label": "t:sections.all.text.color_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_dark",
      "label": "t:sections.all.button.primary_button_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_dark",
      "label": "t:sections.all.button.primary_button_text_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_hover_dark",
      "label": "t:sections.all.button.primary_button_hover_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_hover_dark",
      "label": "t:sections.all.button.primary_button_hover_text_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "line_border_dark",
      "label": "t:sections.all.text.line_border_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_layout_mobile"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "default": false,
      "label": "t:sections.all.show_section_divider.label"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_top"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:sections.all.padding.padding_bottom"
    }
  ],
  "presets": [
    {
      "name": "t:sections.quick-order-list.name",
      "category": "t:categories.products"
    }
  ]
}
{% endschema %}